{#
    label - ярлык поля
    description - ярлык поля
    name - имя поля
    type - тип поля
    args - аргументы поля
    message - сообщение
    prefix - префикс перед полем
    postfix - постфикс после поля
#}
{% block input %}
    {% if name is empty %}
        {% set name = '' %}
    {% endif %}
    {% if type is empty %}
        {% set type = 'text' %}
    {% endif %}
    {% if args is empty %}
        {% set args = {} %}
    {% endif %}

    {% if parameter[name].value is not empty %}
        {% if type in ['checkbox'] and parameter[name].value == 1 %}
            {% set args = args|merge({'checked': true}) %}
        {% elseif type in ['select'] %}
            {% set args = args|merge({'selected': parameter[name].value}) %}
        {% else %}
            {% set args = args|merge({'value': parameter[name].value}) %}
        {% endif %}
    {% endif %}

    {% if args['force-value'] is not empty %}
        {% if type in ['checkbox'] and args['force-value'] == 1 %}
            {% set args = args|merge({'checked': true}) %}
        {% elseif type in ['select'] %}
            {% set args = args|merge({'selected': args['force-value']}) %}
        {% else %}
            {% set args = args|merge({'value': args['force-value']}) %}
        {% endif %}
    {% endif %}

    {% if args.method == 'null' %}
        {% if args.data is empty %}
            {% set args = args|merge({'data': {}}) %}
        {% endif %}
        {% set args = args|merge({
            'data': args.data|merge({
                'value': _request[name] is not empty ? _request[name]|e : args.value|e
            }),
            'value': null
        }) %}
    {% endif %}

    {% set error = '' %}
    {% if _error[name] is same as(false) or _error[name] is not empty %}
        {% set error = 'has-error' %}
    {% endif %}

    <div data-input class="row mb-2">
        {# COMMON LABEL #}
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            {{ label|locale|raw }}
            {% if args.required is not empty %}
                <i class="text-danger">*</i>
            {% endif %}
            {% if description is not empty %}
                <br>
                <span class="text-muted">{{ description|locale|raw }}</span>
            {% endif %}
        </div>

        {# INPUT #}
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="form-group {{ type == 'checkbox' or type == 'radio' ? type : '' }} {{ error }}">
                {# PREFIX #}
                {% if prefix is not empty or postfix is not empty %}
                    <div class="input-group">
                    {% if prefix is not empty %}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ prefix|locale|raw }}</span>
                        </div>
                    {% endif %}
                {% endif %}

                {# LABEL FOR CHECKBOX OR RADIO #}
                {% if type in ['checkbox'] %}
                    <label class="colorinput">
                        {{ form(type, name, {'class':['colorinput-input']}|merge(args)) }}
                        <span class="colorinput-color bg-primary"></span>
                    </label>
                {% else %}
                    {{ form( type, name, { 'class': ['form-control'] } | merge(args) ) }}
                {% endif %}

                {# POSTFIX #}
                {% if prefix is not empty or postfix is not empty %}
                    {% if postfix is not empty %}
                        <div class="input-group-append">
                            <span class="input-group-text">{{ postfix|locale|raw }}</span>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if error %}
                <label class="error" for="{{ label }}">{{ _error[name]|locale }}</label>
            {% endif %}

            {% if message is not empty %}
                <small class="form-text text-muted">{{ message|locale|raw }}</small>
            {% endif %}
        </div>
    </div>
{% endblock %}
