{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Настройки</h2>
                <h5 class="text-white op-7 mb-2">Всевозможные поля для ввода и каждое за что-то отвечает</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="pill" href="#common" role="tab">
                                    Общие
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="pill" href="#other-user" role="tab">
                                    Пользователи
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#catalog" role="tab">
                                    Каталог
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="pill" href="#other-guestbook" role="tab">
                                    Гостевая книга
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#plugins" role="tab">
                                    Плагины
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#variables" role="tab">
                                    Переменные
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# TAB: Common #}
                            <div class="tab-pane fade show active" id="common" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#other-common">Основные</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-mail">Почта</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-image">Изображения</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-notification">Уведомления</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Common #}
                                            <div class="tab-pane fade active show" id="other-common">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Название сайта',
                                                    'description': 'например: "Моя домашняя страница"',
                                                    'type': 'text',
                                                    'name': 'common[title]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Домашняя страница сайта',
                                                    'description': 'Укажите адрес главной страницы вашего сайта, включая слеш в конце. Например: http://yoursite.com/',
                                                    'type': 'text',
                                                    'name': 'common[homepage]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Описание (Description) сайта',
                                                    'description': 'Краткое описание, не более 200 символов',
                                                    'type': 'text',
                                                    'name': 'common[description]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Ключевые (Keywords) слова',
                                                    'description': 'Через запятую',
                                                    'type': 'textarea',
                                                    'name': 'common[keywords]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Тема оформления сайта',
                                                    'description': 'По-умолчанию: "default"',
                                                    'type': 'text',
                                                    'name': 'common[theme]',
                                                    'args': {
                                                        'placeholder': 'default',
                                                        'value': 'default'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон главной страницы',
                                                    'type': 'text',
                                                    'name': 'common[template]',
                                                    'args': {
                                                        'placeholder': 'main.twig',
                                                        'value': 'main.twig'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Часовой пояс',
                                                    'description': 'Список поддерживаемых временных зон можно посмотреть <a href="https://www.php.net/manual/ru/timezones.php" target="_blank">тут</a>',
                                                    'type': 'text',
                                                    'name': 'common[timezone]',
                                                    'args': {
                                                        'placeholder': 'Europe/Kiev',
                                                        'value': 'Europe/Kiev'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Формат времени',
                                                    'description': '',
                                                    'type': 'text',
                                                    'name': 'common[date_format]',
                                                    'args': {
                                                        'placeholder': 'j-m-Y, H:i',
                                                        'value': 'j-m-Y, H:i'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Код языка сайта',
                                                    'description': 'Используется для значения атрибута <code>&lt;html lang="ru"&gt;</code><br>' ~
                                                    'Например: <code>ru</code>, <code>ua</code>, <code>en</code>',
                                                    'type': 'text',
                                                    'name': 'common[lang]',
                                                    'args': {
                                                        'value': 'ru'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить пользователей',
                                                    'description': 'Позволяет пользователям регистрироваться на сайте',
                                                    'type': 'select',
                                                    'name': 'user[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить каталог',
                                                    'description': 'Возможность управлять категориями, товарами и заказами',
                                                    'type': 'select',
                                                    'name': 'catalog[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить формы',
                                                    'description': 'Возможность делать формы для получения заполненных анкет от клиентов',
                                                    'type': 'select',
                                                    'name': 'form[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить гостевую книгу',
                                                    'description': 'Позволяет пользователям оставлять отзывы о сайте',
                                                    'type': 'select',
                                                    'name': 'guestbook[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить загрузку файлов',
                                                    'description': 'Позволяет пользователям загружать файлы на сайт',
                                                    'type': 'select',
                                                    'name': 'file[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Автоматически генерировать адреса',
                                                    'description': 'Адреса некоторых сущностей будут автоматически включать адрес категории',
                                                    'type': 'select',
                                                    'name': 'common[auto_generate_address]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'}
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Период отображение уведомлений',
                                                    'description': 'Укажите количество часов за которые отображать уведомления',
                                                    'postfix': 'часов',
                                                    'type': 'number',
                                                    'name': 'common[notification_period]',
                                                    'args': {
                                                        'placeholder': '24',
                                                        'value': '24'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Mail #}
                                            <div class="tab-pane fade" id="other-mail">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Системный E-Mail адрес',
                                                    'description': 'От данного адреса будут отправляться сообщения сайта, например уведомления пользователей, рассылки, подтверждения и т.д. Примечание: некоторые бесплатные почтовые сервисы, например yandex.ru, требуют, чтобы в качестве E-Mail адреса отправителя был указан именно адрес, зарегистрированный на их почтовом сервисе',
                                                    'type': 'text',
                                                    'name': 'smtp[from]',
                                                    'args': {
                                                        'placeholder': 'my.site@company.com'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Имя отправителя',
                                                    'description': 'Данное имя будет прикреплено к письму в качетве имени отправителя',
                                                    'type': 'text',
                                                    'name': 'smtp[from_name]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Заголовок при отправке писем',
                                                    'description': 'При отправке писем с сайта вы можете указать заголовок, который будет добавляться к почте отправителя. Например, вы можете там указать краткое название вашего сайта',
                                                    'type': 'text',
                                                    'name': 'smtp[subject]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Хост SMTP сервера',
                                                    'description': 'Обычно — localhost',
                                                    'type': 'text',
                                                    'name': 'smtp[host]',
                                                    'args': {
                                                        'placeholder': 'smtp.yandex.ru'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Порт SMTP сервера',
                                                    'description': 'Обычно — 25',
                                                    'type': 'select',
                                                    'name': 'smtp[port]',
                                                    'args': {
                                                        'option': {'25':25, '587':587, '465':465}
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Использовать защищенный протокол для отправки писем через SMTP сервер',
                                                    'description': 'Выберите протокол шифрования при отправке писем с использованием SMTP сервера',
                                                    'type': 'select',
                                                    'name': 'smtp[secure]',
                                                    'args': {
                                                        'option': {'':'Нет', 'ssl':'SSL', 'tls':'TLS'}
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'SMTP имя пользователя',
                                                    'description': 'Не требуется в большинстве случаев, когда используется "localhost"',
                                                    'type': 'text',
                                                    'name': 'smtp[login]',
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'SMTP пароль',
                                                    'description': 'Не требуется в большинстве случаев, когда используется "localhost"',
                                                    'type': 'text',
                                                    'name': 'smtp[pass]',
                                                } %}
                                            </div>

                                            {# TAB: Other Image #}
                                            <div class="tab-pane fade" id="other-image">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Разрешить конвертацию загруженных изображений',
                                                    'description': 'Будет разрешена загрузка картинок на сервер',
                                                    'type': 'select',
                                                    'name': 'image[enable]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'}
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Размер маленькой превью копии загруженного изображения',
                                                    'description': 'Вы можете указать 0, если не хотите создавать превью копии загружаемых картинок на сервер',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_small]',
                                                    'args': {
                                                        'placeholder': '200',
                                                        'value': '200'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Размер средней копии загруженного изображения',
                                                    'description': 'Вы можете указать 0, если не хотите создавать превью копии загружаемых картинок на сервер',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_middle]',
                                                    'args': {
                                                        'placeholder': '450',
                                                        'value': '450'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Исполняемый файл ImageMagick',
                                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                                    'type': 'text',
                                                    'name': 'image[convert_bin]',
                                                    'args': {
                                                        'placeholder': '/usr/bin/convert',
                                                        'value': '/usr/bin/convert'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Notification #}
                                            <div class="tab-pane fade" id="other-notification">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включить уведомления',
                                                    'description': '',
                                                    'type': 'select',
                                                    'name': 'notification[is_enabled]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: User #}
                            <div class="tab-pane fade" id="other-user" role="tabpanel">
                                {% include 'cup/field.twig' with {
                                    'label': 'Метод авторизации на сайте',
                                    'description': 'Вы можете выбрать, каким способом будет производиться авторизация пользователей на сайте. Доступно два варианта, либо с использованием своего логина или с использованием E-mail',
                                    'type': 'select',
                                    'name': 'user[login_type]',
                                    'args': {
                                        'option': {'username':'Логин', 'email':'E-Mail', 'phone':'Телефон'}
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Шаблон страницы авторизации',
                                    'type': 'text',
                                    'name': 'user[login_template]',
                                    'args': {
                                        'placeholder': 'user.login.twig',
                                        'value': 'user.login.twig'
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Шаблон страницы регистрации',
                                    'type': 'text',
                                    'name': 'user[register_template]',
                                    'args': {
                                        'placeholder': 'user.register.twig',
                                        'value': 'user.register.twig'
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Шаблон страницы восстановления пароля',
                                    'type': 'text',
                                    'name': 'user[lostpassword_template]',
                                    'args': {
                                        'placeholder': 'user.lostpassword.twig',
                                        'value': 'user.lostpassword.twig'
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Шаблон страницы профиля пользователя',
                                    'type': 'text',
                                    'name': 'user[profile_template]',
                                    'args': {
                                        'placeholder': 'user.profile.twig',
                                        'value': 'user.profile.twig'
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Группа пользователя (по-умолчанию)',
                                    'type': 'select',
                                    'name': 'user[group]',
                                    'description': 'Новый пользователь будет автоматически добавляться в выбранную группу',
                                    'args': {
                                        'option': {'': '---'}|merge(groups.pluck('title', 'uuid').all())
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Права доступа (по-умолчанию)',
                                    'type': 'select',
                                    'name': 'user[access][]',
                                    'description': [
                                        'Указанные права доступа так же будут применены для незарегистрированного пользователя<br>',
                                        '<button class="btn btn-outline-success btn-sm mr-1" type="button" data-access-click="common">Общие</button>',
                                        '<button class="btn btn-outline-secondary btn-sm mr-1" type="button" data-access-click="cup">Панель управления</button>',
                                        '<button class="btn btn-outline-info btn-sm mr-1" type="button" data-access-click="api">API</button>',
                                        '<button class="btn btn-outline-danger btn-sm mr-1" type="button" data-access-click="none">Ничего</button>',
                                    ]|join(''),
                                    'args': {
                                        'multiple': true,
                                        'option': routes.all,
                                        'selected': routes.guest,
                                        'force-value': parameter['user[access]'].value ? parameter['user[access]'].value|split(',') : null
                                    }
                                } %}
                            </div>

                            {# TAB: Catalog #}
                            <div class="tab-pane fade" id="catalog" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#catalog-general">Основное</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-notify">Уведомления</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-import-export">Импорт и Экспорт</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-additional">Дополнительно</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Catalog General #}
                                            <div class="tab-pane fade show active" id="catalog-general">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Адрес раздела',
                                                    'type': 'text',
                                                    'name': 'catalog[address]',
                                                    'prefix': base_url() ~ '/',
                                                    'args': {
                                                        'placeholder': 'catalog',
                                                        'value': 'catalog'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон раздела',
                                                    'description': 'Значение по-умолчанию, так же это значение будет использовано для главной страницы каталога',
                                                    'type': 'text',
                                                    'name': 'catalog[category_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.category.twig',
                                                        'value': 'catalog.category.twig'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон товара',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[product_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.product.twig',
                                                        'value': 'catalog.product.twig'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон корзины',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.twig',
                                                        'value': 'catalog.cart.twig'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон заказа',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_complete_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.complete.twig',
                                                        'value': 'catalog.cart.complete.twig'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Количество товаров на страницу',
                                                    'description': 'Значение по-умолчанию, так же это значение будет использовано для ограничения количества товаров на главной странице',
                                                    'type': 'number',
                                                    'name': 'catalog[category_pagination]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Notify #}
                                            <div class="tab-pane fade" id="catalog-notify">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включение и выключение отправки письма клиенту',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_client]',
                                                    'args': {
                                                        'option': {'off':'Выключена', 'on':'Включена'},
                                                        'selected': 'off'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон письма клиенту',
                                                    'description': 'Если значения нет, письмо не будет отправляться',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_client_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.client.twig'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включение и выключение отправки письма администратору',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_admin]',
                                                    'args': {
                                                        'option': {'off':'Выключена', 'on':'Включена'},
                                                        'selected': 'off'
                                                    }
                                                } %}
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Шаблон письма администратору',
                                                    'description': 'Если значения нет, письмо не будет отправляться',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_admin_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.admin.twig'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Import #}
                                            <div class="tab-pane fade" id="catalog-import-export">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Действие',
                                                    'description': 'Необходимое действие с данными при импорте',
                                                    'type': 'select',
                                                    'name': 'catalog[import_action]',
                                                    'args': {
                                                        'selected': 'update',
                                                        'option': {
                                                            'insert': 'Вставка и обновление',
                                                            'update': 'Только обновление',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Отступ в строках',
                                                    'description': 'Количество строк, которые необходимо отступить сверху',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_rows]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Отступ в колонках',
                                                    'description': 'Количество колонок, которые необходимо отступить слева',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_cols]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Ключевое поле',
                                                    'description': 'Данное поле будет использовано для поиска товара<br>' ~
                                                                   '<b>Важно</b>: значение поля должно быть уникально!',
                                                    'type': 'select',
                                                    'name': 'catalog[import_key]',
                                                    'args': {
                                                        'option': {
                                                            'uuid': 'uuid',
                                                            'external_id': 'external_id',
                                                            'title': 'title',
                                                            'address': 'address',
                                                            'vendorcode': 'vendorcode',
                                                            'barcode': 'barcode',
                                                            'field1': 'field1',
                                                            'field2': 'field2',
                                                            'field3': 'field3',
                                                            'field4': 'field4',
                                                            'field5': 'field5',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Порядок колонок <b>Импорта</b>',
                                                    'description': 'Возможные колонки: <i>' ~ reference('/App/Domain/References/Catalog::IMPORT_FIELDS')|join(', ') ~ '</i><br>' ~
                                                                   'Пропустить колонку: <i>empty</i>',
                                                    'message': 'Алиас каждой колонки с новой строки',
                                                    'type': 'textarea',
                                                    'name': 'catalog[import_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'placeholder': ['title', 'description', 'vendorcode', 'price', 'manufacturer', 'external_id']|join("\n"),
                                                    },
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Порядок колонок <b>Экспорта</b>',
                                                    'description': 'Возможные колонки: <i>' ~ reference('/App/Domain/References/Catalog::EXPORT_FIELDS')|join(', ') ~ '</i><br>',
                                                    'message': 'Алиас каждой колонки с новой строки',
                                                    'type': 'textarea',
                                                    'name': 'catalog[export_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'placeholder': ['title', 'description', 'vendorcode', 'price', 'manufacturer', 'external_id']|join("\n"),
                                                    },
                                                } %}
                                            </div>

                                            {# TAB: Catalog Additional #}
                                            <div class="tab-pane fade" id="catalog-additional">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Обработка полей корзины',
                                                    'description': 'Дополнительные поля, переданные с корзиной, будут добавлены в конец поля комментария',
                                                    'type': 'select',
                                                    'name': 'catalog[order_fields]',
                                                    'args': {
                                                        'option': {'yes':'Да', 'no':'Нет'},
                                                        'selected': 'no'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 1',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_1]',
                                                    'args': {
                                                        'placeholder': 'Поле 1',
                                                        'value': 'Поле 1'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 2',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_2]',
                                                    'args': {
                                                        'placeholder': 'Поле 2',
                                                        'value': 'Поле 2'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 3',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_3]',
                                                    'args': {
                                                        'placeholder': 'Поле 3',
                                                        'value': 'Поле 3'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Единицы измерения',
                                                    'description': 'Каждая единица измерения на новой строке',
                                                    'type': 'textarea',
                                                    'name': 'catalog[measure]',
                                                    'message': 'Формат записи: [сокращение]: [за 1]; [за 2]; [за 5] ',
                                                    'args': {
                                                        'placeholder': 'кг: килограмм; килограмма; килограмм',
                                                        'value': [
                                                            'кг: килограмм; килограмма; килограмм',
                                                            'л: литр; литра; литров',
                                                            'шт: штука; штуки; штук',
                                                            'м: метр; метра; метров',
                                                        ]|join("\n"),
                                                        'style': 'min-height: 150px;'
                                                    }
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            {# TAB: Guestbook #}
                            <div class="tab-pane fade" id="other-guestbook" role="tabpanel">
                                {% include 'cup/field.twig' with {
                                    'label': 'Шаблон раздела',
                                    'type': 'text',
                                    'name': 'guestbook[template]',
                                    'args': {
                                        'placeholder': 'guestbook.twig',
                                        'value': 'guestbook.twig'
                                    }
                                } %}

                                {% include 'cup/field.twig' with {
                                    'label': 'Количество товаров на страницу',
                                    'type': 'number',
                                    'name': 'guestbook[pagination]',
                                    'args': {
                                        'placeholder': '10',
                                        'value': '10'
                                    }
                                } %}
                            </div>

                            {# TAB: Plugins #}
                            <div class="tab-pane fade" id="plugins" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#plugins-recaptcha">reCAPTCHA</a>

                                            {% for plugin in plugins %}
                                                <a class="nav-link" data-toggle="pill" href="#plugins-{{ plugin.getCredentials('name') }}">
                                                    {{ plugin.getCredentials('title') }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Plugin recaptcha #}
                                            <div class="tab-pane fade show active" id="plugins-recaptcha">
                                                {% include 'cup/field.twig' with {
                                                    'label': 'Включение и выключение reCAPTCHA',
                                                    'description': 'Защита от роботов',
                                                    'type': 'select',
                                                    'name': 'integration[recaptcha]',
                                                    'args': {
                                                        'option': {'off':'Выключена', 'on':'Включена'}
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Публичный ключ сервиса reCAPTCHA',
                                                    'description': 'Этот ключ будет использован в HTML-коде сайта на устройства пользователей',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_public]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAKv9EUVJxlAQTchtx2ACG6B616Eu'
                                                    }
                                                } %}

                                                {% include 'cup/field.twig' with {
                                                    'label': 'Секретный ключ сервиса reCAPTCHA',
                                                    'description': 'Этот ключ нужен для связи между сайтом и сервисом reCAPTCHA. Никому его не сообщайте',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_private]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAAx1_Lv3aKo-L1QnxE2QWhOHCgxS'
                                                    }
                                                } %}
                                            </div>

                                            {% for plugin in plugins %}
                                                {% set credentials = plugin.getCredentials() %}

                                                <div class="tab-pane fade" id="plugins-{{ plugin.getCredentials('name') }}">
                                                    <d1>
                                                        <dt>Автор</dt>
                                                        <dd>
                                                            {% if credentials.author_email %}
                                                                <a href="mailto:{{ credentials.author_email }}">{{ credentials.author }}</a>
                                                            {% else %}
                                                                {{ credentials.author }}
                                                            {% endif %}
                                                        </dd>
                                                    </d1>
                                                    {% if credentials.author_site %}
                                                        <d1>
                                                            <dt>Сайт</dt>
                                                            <dd><a href="{{ credentials.author_site }}" target="_blank">{{ credentials.author_site }}</a></dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.description %}
                                                        <d1>
                                                            <dt>Описание</dt>
                                                            <dd>{{ credentials.description|raw }}</dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.version %}
                                                        <d1>
                                                            <dt>Версия</dt>
                                                            <dd>{{ credentials.version }}</dd>
                                                        </d1>
                                                    {% endif %}

                                                    <hr>

                                                    {% set settings = plugin.getSettingsFields() %}
                                                    {% if settings is not empty %}
                                                        {% for args in settings %}
                                                            {% include 'cup/field.twig' with args %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Плагин не имеет настроек</p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: Variables #}
                            <div class="tab-pane fade" id="variables" role="tabpanel">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p>
                                            В этом разделе настроек можно задать дополнительные глобальные переменные, которые
                                            можно легко использовать в шаблоне.<br>
                                            <b>Например</b>: переменную с именем <code>my_variable</code> можно вывести на странице с помощью следущего кода:
                                            <code>&lbrace;&lbrace; parameter('var_my_variable') &rbrace;&rbrace;</code>
                                        </p>


                                        {% include 'cup/form.twig' with {
                                            'label': 'Имя новой переменной',
                                            'type': 'text',
                                            'message': 'Допустимы только латинские буквы: <code>[A-Za-z]</code>',
                                            'prefix': 'var_',
                                            'args': {
                                                'placeholder': 'my_variable',
                                                'data': {'input': 'variable'}
                                            }
                                        } %}

                                        <button type="button" class="btn btn-secondary float-right" data-click="add_variable">Добавить</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        {% for index,item in parameter %}
                                            {% if item.key starts with 'var_' and item.value %}
                                                {% include 'cup/field.twig' with {
                                                    'label': '<code>' ~ item.key ~ '</code>',
                                                    'type': 'text',
                                                    'name': index,
                                                    'args': {
                                                        'value': item.value
                                                    }
                                                } %}
                                            {% endif %}
                                        {% endfor %}

                                        {% include 'cup/field.twig' with {
                                            'label': '',
                                            'type': 'hidden',
                                            'name': 'var[]',
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
