{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Настройки'|locale }}</h2>
                <h5 class="text-white op-7 mb-2">{{ 'Всевозможные поля для ввода и каждое за что-то отвечает'|locale }}</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="pill" href="#common" role="tab">
                                    {{ 'Общие'|locale }}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="pill" href="#user" role="tab">
                                    {{ 'Пользователи'|locale }}
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#catalog" role="tab">
                                    {{ 'Каталог'|locale }}
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#plugins" role="tab">
                                    {{ 'Плагины'|locale }}
                                </a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" data-toggle="pill" href="#variables" role="tab">
                                    {{ 'Переменные'|locale }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# TAB: Common #}
                            <div class="tab-pane fade show active" id="common" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#other-common">{{ 'Основные'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-mail">{{ 'Почта'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-file">{{ 'Файлы и изображения'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-notification">{{ 'Уведомления'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-form">{{ 'Формы'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-search">{{ 'Поиск'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-guestbook">{{ 'Гостевая книга'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-api">{{ 'API'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-3 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Common #}
                                            <div class="tab-pane fade active show" id="other-common">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Сайт доступен посетителям',
                                                    'description': 'Можно использовать во время технических работ и/или инвентаризации',
                                                    'type': 'select',
                                                    'name': 'common[site_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Название сайта',
                                                    'description': 'например: "Моя домашняя страница"',
                                                    'type': 'text',
                                                    'name': 'common[title]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Домашняя страница сайта',
                                                    'description': 'Укажите адрес главной страницы вашего сайта, включая слеш в конце. Например: http://yoursite.com/',
                                                    'type': 'text',
                                                    'name': 'common[homepage]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Описание (Description) сайта',
                                                    'description': 'Краткое описание, не более 200 символов',
                                                    'type': 'text',
                                                    'name': 'common[description]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Ключевые (Keywords) слова',
                                                    'description': 'Через запятую',
                                                    'type': 'textarea',
                                                    'name': 'common[keywords]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Тема оформления сайта',
                                                    'description': 'По-умолчанию: "default"',
                                                    'type': 'text',
                                                    'name': 'common[theme]',
                                                    'args': {
                                                        'placeholder': 'default',
                                                        'value': 'default'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон главной страницы',
                                                    'type': 'text',
                                                    'name': 'common[template]',
                                                    'args': {
                                                        'placeholder': 'main.twig',
                                                        'value': 'main.twig'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Часовой пояс',
                                                    'type': 'select',
                                                    'name': 'common[timezone]',
                                                    'args': {
                                                        'option': timezone,
                                                        'selected': 'Europe/Kiev',
                                                        'data': {'search': 'true'},
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Формат времени',
                                                    'description': '',
                                                    'type': 'text',
                                                    'name': 'common[date_format]',
                                                    'args': {
                                                        'placeholder': 'j-m-Y, H:i',
                                                        'value': 'j-m-Y, H:i'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Код языка сайта',
                                                    'description': 'Используется для значения атрибута <code>&lt;html lang="ru"&gt;</code><br>' ~
                                                    'Например: <code>ru</code>, <code>ua</code>, <code>en</code>',
                                                    'type': 'text',
                                                    'name': 'common[lang]',
                                                    'args': {
                                                        'value': 'ru'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Автоматически генерировать адреса',
                                                    'description': 'Адреса некоторых сущностей будут автоматически включать адрес категории',
                                                    'type': 'select',
                                                    'name': 'common[auto_generate_address]',
                                                    'args': {
                                                        'option': _(['yes', 'no'])
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Mail #}
                                            <div class="tab-pane fade" id="other-mail">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Системный E-Mail адрес',
                                                    'description': 'От данного адреса будут отправляться сообщения сайта, например уведомления пользователей, рассылки, подтверждения и т.д. Примечание: некоторые бесплатные почтовые сервисы, например yandex.ru, требуют, чтобы в качестве E-Mail адреса отправителя был указан именно адрес, зарегистрированный на их почтовом сервисе',
                                                    'type': 'text',
                                                    'name': 'mail[from]',
                                                    'args': {
                                                        'placeholder': 'my.site@company.com'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Имя отправителя',
                                                    'description': 'Данное имя будет прикреплено к письму в качестве имени отправителя',
                                                    'type': 'text',
                                                    'name': 'mail[from_name]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Заголовок при отправке писем',
                                                    'description': 'При отправке писем с сайта вы можете указать заголовок, который будет добавляться к почте отправителя. Например, вы можете там указать краткое название вашего сайта',
                                                    'type': 'text',
                                                    'name': 'mail[subject]',
                                                } %}

                                                <ul class="nav nav-pills nav-info justify-content-end" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active show" data-toggle="pill" href="#other-mail-smtp" role="tab">
                                                            {{ 'SMTP'|locale }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link" data-toggle="pill" href="#other-mail-sendpulse" role="tab">
                                                            {{ 'SendPulse'|locale }}
                                                        </a>
                                                    </li>
                                                </ul>

                                                <hr>

                                                <div class="tab-content">

                                                    {# TAB: SMTP #}
                                                    <div class="tab-pane fade show active" id="other-mail-smtp" role="tabpanel">
                                                        <p>
                                                            {% locale %}
                                                                Настроить SMTP сервер для своего домена можно в сервисе
                                                            {% endlocale %}
                                                            <a href="https://360.yandex.ru/business/" target="_blank">{{ 'Яндекс 360 для бизнеса'|locale }}</a>.
                                                        </p>

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Хост SMTP сервера',
                                                            'description': 'Обычно — localhost',
                                                            'type': 'text',
                                                            'name': 'smtp[host]',
                                                            'args': {
                                                                'placeholder': 'smtp.yandex.ru'
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Порт SMTP сервера',
                                                            'description': 'Обычно — 465',
                                                            'type': 'select',
                                                            'name': 'smtp[port]',
                                                            'args': {
                                                                'option': {'25':25, '587':587, '465':465}
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Использовать защищенный протокол для отправки писем через SMTP сервер',
                                                            'description': 'Выберите протокол шифрования при отправке писем с использованием SMTP сервера',
                                                            'type': 'select',
                                                            'name': 'smtp[secure]',
                                                            'args': {
                                                                'option': {'':'---', 'ssl':'SSL', 'tls':'TLS'}
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP имя пользователя',
                                                            'description': 'Не требуется в большинстве случаев, когда используется "localhost"',
                                                            'type': 'text',
                                                            'name': 'smtp[login]',
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP пароль',
                                                            'description': 'Не требуется в большинстве случаев, когда используется "localhost"',
                                                            'type': 'text',
                                                            'name': 'smtp[pass]',
                                                        } %}
                                                    </div>

                                                    {# TAB: SendPulse #}
                                                    <div class="tab-pane fade" id="other-mail-sendpulse" role="tabpanel">
                                                        <p>
                                                            {% locale %}
                                                            Необходимые параметры можно найти в настройках аккаунта, во
                                                            {% endlocale %}
                                                            <a href="https://login.sendpulse.com/settings/#api" target="_blank">{{ 'вкладке API'|locale }}</a>.
                                                        </p>

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Client ID',
                                                            'type': 'text',
                                                            'name': 'sendpulse[id]',
                                                            'args': {
                                                                'placeholder': '70e07ce45532e8acae69f385de908449'
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Client Secret',
                                                            'type': 'password',
                                                            'name': 'sendpulse[secret]',
                                                            'args': {
                                                                'placeholder': '5d8f75e2ea712abccc5b9bfcc9453acc'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>

                                            {# TAB: Other Files and Image #}
                                            <div class="tab-pane fade" id="other-file">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить загрузку файлов',
                                                    'description': 'Позволяет пользователям загружать файлы на сайт',
                                                    'type': 'select',
                                                    'name': 'file[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Разрешить конвертацию загруженных изображений',
                                                    'description': 'Будет разрешена загрузка картинок на сервер',
                                                    'type': 'select',
                                                    'name': 'image[enable]',
                                                    'args': {
                                                        'option': _(['yes', 'no'])
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Минимальный размер файла',
                                                    'description': 'Файлы меньшего размера не будут подвергаться конвертации',
                                                    'postfix': 'b',
                                                    'type': 'number',
                                                    'name': 'image[convert_min_size]',
                                                    'args': {
                                                        'placeholder': '100000',
                                                        'value': '100000'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Размер маленькой превью копии загруженного изображения',
                                                    'description': 'Вы можете указать 0, если не хотите создавать превью копии загружаемых картинок на сервер',
                                                    'postfix': 'px',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_small]',
                                                    'args': {
                                                        'placeholder': '200',
                                                        'value': '200'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Размер средней копии загруженного изображения',
                                                    'description': 'Вы можете указать 0, если не хотите создавать превью копии загружаемых картинок на сервер',
                                                    'postfix': 'px',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_middle]',
                                                    'args': {
                                                        'placeholder': '450',
                                                        'value': '450'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Исполняемый файл ImageMagick',
                                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                                    'type': 'text',
                                                    'name': 'image[convert_bin]',
                                                    'args': {
                                                        'placeholder': '/usr/bin/convert',
                                                        'value': '/usr/bin/convert'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Параметры ImageMagick',
                                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                                    'type': 'textarea',
                                                    'name': 'image[convert_args]',
                                                    'args': {
                                                        'placeholder': '...',
                                                        'value': [
                                                            '-quality 70%',
                                                            '-filter Lanczos',
                                                            '-gaussian-blur 0.05',
                                                            '-sampling-factor 4:2:0',
                                                            '-colorspace RGB',
                                                            '-interlace Plane',
                                                            '-strip',
                                                            '-depth 8',
                                                            '-в',
                                                            '-background white',
                                                            '-alpha remove',
                                                            '-alpha off'
                                                        ]|join('\n'),
                                                        'style': 'min-height: 150px;'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Notification #}
                                            <div class="tab-pane fade" id="other-notification">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить уведомления',
                                                    'description': '',
                                                    'type': 'select',
                                                    'name': 'notification[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Период отображение уведомлений',
                                                    'description': 'Укажите количество часов за которые отображать уведомления',
                                                    'postfix': 'часов',
                                                    'type': 'number',
                                                    'name': 'common[notification_period]',
                                                    'args': {
                                                        'placeholder': '24',
                                                        'value': '24'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Form #}
                                            <div class="tab-pane fade" id="other-form">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить формы',
                                                    'description': 'Возможность делать формы для получения заполненных анкет от клиентов',
                                                    'type': 'select',
                                                    'name': 'form[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Search #}
                                            <div class="tab-pane fade" id="other-search">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить поиск',
                                                    'description': '',
                                                    'type': 'select',
                                                    'name': 'search[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон страницы поиска',
                                                    'type': 'text',
                                                    'name': 'search[template]',
                                                    'args': {
                                                        'placeholder': 'search.twig',
                                                        'value': 'search.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Количество результатов',
                                                    'description': 'Максимальное количество результатов при поиске',
                                                    'type': 'number',
                                                    'name': 'search[limit]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Guestbook #}
                                            <div class="tab-pane fade" id="other-guestbook">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить гостевую книгу',
                                                    'description': 'Позволяет пользователям оставлять отзывы о сайте',
                                                    'type': 'select',
                                                    'name': 'guestbook[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон раздела',
                                                    'type': 'text',
                                                    'name': 'guestbook[template]',
                                                    'args': {
                                                        'placeholder': 'guestbook.twig',
                                                        'value': 'guestbook.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Количество товаров на страницу',
                                                    'type': 'number',
                                                    'name': 'guestbook[pagination]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: API #}
                                            <div class="tab-pane fade" id="other-api">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить доступ к API',
                                                    'description': 'Позволяет программно получать данные с сайта',
                                                    'type': 'select',
                                                    'name': 'entity[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Доступ к API',
                                                    'description': 'Разграничивает права доступа',
                                                    'type': 'select',
                                                    'name': 'entity[access]',
                                                    'args': {
                                                        'option': _(['all', 'key', 'user']),
                                                        'selected': 'user'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Ключи доступа к API',
                                                    'description': [
                                                            'Возможность вносить изменения по API есть только при наличии ключа<br>',
                                                            '<button class="btn btn-outline-info btn-sm" type="button" data-entity-click="add">Добавить новый</button>',
                                                        ]|join(''),
                                                    'message': 'Каждый ключ с новой строки',
                                                    'type': 'textarea',
                                                    'name': 'entity[keys]',
                                                    'args': {
                                                        'style': 'height: 100px!important;'
                                                    },
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: User #}
                            <div class="tab-pane fade" id="user" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#user-common">{{ 'Основные'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-template">{{ 'Шаблоны'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-access">{{ 'Группа и права доступа'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-auth">{{ 'Параметры входа'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: User common #}
                                            <div class="tab-pane fade active show" id="user-common">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить пользователей',
                                                    'description': 'Позволяет пользователям регистрироваться на сайте',
                                                    'type': 'select',
                                                    'name': 'user[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Template #}
                                            <div class="tab-pane fade" id="user-template">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон страницы авторизации',
                                                    'type': 'text',
                                                    'name': 'user[login_template]',
                                                    'args': {
                                                        'placeholder': 'user.login.twig',
                                                        'value': 'user.login.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон страницы регистрации',
                                                    'type': 'text',
                                                    'name': 'user[register_template]',
                                                    'args': {
                                                        'placeholder': 'user.register.twig',
                                                        'value': 'user.register.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон страницы восстановления пароля',
                                                    'type': 'text',
                                                    'name': 'user[lostpassword_template]',
                                                    'args': {
                                                        'placeholder': 'user.lostpassword.twig',
                                                        'value': 'user.lostpassword.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон страницы профиля пользователя',
                                                    'type': 'text',
                                                    'name': 'user[profile_template]',
                                                    'args': {
                                                        'placeholder': 'user.profile.twig',
                                                        'value': 'user.profile.twig'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Access #}
                                            <div class="tab-pane fade" id="user-access">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Группа пользователя (по-умолчанию)',
                                                    'type': 'select',
                                                    'name': 'user[group]',
                                                    'description': 'Новый пользователь будет автоматически добавляться в выбранную группу',
                                                    'args': {
                                                        'option': {'': '---'}|merge(groups.pluck('title', 'uuid').all())
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Права доступа (по-умолчанию)',
                                                    'type': 'select',
                                                    'name': 'user[access][]',
                                                    'description': [
                                                        'Указанные права доступа так же будут применены для незарегистрированного пользователя<br>',
                                                        '<button class="btn btn-outline-success btn-sm mr-1" type="button" data-access-click="common">Общие</button>',
                                                        '<button class="btn btn-outline-secondary btn-sm mr-1" type="button" data-access-click="cup">Панель управления</button>',
                                                        '<button class="btn btn-outline-danger btn-sm mr-1" type="button" data-access-click="none">Ничего</button>',
                                                    ]|join(''),
                                                    'args': {
                                                        'multiple': true,
                                                        'option': routes.all,
                                                        'selected': routes.guest,
                                                        'force-value': parameter['user[access]'].value ? parameter['user[access]'].value|split(',') : null
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Auth #}
                                            <div class="tab-pane fade" id="user-auth">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Метод авторизации на сайте',
                                                    'description': 'Вы можете выбрать, каким способом будет производиться авторизация пользователей на сайте. Доступно два варианта, либо с использованием своего логина или с использованием E-mail',
                                                    'type': 'select',
                                                    'name': 'user[login_type]',
                                                    'args': {
                                                        'option': _(['username', 'email', 'phone'])
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Запрещенные домены для регистрации',
                                                    'type': 'textarea',
                                                    'name': 'user[banned_email]',
                                                    'message': 'Каждый домен с новой строки',
                                                    'args': {
                                                        'style': 'height: 100px!important;',
                                                        'placeholder': '@mail.ru'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить вход через код',
                                                    'description': 'При авторизации пользователя будет возможность подтверждения личности через высланный на почту код',
                                                    'type': 'select',
                                                    'name': 'user[auth_code_is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон письма для авторизации с кодом',
                                                    'type': 'text',
                                                    'name': 'user[auth_code_mail_template]',
                                                    'args': {
                                                        'placeholder': 'user.mail.code.twig',
                                                        'value': 'user.mail.code.twig'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить вход через Facebook',
                                                    'description': 'Позволяет пользователям регистрироваться и входить на сайт с помощью социальной сети',
                                                    'type': 'select',
                                                    'name': 'user[auth_facebook_is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'App ID',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_facebook_app_id]'
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'App Secret',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_facebook_app_secret]'
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Proxy URL',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_facebook_proxy]',
                                                    'args': {
                                                        'value': base_url() ~ '/user/login?provider=facebook'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить вход через VK',
                                                    'description': 'Позволяет пользователям регистрироваться и входить на сайт с помощью социальной сети',
                                                    'type': 'select',
                                                    'name': 'user[auth_vk_is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'App ID',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_vk_app_id]'
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'App Secret',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_vk_app_secret]'
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Proxy URL',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Требуется внимательная проверка значения!"></i>',
                                                    'type': 'text',
                                                    'name': 'user[auth_vk_proxy]',
                                                    'args': {
                                                        'value': base_url() ~ '/user/login?provider=vk'
                                                    }
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: Catalog #}
                            <div class="tab-pane fade" id="catalog" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#catalog-general">{{ 'Основное'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-notify">{{ 'Уведомления'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-import-export">{{ 'Импорт и Экспорт'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-additional">{{ 'Дополнительно'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Catalog General #}
                                            <div class="tab-pane fade show active" id="catalog-general">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включить каталог',
                                                    'description': 'Возможность управлять категориями, товарами и заказами',
                                                    'type': 'select',
                                                    'name': 'catalog[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Адрес раздела',
                                                    'type': 'text',
                                                    'name': 'catalog[address]',
                                                    'prefix': base_url() ~ '/',
                                                    'args': {
                                                        'placeholder': 'catalog',
                                                        'value': 'catalog'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон раздела',
                                                    'description': 'Значение по-умолчанию, так же это значение будет использовано для главной страницы каталога',
                                                    'type': 'text',
                                                    'name': 'catalog[category_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.category.twig',
                                                        'value': 'catalog.category.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон товара',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[product_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.product.twig',
                                                        'value': 'catalog.product.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон корзины',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.twig',
                                                        'value': 'catalog.cart.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон заказа',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_complete_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.complete.twig',
                                                        'value': 'catalog.cart.complete.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Критерий сортировки товаров',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'select',
                                                    'name': 'catalog[sort_by]',
                                                    'args': {
                                                        'option': _(reference('/App/Domain/References/Catalog::ORDER_BY')),
                                                        'selected': 'title'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Порядок сортировки товаров',
                                                    'description': 'Значение по-умолчанию',
                                                    'type': 'select',
                                                    'name': 'catalog[sort_direction]',
                                                    'args': {
                                                        'option': _(reference('/App/Domain/References/Catalog::ORDER_DIRECTION')),
                                                        'selected': 'ASC'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Количество товаров на страницу',
                                                    'description': 'Значение по-умолчанию, так же это значение будет использовано для ограничения количества товаров на главной странице',
                                                    'type': 'number',
                                                    'name': 'catalog[category_pagination]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Notify #}
                                            <div class="tab-pane fade" id="catalog-notify">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включение и выключение отправки письма клиенту',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_client]',
                                                    'args': {
                                                        'option': _(['off', 'on']),
                                                        'selected': 'off'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон письма клиенту',
                                                    'description': 'Если значения нет, письмо не будет отправляться',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_client_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.client.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включение и выключение отправки письма администратору',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_admin]',
                                                    'args': {
                                                        'option': _(['off', 'on']),
                                                        'selected': 'off'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Шаблон письма администратору',
                                                    'description': 'Если значения нет, письмо не будет отправляться',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_admin_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.admin.twig'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Import #}
                                            <div class="tab-pane fade" id="catalog-import-export">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Действие',
                                                    'description': 'Необходимое действие с данными при импорте',
                                                    'type': 'select',
                                                    'name': 'catalog[import_action]',
                                                    'args': {
                                                        'selected': 'update',
                                                        'option': {
                                                            'insert': 'Вставка и обновление',
                                                            'update': 'Только обновление',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Отступ в строках',
                                                    'description': 'Количество строк, которые необходимо отступить сверху',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_rows]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Отступ в колонках',
                                                    'description': 'Количество колонок, которые необходимо отступить слева',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_cols]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Ключевое поле',
                                                    'description': 'Данное поле будет использовано для поиска товара<br>' ~
                                                                   '<b>Важно</b>: значение поля должно быть уникально!',
                                                    'type': 'select',
                                                    'name': 'catalog[import_key]',
                                                    'args': {
                                                        'option': {
                                                            'uuid': 'uuid',
                                                            'external_id': 'external_id',
                                                            'title': 'title',
                                                            'address': 'address',
                                                            'vendorcode': 'vendorcode',
                                                            'barcode': 'barcode',
                                                            'field1': 'field1',
                                                            'field2': 'field2',
                                                            'field3': 'field3',
                                                            'field4': 'field4',
                                                            'field5': 'field5',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Порядок колонок <b>Импорта</b>',
                                                    'description': 'Возможные колонки: <i>' ~ reference('/App/Domain/References/Catalog::IMPORT_FIELDS')|merge(attributes.pluck('address'))|join(', ') ~ '</i><br>' ~
                                                                   'Пропустить колонку: <i>empty</i>',
                                                    'message': 'Алиас каждой колонки с новой строки',
                                                    'type': 'textarea',
                                                    'name': 'catalog[import_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'value': reference('/App/Domain/References/Catalog::IMPORT_EXPORT_FIELDS_DEFAULT')|join("\n"),
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Порядок колонок <b>Экспорта</b>',
                                                    'description': 'Возможные колонки: <i>' ~ reference('/App/Domain/References/Catalog::EXPORT_FIELDS')|merge(attributes.pluck('address'))|join(', ') ~ '</i><br>',
                                                    'message': 'Алиас каждой колонки с новой строки',
                                                    'type': 'textarea',
                                                    'name': 'catalog[export_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'value': reference('/App/Domain/References/Catalog::IMPORT_EXPORT_FIELDS_DEFAULT')|join("\n"),
                                                    },
                                                } %}
                                            </div>

                                            {# TAB: Catalog Additional #}
                                            <div class="tab-pane fade" id="catalog-additional">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Обработка полей корзины',
                                                    'description': 'Дополнительные поля, переданные с корзиной, будут добавлены в конец поля комментария',
                                                    'type': 'select',
                                                    'name': 'catalog[order_fields]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 1',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_1]',
                                                    'args': {
                                                        'placeholder': 'Поле 1',
                                                        'value': 'Поле 1'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 2',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_2]',
                                                    'args': {
                                                        'placeholder': 'Поле 2',
                                                        'value': 'Поле 2'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Дополнительное поле',
                                                    'description': 'Поле 3',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_3]',
                                                    'args': {
                                                        'placeholder': 'Поле 3',
                                                        'value': 'Поле 3'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Объёмный вес',
                                                    'description': [
                                                        'Коэффициент-делителя',
                                                        'Ш(см) &times; В(см) &times; Д(см) / X = ОВ(кг)'
                                                    ]|join('<br>'),
                                                    'type': 'number',
                                                    'name': 'catalog[dimensional_weight]',
                                                    'prefix': 'X',
                                                    'args': {
                                                        'value': '5000',
                                                        'list': 'dimensional_weight',
                                                    }
                                                } %}

                                                <datalist id="dimensional_weight">
                                                    <option value="4000">4000 cm3/kg</option>
                                                    <option value="5000">5000 cm3/kg</option>
                                                    <option value="6000">6000 cm3/kg</option>
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {# TAB: Plugins #}
                            <div class="tab-pane fade" id="plugins" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#plugins-recaptcha">reCAPTCHA</a>

                                            {% for plugin in plugins %}
                                                <a class="nav-link" data-toggle="pill" href="#plugins-{{ plugin.getCredentials('name') }}">
                                                    {{ plugin.getCredentials('title')|locale }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Plugin recaptcha #}
                                            <div class="tab-pane fade show active" id="plugins-recaptcha">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Включение и выключение reCAPTCHA',
                                                    'description': 'Защита от роботов',
                                                    'type': 'select',
                                                    'name': 'integration[recaptcha]',
                                                    'args': {
                                                        'option': _(['off', 'on'])
                                                    }
                                                } %}

                                                <hr/>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Публичный ключ сервиса reCAPTCHA',
                                                    'description': 'Этот ключ будет использован в HTML-коде сайта на устройства пользователей',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_public]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAKv9EUVJxlAQTchtx2ACG6B616Eu'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Секретный ключ сервиса reCAPTCHA',
                                                    'description': 'Этот ключ нужен для связи между сайтом и сервисом reCAPTCHA. Никому его не сообщайте',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_private]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAAx1_Lv3aKo-L1QnxE2QWhOHCgxS'
                                                    }
                                                } %}
                                            </div>

                                            {% for plugin in plugins %}
                                                {% set credentials = plugin.getCredentials() %}

                                                <div class="tab-pane fade" id="plugins-{{ plugin.getCredentials('name') }}">
                                                    <d1>
                                                        <dt>{{ 'Автор'|locale }}</dt>
                                                        <dd>
                                                            {% if credentials.author_email %}
                                                                <a href="mailto:{{ credentials.author_email }}">{{ credentials.author }}</a>
                                                            {% else %}
                                                                {% for author in credentials.author|split(';') %}
                                                                    {{ author|trim }}<br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </dd>
                                                    </d1>
                                                    {% if credentials.author_site %}
                                                        <d1>
                                                            <dt>{{ 'Сайт'|locale }}</dt>
                                                            <dd>
                                                                {% for link in credentials.author_site|split(';') %}
                                                                    <a href="{{ link|trim }}" target="_blank">{{ link|trim }}</a><br>
                                                                {% endfor %}
                                                            </dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.description %}
                                                        <d1>
                                                            <dt>{{ 'Описание'|locale }}</dt>
                                                            <dd>{{ credentials.description|locale|raw }}</dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.version %}
                                                        <d1>
                                                            <dt>{{ 'Версия'|locale }}</dt>
                                                            <dd>{{ credentials.version }}</dd>
                                                        </d1>
                                                    {% endif %}

                                                    <hr>

                                                    {% set settings = plugin.getSettingsFields() %}
                                                    {% if settings is not empty %}
                                                        {% for args in settings %}
                                                            {% include 'cup/parameters/field.twig' with args %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>{{ 'Плагин не имеет настроек'|locale }}</p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: Variables #}
                            <div class="tab-pane fade" id="variables" role="tabpanel">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p>
                                            {% locale %}
                                                В этом разделе настроек можно задать дополнительные глобальные переменные, которые
                                                можно легко использовать в шаблоне.
                                            {% endlocale %}<br>
                                            <b>{{ 'Например'|locale }}</b>:
                                            {{ 'переменную с именем'|locale }} <code>my_variable</code>
                                            {{ 'можно вывести на странице с помощью следующего кода:'|locale }}
                                            <br>
                                            <code>&lbrace;&lbrace; parameter('var_my_variable') &rbrace;&rbrace;</code>
                                        </p>


                                        {% include 'cup/form.twig' with {
                                            'label': 'Имя новой переменной'|locale,
                                            'type': 'text',
                                            'message': 'Допустимы только латинские буквы: <code>[A-Za-z]</code>'|locale,
                                            'prefix': 'var_',
                                            'args': {
                                                'placeholder': 'my_variable',
                                                'data': {'input': 'variable'}
                                            }
                                        } %}

                                        <button type="button" class="btn btn-secondary float-right" data-click="add_variable">{{ 'Добавить'|locale }}</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        {% for index,item in parameter %}
                                            {% if item.key starts with 'var_' and item.value %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': '<code>' ~ item.key ~ '</code>',
                                                    'type': 'text',
                                                    'name': index,
                                                    'args': {
                                                        'value': item.value
                                                    }
                                                } %}
                                            {% endif %}
                                        {% endfor %}

                                        {% include 'cup/parameters/field.twig' with {
                                            'label': '',
                                            'type': 'hidden',
                                            'name': 'var[]',
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary">{{ 'Сохранить'|locale }}</button>
                        <a href="/cup/system" class="btn btn-outline-danger btn-round float-right">{{ 'Установка и обновление'|locale }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
