{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Settings'|locale }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#common" role="tab">
                                        {{ 'Common'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#user" role="tab">
                                        {{ 'Members'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#catalog" role="tab">
                                        {{ 'Catalog'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#plugins" role="tab">
                                        {{ 'Plugins'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#variables" role="tab">
                                        {{ 'Variables'|locale }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# TAB: Common #}
                            <div class="tab-pane fade show active" id="common" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#other-common">{{ 'Main'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-mail">{{ 'Mail'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-file">{{ 'Files and images'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-notification">{{ 'Notifications'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-publication">{{ 'Publications'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-page">{{ 'Pages'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-form">{{ 'Forms'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-search">{{ 'Search Options'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-guestbook">{{ 'Guestbook'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#other-api">{{ 'API'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-3 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Common #}
                                            <div class="tab-pane fade active show" id="other-common">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'The site is available to visitors',
                                                    'description': 'Can be used during maintenance and / or inventory',
                                                    'type': 'select',
                                                    'name': 'common[site_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Site title',
                                                    'description': 'for example: "My home page"',
                                                    'type': 'text',
                                                    'name': 'common[title]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Home page address',
                                                    'description': 'Enter the address of the home page of your site, including a slash at the end. For example: http://yoursite.com/',
                                                    'type': 'text',
                                                    'name': 'common[homepage]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Description (Description) of the site',
                                                    'description': 'Short description, no more than 200 characters',
                                                    'type': 'text',
                                                    'name': 'common[description]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Key words',
                                                    'description': 'Comma separated',
                                                    'type': 'textarea',
                                                    'name': 'common[keywords]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Theme name',
                                                    'description': 'Default: "default"',
                                                    'type': 'text',
                                                    'name': 'common[theme]',
                                                    'args': {
                                                        'placeholder': 'default',
                                                        'value': 'default'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Theme auto-update',
                                                    'description': 'The system will check for changes in the theme',
                                                    'type': 'select',
                                                    'name': 'common[theme_reload]',
                                                    'message': 'May increase server load, not recommended in <code>Production</code> mode',
                                                    'args': {
                                                        'option': _(['off', 'on']),
                                                        'selected': 'off'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Home page template',
                                                    'type': 'text',
                                                    'name': 'common[template]',
                                                    'args': {
                                                        'placeholder': 'main.twig',
                                                        'value': 'main.twig'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Timezone',
                                                    'type': 'select',
                                                    'name': 'common[timezone]',
                                                    'args': {
                                                        'option': timezone,
                                                        'selected': 'Europe/Kiev',
                                                        'data': {'search': 'true'},
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Time format',
                                                    'description': '',
                                                    'type': 'text',
                                                    'name': 'common[date_format]',
                                                    'args': {
                                                        'placeholder': 'j-m-Y, H:i',
                                                        'value': 'j-m-Y, H:i'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Site language (code)',
                                                    'description': [
                                                        'Sets the language of the site and the value of the attribute <code>&lt;html lang="en"&gt;</code>',
                                                        'For example: <code>en-US</code>'
                                                    ]|locale|join('<br>'),
                                                    'type': 'text',
                                                    'name': 'common[language]',
                                                    'args': {
                                                        'value': _language ?? 'ru-RU'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Automatically generate addresses',
                                                    'description': 'Some entity addresses will automatically include the category address',
                                                    'type': 'select',
                                                    'name': 'common[auto_generate_address]',
                                                    'args': {
                                                        'option': _(['yes', 'no'])
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Mail #}
                                            <div class="tab-pane fade" id="other-mail">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'System E-Mail Address',
                                                    'description': 'From this address, site messages will be sent, for example, user notifications, mailings, confirmations, etc. Note: some free mail services, for example yandex.ru, require that the address registered on their mail service be specified as the sender E-Mail address.',
                                                    'type': 'text',
                                                    'name': 'mail[from]',
                                                    'args': {
                                                        'placeholder': 'my.site@company.com'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Sender name',
                                                    'description': 'This name will be attached to the letter as the name of the sender',
                                                    'type': 'text',
                                                    'name': 'mail[from_name]',
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Email subject',
                                                    'description': 'When sending letters from the site, you can specify a header that will be added to the sender mail. For example, you can specify the short name of your site there.',
                                                    'type': 'text',
                                                    'name': 'mail[subject]',
                                                } %}

                                                <ul class="nav nav-pills nav-info justify-content-end" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active show" data-toggle="pill" href="#other-mail-smtp" role="tab">
                                                            {{ 'SMTP'|locale }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link" data-toggle="pill" href="#other-mail-sendpulse" role="tab">
                                                            {{ 'SendPulse'|locale }}
                                                        </a>
                                                    </li>
                                                </ul>

                                                <hr>

                                                <div class="tab-content">

                                                    {# TAB: SMTP #}
                                                    <div class="tab-pane fade show active" id="other-mail-smtp" role="tabpanel">
                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP server host',
                                                            'description': 'Usually - localhost',
                                                            'type': 'text',
                                                            'name': 'smtp[host]',
                                                            'args': {
                                                                'placeholder': 'smtp.gmail.com'
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP server port',
                                                            'description': 'Usually — 465',
                                                            'type': 'select',
                                                            'name': 'smtp[port]',
                                                            'args': {
                                                                'option': {'25':25, '587':587, '465':465}
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Use secure protocol to send emails through SMTP server',
                                                            'description': 'Select the encryption protocol when sending emails using an SMTP server',
                                                            'type': 'select',
                                                            'name': 'smtp[secure]',
                                                            'args': {
                                                                'option': {'':'---', 'ssl':'SSL', 'tls':'TLS'}
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP username',
                                                            'description': 'Not required in most cases when using "localhost"',
                                                            'type': 'text',
                                                            'name': 'smtp[login]',
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'SMTP password',
                                                            'description': 'Not required in most cases when using "localhost"',
                                                            'type': 'text',
                                                            'name': 'smtp[pass]',
                                                        } %}
                                                    </div>

                                                    {# TAB: SendPulse #}
                                                    <div class="tab-pane fade" id="other-mail-sendpulse" role="tabpanel">
                                                        <p>
                                                            {% locale %}
                                                                The required parameters can be found in
                                                                the account settings, in
                                                            {% endlocale %}
                                                            <a href="https://login.sendpulse.com/settings/#api" target="_blank">{{ 'the API tab'|locale }}</a>.
                                                        </p>

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Client ID',
                                                            'type': 'text',
                                                            'name': 'sendpulse[id]',
                                                            'args': {
                                                                'placeholder': '70e07ce45532e8acae69f385de908449'
                                                            }
                                                        } %}

                                                        {% include 'cup/parameters/field.twig' with {
                                                            'label': 'Client Secret',
                                                            'type': 'text',
                                                            'name': 'sendpulse[secret]',
                                                            'args': {
                                                                'placeholder': '5d8f75e2ea712abccc5b9bfcc9453acc'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>

                                            {# TAB: Other Files and Image #}
                                            <div class="tab-pane fade" id="other-file">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable File Upload',
                                                    'description': 'Allows users to upload files to the site',
                                                    'type': 'select',
                                                    'name': 'file[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Allow conversion of uploaded images',
                                                    'description': 'Uploading images to the server will be allowed',
                                                    'type': 'select',
                                                    'name': 'image[enable]',
                                                    'args': {
                                                        'option': _(['yes', 'no'])
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Minimum file size',
                                                    'description': 'Smaller files will not be converted',
                                                    'postfix': 'b',
                                                    'type': 'number',
                                                    'name': 'image[convert_min_size]',
                                                    'args': {
                                                        'placeholder': '100000',
                                                        'value': '100000'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Size of a small preview of a copy of the uploaded image',
                                                    'description': 'You can specify 0 if you do not want to create preview copies of uploaded images to the server',
                                                    'postfix': 'px',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_small]',
                                                    'args': {
                                                        'placeholder': '200',
                                                        'value': '200'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Average copy size of uploaded image',
                                                    'description': 'You can specify 0 if you do not want to create preview copies of uploaded images to the server',
                                                    'postfix': 'px',
                                                    'type': 'number',
                                                    'name': 'image[convert_size_middle]',
                                                    'args': {
                                                        'placeholder': '450',
                                                        'value': '450'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'ImageMagick executable',
                                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                                    'type': 'text',
                                                    'name': 'image[convert_bin]',
                                                    'args': {
                                                        'placeholder': '/usr/bin/convert',
                                                        'value': '/usr/bin/convert'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'ImageMagick options',
                                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                                    'type': 'textarea',
                                                    'name': 'image[convert_args]',
                                                    'args': {
                                                        'placeholder': '...',
                                                        'value': [
                                                            '-quality 70%',
                                                        ]|join('\n'),
                                                        'style': 'min-height: 150px;'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Notification #}
                                            <div class="tab-pane fade" id="other-notification">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Notifications',
                                                    'description': '',
                                                    'type': 'select',
                                                    'name': 'notification[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Notification display period',
                                                    'description': 'Specify the number of hours for which to display notifications',
                                                    'postfix': 'hours',
                                                    'type': 'number',
                                                    'name': 'common[notification_period]',
                                                    'args': {
                                                        'placeholder': '24',
                                                        'value': '24'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Publication #}
                                            <div class="tab-pane fade" id="other-publication">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Publications',
                                                    'description': 'Ability to publish posts by category',
                                                    'type': 'select',
                                                    'name': 'publication[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Page #}
                                            <div class="tab-pane fade" id="other-page">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Pages',
                                                    'description': 'Ability to add pages',
                                                    'type': 'select',
                                                    'name': 'page[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Form #}
                                            <div class="tab-pane fade" id="other-form">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Forms',
                                                    'description': 'Ability to create forms to receive completed questionnaires from clients',
                                                    'type': 'select',
                                                    'name': 'form[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Other Search Options #}
                                            <div class="tab-pane fade" id="other-search">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Search',
                                                    'description': '',
                                                    'type': 'select',
                                                    'name': 'search[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Search Page Template',
                                                    'type': 'text',
                                                    'name': 'search[template]',
                                                    'args': {
                                                        'placeholder': 'search.twig',
                                                        'value': 'search.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Number of results',
                                                    'description': 'Maximum number of search results',
                                                    'type': 'number',
                                                    'name': 'search[limit]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Guestbook #}
                                            <div class="tab-pane fade" id="other-guestbook">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable guest book',
                                                    'description': 'Allows users to leave feedback about the site',
                                                    'type': 'select',
                                                    'name': 'guestbook[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Guest book template',
                                                    'type': 'text',
                                                    'name': 'guestbook[template]',
                                                    'args': {
                                                        'placeholder': 'guestbook.twig',
                                                        'value': 'guestbook.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Number of entries per page',
                                                    'type': 'number',
                                                    'name': 'guestbook[pagination]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: API #}
                                            <div class="tab-pane fade" id="other-api">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable API Access',
                                                    'description': 'Allows you to programmatically receive data from the site',
                                                    'type': 'select',
                                                    'name': 'entity[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'API access',
                                                    'description': 'Restricts access rights',
                                                    'type': 'select',
                                                    'name': 'entity[access]',
                                                    'args': {
                                                        'option': _(['all', 'key', 'user']),
                                                        'selected': 'user'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'API access keys',
                                                    'description': [
                                                        'The ability to make changes via the API is only available if you have a key',
                                                        '<br>',
                                                        '<button class="btn btn-outline-info btn-sm" type="button" data-entity-click="add">',
                                                        'Generate new',
                                                        '</button>',
                                                    ]|locale|join(''),
                                                    'message': 'Each key on a new line',
                                                    'type': 'textarea',
                                                    'name': 'entity[keys]',
                                                    'args': {
                                                        'style': 'height: 100px!important;'
                                                    },
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: User #}
                            <div class="tab-pane fade" id="user" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#user-common">{{ 'Main'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-template">{{ 'Templates'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-access">{{ 'Group and access rights'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#user-auth">{{ 'Login options'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: User common #}
                                            <div class="tab-pane fade active show" id="user-common">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Users',
                                                    'description': 'Allows users to register on the site',
                                                    'type': 'select',
                                                    'name': 'user[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Template #}
                                            <div class="tab-pane fade" id="user-template">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Login page template',
                                                    'type': 'text',
                                                    'name': 'user[login_template]',
                                                    'args': {
                                                        'placeholder': 'user.login.twig',
                                                        'value': 'user.login.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Registration page template',
                                                    'type': 'text',
                                                    'name': 'user[register_template]',
                                                    'args': {
                                                        'placeholder': 'user.register.twig',
                                                        'value': 'user.register.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Password recovery page template',
                                                    'type': 'text',
                                                    'name': 'user[lostpassword_template]',
                                                    'args': {
                                                        'placeholder': 'user.lostpassword.twig',
                                                        'value': 'user.lostpassword.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'User profile page template',
                                                    'type': 'text',
                                                    'name': 'user[profile_template]',
                                                    'args': {
                                                        'placeholder': 'user.profile.twig',
                                                        'value': 'user.profile.twig'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Access #}
                                            <div class="tab-pane fade" id="user-access">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'User group (default)',
                                                    'type': 'select',
                                                    'name': 'user[group]',
                                                    'description': 'The new user will be automatically added to the selected group',
                                                    'args': {
                                                        'option': {'': '---'}|merge(groups.pluck('title', 'uuid').all())
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Permissions (default)',
                                                    'type': 'select',
                                                    'name': 'user[access][]',
                                                    'description': [
                                                        'The specified access rights will also be applied to an unregistered user',
                                                        '<br>',
                                                        '<button class="btn btn-outline-success btn-sm mr-1" type="button" data-access-click="common">',
                                                        'Common',
                                                        '</button>',
                                                        '<button class="btn btn-outline-secondary btn-sm mr-1" type="button" data-access-click="cup">',
                                                        'Control Panel',
                                                        '</button>',
                                                        '<button class="btn btn-outline-danger btn-sm mr-1" type="button" data-access-click="none">',
                                                        'Nothing',
                                                        '</button>',
                                                    ]|locale|join(''),
                                                    'args': {
                                                        'multiple': true,
                                                        'option': routes.all,
                                                        'selected': routes.guest,
                                                        'force-value': parameter['user[access]'].value ? parameter['user[access]'].value|split(',') : null
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: User Auth #}
                                            <div class="tab-pane fade" id="user-auth">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Authorization method on the site',
                                                    'description': 'You can choose how users will be authorized on the site',
                                                    'type': 'select',
                                                    'name': 'user[login_type]',
                                                    'args': {
                                                        'option': _(['username', 'email', 'phone'])
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'List mode',
                                                    'type': 'select',
                                                    'name': 'user[email_list_mode]',
                                                    'args': {
                                                        'option': _(['blacklist', 'whitelist']),
                                                        'selected': 'blacklist'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'List of domains for registration',
                                                    'type': 'textarea',
                                                    'name': 'user[email_list]',
                                                    'message': 'Each domain on a new line',
                                                    'args': {
                                                        'style': 'height: 100px!important;',
                                                        'placeholder': '@yahoo.com'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable code sign-in',
                                                    'description': 'When authorizing the user, it will be possible to confirm the identity through the code sent to the mail',
                                                    'type': 'select',
                                                    'name': 'user[auth_code_is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Authorization letter template with code',
                                                    'type': 'text',
                                                    'name': 'user[auth_code_mail_template]',
                                                    'args': {
                                                        'placeholder': 'user.mail.code.twig',
                                                        'value': 'user.mail.code.twig'
                                                    }
                                                } %}

                                                <hr>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'oAuth',
                                                    'description': 'Open authorization protocol',
                                                    'postfix': '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="' ~ ('A careful check of the value is required!'|locale) ~ '"></i>',
                                                    'message': 'Before filling, see the <a href="https://github.com/getwebspace/platform/wiki/oAuth" target="_blank">documentation</a>',
                                                    'type': 'textarea',
                                                    'name': 'user[oauth]',
                                                    'args': {
                                                        'placeholder': '[]',
                                                        'style': 'height: 200px!important;',
                                                    },
                                                } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: Catalog #}
                            <div class="tab-pane fade" id="catalog" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#catalog-general">{{ 'General'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-notify">{{ 'Notifications'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-import-export">{{ 'Import and Export'|locale }}</a>
                                            <a class="nav-link"         data-toggle="pill" href="#catalog-additional">{{ 'Additionally'|locale }}</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Catalog General #}
                                            <div class="tab-pane fade show active" id="catalog-general">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enable Catalog',
                                                    'description': 'Ability to manage categories, products and orders',
                                                    'type': 'select',
                                                    'name': 'catalog[is_enabled]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'yes'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Section address',
                                                    'type': 'text',
                                                    'name': 'catalog[address]',
                                                    'prefix': base_url() ~ '/',
                                                    'args': {
                                                        'placeholder': 'catalog',
                                                        'value': 'catalog'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Section template',
                                                    'description': 'Default value, this value will also be used for the main page of the catalog',
                                                    'type': 'text',
                                                    'name': 'catalog[category_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.category.twig',
                                                        'value': 'catalog.category.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Category product',
                                                    'description': 'Default value',
                                                    'type': 'text',
                                                    'name': 'catalog[product_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.product.twig',
                                                        'value': 'catalog.product.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Cart template',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.twig',
                                                        'value': 'catalog.cart.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Order template',
                                                    'type': 'text',
                                                    'name': 'catalog[cart_complete_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.cart.complete.twig',
                                                        'value': 'catalog.cart.complete.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Criteria for sorting goods',
                                                    'description': 'Default value',
                                                    'type': 'select',
                                                    'name': 'catalog[sort_by]',
                                                    'args': {
                                                        'option': _(reference('/App/Domain/References/Catalog::ORDER_BY')),
                                                        'selected': 'title'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Order of sorting goods',
                                                    'description': 'Default value',
                                                    'type': 'select',
                                                    'name': 'catalog[sort_direction]',
                                                    'args': {
                                                        'option': _(reference('/App/Domain/References/Catalog::ORDER_DIRECTION')),
                                                        'selected': 'Asc'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Number of products per page',
                                                    'description': 'The default value, this value will also be used to limit the number of products on the main page',
                                                    'type': 'number',
                                                    'name': 'catalog[category_pagination]',
                                                    'args': {
                                                        'placeholder': '10',
                                                        'value': '10'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Notify #}
                                            <div class="tab-pane fade" id="catalog-notify">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enabling and disabling sending an email to a client',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_client]',
                                                    'args': {
                                                        'option': _(['off', 'on']),
                                                        'selected': 'off'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Client mail template',
                                                    'description': 'If there is no value, the email will not be sent',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_client_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.client.twig'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Enabling and disabling sending a email to the administrator',
                                                    'type': 'select',
                                                    'name': 'catalog[mail_admin]',
                                                    'args': {
                                                        'option': _(['off', 'on']),
                                                        'selected': 'off'
                                                    }
                                                } %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Administrator mail template',
                                                    'description': 'If there is no value, the email will not be sent',
                                                    'type': 'text',
                                                    'name': 'catalog[mail_admin_template]',
                                                    'args': {
                                                        'placeholder': 'catalog.mail.admin.twig'
                                                    }
                                                } %}
                                            </div>

                                            {# TAB: Catalog Import #}
                                            <div class="tab-pane fade" id="catalog-import-export">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Action',
                                                    'description': 'Required data action on import',
                                                    'type': 'select',
                                                    'name': 'catalog[import_action]',
                                                    'args': {
                                                        'selected': 'update',
                                                        'option': {
                                                            'insert': 'Вставка и обновление',
                                                            'update': 'Только обновление',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Indentation in lines',
                                                    'description': 'Number of lines to indent from top',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_rows]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Indentation in columns',
                                                    'description': 'Number of columns to indent from the left',
                                                    'type': 'number',
                                                    'name': 'catalog[import_export_offset_cols]',
                                                    'args': {
                                                        'min': 0,
                                                        'value': 0,
                                                        'placeholder': 0,
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Key field',
                                                    'description': ('Field will be used to search for a product'|locale) ~ '<br>' ~
                                                                   ('<b>Important</b>: field value must be unique!'|locale),
                                                    'type': 'select',
                                                    'name': 'catalog[import_key]',
                                                    'args': {
                                                        'option': {
                                                            'uuid': 'uuid',
                                                            'external_id': 'external_id',
                                                            'title': 'title',
                                                            'address': 'address',
                                                            'vendorcode': 'vendorcode',
                                                            'barcode': 'barcode',
                                                            'field1': 'field1',
                                                            'field2': 'field2',
                                                            'field3': 'field3',
                                                            'field4': 'field4',
                                                            'field5': 'field5',
                                                        },
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': '<b>Import</b> column order',
                                                    'description': ('Possible columns:'|locale) ~ ' <i>' ~ reference('/App/Domain/References/Catalog::IMPORT_FIELDS')|merge(attributes.pluck('address'))|join(', ') ~ '</i><br>' ~
                                                                   ('Skip column:'|locale) ~ ' <i>empty</i>',
                                                    'message': 'Alias each column on a new line',
                                                    'type': 'textarea',
                                                    'name': 'catalog[import_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'value': reference('/App/Domain/References/Catalog::IMPORT_EXPORT_FIELDS_DEFAULT')|join("\n"),
                                                    },
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': '<b>Export</b> column order',
                                                    'description': ('Possible columns:'|locale) ~ ' <i>' ~ reference('/App/Domain/References/Catalog::EXPORT_FIELDS')|merge(attributes.pluck('address'))|join(', ') ~ '</i><br>',
                                                    'message': 'Alias each column on a new line',
                                                    'type': 'textarea',
                                                    'name': 'catalog[export_columns]',
                                                    'args': {
                                                        'style': 'height: 200px!important;',
                                                        'value': reference('/App/Domain/References/Catalog::IMPORT_EXPORT_FIELDS_DEFAULT')|join("\n"),
                                                    },
                                                } %}
                                            </div>

                                            {# TAB: Catalog Additional #}
                                            <div class="tab-pane fade" id="catalog-additional">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Handling cart fields',
                                                    'description': 'Additional fields passed with the cart will be added to the end of the comment field',
                                                    'type': 'select',
                                                    'name': 'catalog[order_fields]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Address lines in cart',
                                                    'description': 'Allows you to pass the address as a numbered array of strings',
                                                    'type': 'select',
                                                    'name': 'catalog[order_address]',
                                                    'args': {
                                                        'option': _(['yes', 'no']),
                                                        'selected': 'no'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Additional field',
                                                    'description': ('Field'|locale) ~ ' 1',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_1]',
                                                    'args': {
                                                        'placeholder': ('Field'|locale) ~ ' 1',
                                                        'value': ('Field'|locale) ~ ' 1'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Additional field',
                                                    'description': ('Field'|locale) ~ ' 2',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_2]',
                                                    'args': {
                                                        'placeholder': ('Field'|locale) ~ ' 2',
                                                        'value': ('Field'|locale) ~ ' 2'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Additional field',
                                                    'description': ('Field'|locale) ~ ' 3',
                                                    'type': 'text',
                                                    'name': 'catalog[category_field_3]',
                                                    'args': {
                                                        'placeholder': ('Field'|locale) ~ ' 3',
                                                        'value': ('Field'|locale) ~ ' 3'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Volumetric weight',
                                                    'description': [
                                                        'Divisor',
                                                        'W(cm) &times; H(cm) &times; L(cm) / X = Vw(kg)'
                                                    ]|locale|join('<br>'),
                                                    'type': 'number',
                                                    'name': 'catalog[dimensional_weight]',
                                                    'prefix': 'X',
                                                    'args': {
                                                        'value': '5000',
                                                        'list': 'dimensional_weight',
                                                    }
                                                } %}

                                                <datalist id="dimensional_weight">
                                                    <option value="4000">4000 cm3/kg</option>
                                                    <option value="5000">5000 cm3/kg</option>
                                                    <option value="6000">6000 cm3/kg</option>
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {# TAB: Plugins #}
                            <div class="tab-pane fade" id="plugins" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary">
                                            <a class="nav-link active"  data-toggle="pill" href="#plugins-recaptcha">reCAPTCHA</a>

                                            {% for plugin in plugins %}
                                                <a class="nav-link" data-toggle="pill" href="#plugins-{{ plugin.getCredentials('name') }}">
                                                    {{ plugin.getCredentials('title')|locale }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-8 mt-5 mt-sm-0">
                                        <div class="tab-content">

                                            {# TAB: Plugin recaptcha #}
                                            <div class="tab-pane fade show active" id="plugins-recaptcha">
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Turning reCAPTCHA on and off',
                                                    'description': 'Robot protection',
                                                    'type': 'select',
                                                    'name': 'integration[recaptcha]',
                                                    'args': {
                                                        'option': _(['off', 'on'])
                                                    }
                                                } %}

                                                <hr/>

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'Public key of the reCAPTCHA service',
                                                    'description': 'This key will be used in the HTML code of the site for users devices',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_public]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAKv9EUVJxlAQTchtx2ACG6B616Eu'
                                                    }
                                                } %}

                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': 'reCAPTCHA secret key',
                                                    'description': 'This key is needed for communication between the site and the reCAPTCHA service. Do not tell it to anyone',
                                                    'type': 'text',
                                                    'name': 'integration[recaptcha_private]',
                                                    'args': {
                                                        'placeholder': '6Le_gY8UAAAAAAx1_Lv3aKo-L1QnxE2QWhOHCgxS'
                                                    }
                                                } %}
                                            </div>

                                            {% for plugin in plugins %}
                                                {% set credentials = plugin.getCredentials() %}

                                                <div class="tab-pane fade" id="plugins-{{ plugin.getCredentials('name') }}">
                                                    <d1>
                                                        <dt>{{ 'Author'|locale }}</dt>
                                                        <dd>
                                                            {% if credentials.author_email %}
                                                                <a href="mailto:{{ credentials.author_email }}">{{ credentials.author }}</a>
                                                            {% else %}
                                                                {% for author in credentials.author|split(';') %}
                                                                    {{ author|trim }}<br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </dd>
                                                    </d1>
                                                    {% if credentials.author_site %}
                                                        <d1>
                                                            <dt>{{ 'Site'|locale }}</dt>
                                                            <dd>
                                                                {% for link in credentials.author_site|split(';') %}
                                                                    <a href="{{ link|trim }}" target="_blank">{{ link|trim }}</a><br>
                                                                {% endfor %}
                                                            </dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.description %}
                                                        <d1>
                                                            <dt>{{ 'Description'|locale }}</dt>
                                                            <dd>{{ credentials.description|locale|raw }}</dd>
                                                        </d1>
                                                    {% endif %}
                                                    {% if credentials.version %}
                                                        <d1>
                                                            <dt>{{ 'Version'|locale }}</dt>
                                                            <dd>{{ credentials.version }}</dd>
                                                        </d1>
                                                    {% endif %}

                                                    <hr>

                                                    {% set settings = plugin.getSettingsFields() %}
                                                    {% if settings is not empty %}
                                                        {% for args in settings %}
                                                            {% include 'cup/parameters/field.twig' with args %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>{{ 'The plugin has no settings'|locale }}</p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# TAB: Variables #}
                            <div class="tab-pane fade" id="variables" role="tabpanel">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p>
                                            {% locale %}
                                                In this settings section, you can set additional global variables that
                                                can be easily used in a template.
                                            {% endlocale %}<br>
                                            <b>{{ 'For example'|locale }}</b>:
                                            {{ 'variable named'|locale }} <code>my_variable</code>
                                            {{ 'can be displayed on the page using the following code:'|locale }}
                                            <br>
                                            <code>&lbrace;&lbrace; parameter('var_my_variable') &rbrace;&rbrace;</code>
                                        </p>


                                        {% include 'cup/form.twig' with {
                                            'label': 'New variable name'|locale,
                                            'type': 'text',
                                            'message': 'Only latin letters are allowed: <code>[A-Za-z]</code>'|locale,
                                            'prefix': 'var_',
                                            'args': {
                                                'placeholder': 'my_variable',
                                                'data': {'input': 'variable'}
                                            }
                                        } %}

                                        <button type="button" class="btn btn-secondary float-right" data-click="add_variable">{{ 'Add'|locale }}</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        {% for index,item in parameter %}
                                            {% if item.key starts with 'var_' and item.value %}
                                                {% include 'cup/parameters/field.twig' with {
                                                    'label': '<code>' ~ item.key ~ '</code>',
                                                    'type': 'text',
                                                    'name': index,
                                                    'args': {
                                                        'value': item.value
                                                    }
                                                } %}
                                            {% endif %}
                                        {% endfor %}

                                        {% include 'cup/parameters/field.twig' with {
                                            'label': '',
                                            'type': 'hidden',
                                            'name': 'var[]',
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary">{{ 'Save'|locale }}</button>
                        <a href="/cup/system" class="btn btn-outline-danger btn-round float-right" target="_blank">{{ 'Installation and update'|locale }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
