{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Публикации</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">{{ publication.uuid ? 'Редактирование публикации ' ~ publication.title : 'Добавление новой публикации' }}</h4>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#publication" role="tab">
                                        Публикация
                                    </a>
                                </li>
                                {#<li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#poll" role="tab">
                                        Опрос
                                    </a>
                                </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        Дополнительно
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# Tab: Публикация #}
                            <div class="tab-pane fade show active" id="publication" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Заголовок',
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Заголовок публикации обязателен к заполнению и может содержать не более 255 символов"></i>',
                                            'args': {
                                                'value': publication.title,
                                                'required': true,
                                                'placeholder': 'О нас',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Дата',
                                            'type': 'datetime',
                                            'name': 'date',
                                            'args': {
                                                'value': publication.date|df('Y-m-d\\TH:i'),
                                                'placeholder': '20.01.2019 12:34',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Категория',
                                            'type': 'select',
                                            'name': 'category',
                                            'message': '<a href="/cup/publication/category/add" class="btn btn-xs btn-info float-right"><i class="fa fa-plus"></i> Добавить категорию</a>',
                                            'args': {
                                                'required': true,
                                                'option': list.pluck('title', 'uuid').all(),
                                                'selected': publication.category
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Краткое описание',
                                            'name': 'content[short]',
                                            'args': {
                                                'value': publication.content.short
                                            }
                                        } %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Полное описание',
                                            'name': 'content[full]',
                                            'args': {
                                                'value': publication.content.full
                                            }
                                        } %}
                                    </div>
                                </div>

                            </div>

                            {# Tab: Опрос #}
                            <div class="tab-pane fade" id="poll" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Вопрос',
                                            'type': 'text',
                                            'name': 'poll[question]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Укажите вопрос вашего голосования."></i>',
                                            'args': {
                                                'value': publication.question,
                                                'placeholder': 'Как вы думаете...',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Варианты ответов',
                                            'message': 'Каждая новая строка является новым вариантом ответа',
                                            'type': 'textarea',
                                            'name': 'poll[answer]',
                                            'args': {
                                                'value': publication.answer,
                                                'placeholder': 'Вот так..',
                                                'style': 'min-height: 150px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес',
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Cсылка для просмотра статьи в браузере. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i>',
                                            'args': {
                                                'value': publication.address,
                                                'placeholder': 'my-publication',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Изображения',
                                            'type': 'file',
                                            'name': 'files[]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Здесь можно выбрать несколько изображений"></i>',
                                            'args': {
                                                'class': ['d-block', 'btn', 'btn-sm', 'bg-grey2'],
                                                'multiple': true,
                                                'accept': 'image/*'
                                            }
                                        } %}

                                        {% for file in publication.getFiles() %}
                                            <div class="p-2 d-inline-block m-2 bg-grey2 text-center rounded">
                                                <a href="{{ file.getPublicPath() }}" target="_blank">
                                                    <img class="rounded" height="100" src="{{ file.getPublicPath('small') }}" alt="preview" data-toggle="tooltip" data-placement="top" title="{{ file.getName() }}" />
                                                </a>
                                                <div class="pt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="text-small">{{ file.getFileSize() }}</span>
                                                        </div>
                                                        <div class="col-6 text-right float-right">
                                                            {% include 'cup/form.twig' with {
                                                                'label': '<i class="fa fa-trash"></i>',
                                                                'type': 'checkbox',
                                                                'name': 'delete-file[]',
                                                                'args': {
                                                                    'value': file.uuid.toString()
                                                                }
                                                            } %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Title',
                                            'type': 'text',
                                            'name': 'meta[title]',
                                            'args': {
                                                'value': publication.meta.title,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Description',
                                            'type': 'text',
                                            'name': 'meta[description]',
                                            'args': {
                                                'value': publication.meta.description,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Keywords',
                                            'type': 'text',
                                            'name': 'meta[keywords]',
                                            'args': {
                                                'value': publication.meta.keywords,
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}

                        <button type="button" data-click="preview" class="btn btn-info float-right">Предварительный просмотр</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
