{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ (publication.uuid ? 'Редактирование публикации' : 'Создание новой публикации')|locale }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#publication" role="tab">
                                        {{ 'Публикация'|locale }}
                                    </a>
                                </li>
                                {#<li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#poll" role="tab">
                                        {{ 'Опрос'|locale }}
                                    </a>
                                </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        {{ 'Другое'|locale }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# Tab: Публикация #}
                            <div class="tab-pane fade show active" id="publication" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Заголовок'|locale,
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Заголовок публикации обязателен к заполнению и может содержать не более 255 символов'|locale) ~ '"></i>',
                                            'args': {
                                                'value': publication.title,
                                                'required': true,
                                                'placeholder': 'О нас',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Дата'|locale,
                                            'type': 'datetime',
                                            'name': 'date',
                                            'args': {
                                                'value': publication.date|df('Y-m-d\\TH:i'),
                                                'placeholder': '20.01.2019 12:34',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Категория'|locale,
                                            'type': 'select',
                                            'name': 'category',
                                            'message': '<a href="/cup/publication/category/add" class="btn btn-xs btn-info float-right" onclick="return confirm(\'' ~ ('Вы действительно хотите перейти на другую страницу?'|locale) ~ '\');"><i class="fa fa-plus"></i> ' ~ ('Создать категорию'|locale) ~ '</a>',
                                            'args': {
                                                'required': true,
                                                'option': list.pluck('title', 'uuid').all(),
                                                'selected': publication.category_uuid
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Краткое содержимое'|locale,
                                            'name': 'content[short]',
                                            'args': {
                                                'value': publication.content.short
                                            }
                                        } %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Полное содержимое'|locale,
                                            'name': 'content[full]',
                                            'args': {
                                                'value': publication.content.full
                                            }
                                        } %}
                                    </div>
                                </div>

                            </div>

                            {# Tab: Опрос #}
                            <div class="tab-pane fade" id="poll" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Вопрос',
                                            'type': 'text',
                                            'name': 'poll[question]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Укажите вопрос вашего голосования."></i>',
                                            'args': {
                                                'value': publication.question,
                                                'placeholder': 'Как вы думаете...',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Варианты ответов',
                                            'message': 'Каждая новая строка является новым вариантом ответа',
                                            'type': 'textarea',
                                            'name': 'poll[answer]',
                                            'args': {
                                                'value': publication.answer,
                                                'placeholder': 'Вот так..',
                                                'style': 'min-height: 150px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес'|locale,
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Cсылка для просмотра статьи в браузере. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов'|locale) ~ '"></i>',
                                            'args': {
                                                'value': publication.address,
                                                'placeholder': 'my-publication',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Внешний ID'|locale,
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.external_id,
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-image.twig' with { 'entity': publication } %}

                                <hr>

                                {% include "cup/form-meta.twig" with { 'entity': publication } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        {% include "cup/form-save.twig" %}

                        <button type="button" data-click="preview" class="btn btn-info float-right">{{ 'Предварительный просмотр'|locale }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
