{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Публикации</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список публикаций ({{ publications.count() }})</h4>
                        <a href="/cup/publication/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Добавить публикацию
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="table table-striped table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Заголовок</th>
                                    <th width="15%">Категория</th>
                                    <th width="15%">Автор</th>
                                    <th width="15%">Дата публикации</th>
                                    <th width="15%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in publications %}
                                    {% set category = categories.where('uuid', item.category).first() %}
                                    <tr>
                                        <td>{{ item.title }}</td>
                                        <td>{{ categories.where('uuid', item.category).first().title ?? '&mdash;' }}</td>
                                        <td>{{ item.user.getName('short') }}</td>
                                        <td data-order="{{ item.date.getTimestamp() }}">{{ item.date|df('d.m.Y H:i') }}</td>
                                        <td class="text-center">
                                            <form action="/cup/publication/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить публикацию?');">
                                                <div class="btn-group">
                                                    <a href="/cup/publication/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                        <i class="fas fa-fw fa-edit"></i>
                                                        <span class="d-none d-md-inline-block">Изменить</span>
                                                    </a>
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>
                                                        <span class="d-none d-md-inline-block">Удалить</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
