{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Access is denied'|locale }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <b>{{ 'You currently do not have access to the requested page!'|locale }}</b>
                    <p class="mt-1">
                        {{ 'If you are sure that the address is typed correctly:'|locale }}<br>
                        &mdash; {{ 'check permissions'|locale }};<br>
                        &mdash; {{ 'contact the administrator'|locale }}.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
