{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Страницы</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ item.uuid ? 'Редактирование страницы ' ~ item.title : 'Создание новой страницы' }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Название',
                                    'type': 'text',
                                    'name': 'title',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Краткое описание страницы"></i>',
                                    'args': {
                                        'value': item.title,
                                        'required': true,
                                        'placeholder': 'О нас',
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Дата',
                                    'type': 'date',
                                    'name': 'date',
                                    'args': {
                                        'value': item.date|date('d.m.Y H:i'),
                                        'placeholder': '20.01.2019 12:34',
                                    }
                                } %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Адрес',
                                    'type': 'text',
                                    'name': 'address',
                                    'prefix': base_url() ~ '/',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Название страницы. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i>',
                                    'args': {
                                        'value': item.address,
                                        'placeholder': 'about',
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                {% include 'cup/editor.twig' with {
                                    'label': 'Текст страницы',
                                    'name': 'content',
                                    'args': {
                                        'value': item.content
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Тип содержимого',
                                    'type': 'select',
                                    'name': 'type',
                                    'message': 'Если нет понимания на что влияет это поле, оставьте значение по-умолчанию',
                                    'args': {
                                        'option': reference('/App/Domain/Types/PageTypeType::LIST'),
                                        'selected': item.type
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Шаблон',
                                    'type': 'text',
                                    'name': 'template',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для данной страницы или оставьте <b>page.twig</b>"></i>',
                                    'args': {
                                        'value': item.template is not empty ? item.template : 'page.twig',
                                        'required': true,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                {% include 'cup/form.twig' with {
                                    'label': 'Изображения',
                                    'type': 'file',
                                    'name': 'files[]',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Здесь можно выбрать несколько изображений"></i>',
                                    'args': {
                                        'class': ['d-block', 'btn', 'btn-sm', 'bg-grey2'],
                                        'multiple': true,
                                        'accept': 'image/*'
                                    }
                                } %}

                                {% for file in item.getFiles() %}
                                    <div class="p-2 d-inline-block m-2 bg-grey2 text-center rounded">
                                        <a href="{{ file.getPublicPath() }}" target="_blank">
                                            <img class="rounded" height="100" src="{{ file.getPublicPath('small') }}" alt="preview" data-toggle="tooltip" data-placement="top" title="{{ file.getName() }}" />
                                        </a>
                                        <div class="pt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <span class="text-small">{{ file.getSize() }}</span>
                                                </div>
                                                <div class="col-6 text-right float-right">
                                                    {% include 'cup/form.twig' with {
                                                        'label': '<i class="fa fa-trash"></i>',
                                                        'type': 'checkbox',
                                                        'name': 'delete-file[]',
                                                        'args': {
                                                            'value': file.uuid.toString()
                                                        }
                                                    } %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Title',
                                    'type': 'text',
                                    'name': 'meta[title]',
                                    'args': {
                                        'value': item.meta.title,
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Description',
                                    'type': 'text',
                                    'name': 'meta[description]',
                                    'args': {
                                        'value': item.meta.description,
                                    }
                                } %}
                            </div>

                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Метатег Keywords',
                                    'type': 'text',
                                    'name': 'meta[keywords]',
                                    'args': {
                                        'value': item.meta.keywords,
                                    }
                                } %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
