{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of pages'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/page/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create page'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-12 col-sm">{{ 'Title'|locale }}</div>
                            <div class="col-6 col-sm-2">{{ 'Date of publication'|locale }}</div>
                            <div class="col-6 col-sm-3 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list %}
                                <div class="row">
                                    <div class="col-12 col-sm">{{ item.title|u.truncate(50, '...') }}</div>
                                    <div class="col-6 col-sm-2">
                                        <span class="d-none d-md-inline">{{ item.date|df('d.m.Y H:i') }}</span>
                                        <span class="d-inline d-md-none">{{ item.date|df('d.m.y') }}</span>
                                    </div>
                                    <div class="col-6 col-sm-3 text-right">
                                        <form action="/cup/page/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the page?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/page/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
