<div class="row">
    <div class="col-12" style="overflow-x: scroll;">
        <table class="table">
            <tr>
                <th>Параметр</th>
                <th>Тип</th>
                <th>Описание</th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>{{ item.field }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        {{ item.description|raw }}
                        {% if item.args %}
                            {% for key, desc in item.args %}
                                {% if key is same as(loop.index0) %}
                                    <br><b>{{ desc }}</b>
                                {% else %}
                                    <br><b>{{ key }}</b> - {{ desc }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
