{% if product is not empty %}
    <!-- auto generated product options: (uuid:{{ product.uuid }}, external_id:{{ product.external_id }}) -->
    <div style="display: none;">
        <span data-catalog-item-attr="uuid">{{ product.uuid }}</span>
        <span data-catalog-item-attr="title">{{ product.title }}</span>
        <span data-catalog-item-attr="url">/{{ parameter('catalog_address', 'catalog') }}/{{ product.address }}</span>
        <span data-catalog-item-attr="price">{{ product.price }}</span>
        <span data-catalog-item-attr="vendorcode">{{ product.vendorcode }}</span>
        <span data-catalog-item-attr="thumb">{{ product.getFiles().first().getPublicPath('middle') }}</span>

        <span data-catalog-item-attr="group">{{ categories.firstWhere('uuid', product.category).title }}</span>
        <span data-catalog-item-attr="type">product</span>
    </div>
    <!-- auto generated product options: end -->
{% endif %}
