{% extends 'main.twig' %}

{% block title %}{{ page.meta.title ? page.meta.title : page.title }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="keywords" content="{{ page.meta.keywords }}">
{% endblock %}

{% block page %}
    <div class="page-top-info">
        <div class="container">
            <h4>{{ page.title }}</h4>
            <div class="site-pagination">
                <a href="/">Главная</a> /
                <a href="/{{ page.address }}">{{ page.title }}</a>
            </div>
        </div>
    </div>

    <section class="page-section">
        <div class="container">
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    $(window).on('event:quiz:sent', () => {
                        Swal.fire('Заявка на посещение оформлена', 'Спасибо!');
                    })
                });
            </script>

            {% include 'mixin/quiz.twig' with {
                action: '/form/quiz',
                title: 'Заголовок',
                steps: [
                    {
                        title: 'Вопрос 1',
                        description: 'Описание вопроса 1',
                        option: [
                            {icon: 'fas fa-tools',   label: 'Вариант 1', type: 'radio', name: 'option1', args: {value: 'Вариант 1'}},
                            {icon: 'fas fa-toolbox', label: 'Вариант 2', type: 'radio', name: 'option1', args: {value: 'Вариант 2'}},
                        ],
                        btn_back: 'Back',
                        btn_next: 'Next'
                    },
                    {
                        title: 'Вопрос 2',
                        description: 'Описание вопроса 2',
                        option: [
                            {icon: 'fas fa-tools',   label: 'Вариант 3', type: 'radio', name: 'option2', args: {value: 'Вариант 3'}},
                            {icon: 'fas fa-toolbox', label: 'Вариант 4', type: 'radio', name: 'option2', args: {value: 'Вариант 4'}},
                        ],
                        btn_back: 'Back',
                        btn_next: 'Next'
                    },
                    {
                        title: 'Вопрос 3',
                        description: 'Описание вопроса 3',
                        field: [
                            {label: 'Имя',     type: 'text', name: 'name', args: {required: true}},
                            {label: 'Телефон', type: 'tel',  name: 'tel',  args: {required: true}},
                        ],
                        btn_back: 'Back',
                        btn_submit: 'Submit'
                    }
                ]
            } only %}
        </div>
    </section>
{% endblock %}
