{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of forms'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/form/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create form'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col">{{ 'Title'|locale }}</div>
                            <div class="col-3 d-none d-md-block">{{ 'E-Mail addresses of recipients'|locale }}</div>
                            <div class="col-4 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list %}
                                <div class="row">
                                    <div class="col">{{ item.title }}</div>
                                    <div class="col-3 d-none d-md-block">
                                        {{ item.mailto|join('<br>+ ')|raw }}
                                        {{ item.authorSend ? '<br>+ ' ~ 'applicant'|locale }}
                                    </div>
                                    <div class="col-4 text-right">
                                        <form action="/cup/form/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the form?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/form/{{ item.uuid }}/view" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-fw fa-eye"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Applications'|locale }}</span>
                                                </a>
                                                <a href="/cup/form/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
