{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Формы</h2>
                <h5 class="text-white op-7 mb-2">Функционал форм позволяет принимать данные с сайта или форм встроенных в удаленные сайты.</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список форм ({{ list.count() }})</h4>
                        <a href="/cup/form/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Создать форму
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Адреса страниц использования</th>
                                    <th>E-Mail адреса получателей</th>
                                    <th width="25%">Адрес обработчика формы</th>
                                    <th width="10%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td>
                                            {{ item.title }}
                                        </td>
                                        <td>
                                            {% for origin in item.origin %}
                                                <a href="{{ origin }}" target="_blank" class="d-block">
                                                    {{ origin }}
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ item.mailto|join('<br/>')|raw }}
                                        </td>
                                        <td>
                                            {% include 'cup/form.twig' with {
                                                'type': 'text',
                                                'args': {
                                                    'value': '/form/' ~ item.address,
                                                    'placeholder': 'contact-form',
                                                }
                                            } %}
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="/cup/form/{{ item.uuid }}/view" class="btn btn-link"><i class="fas fa-eye"></i> Заявки</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cup/form/{{ item.uuid }}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Изменить</a>
                                                    </li>
                                                    <li><div class="dropdown-divider"></div></li>
                                                    <li>
                                                        <form action="/cup/form/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить форму?');">
                                                            <button type="submit" class="btn btn-link text-danger">
                                                                <i class="fas fa-trash-alt"></i> Удалить
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
