{% if products.filtered.count() %}
    {% for attribute in category.getAttributes() %}
        <!-- Start Widget -->
        <div class="single-widget condition">
            <h3>{{ attribute.title }}</h3>

            <ul class="list">
                {% for value, count in attribute.getValuesWithCounts(category.getNested(categories)) %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ attribute.uuid }}" value="{{ value }}" id="{{ attribute.uuid }}" {{ _request[attribute.address] == value ? 'checked' : '' }} onchange="(() => {location = '{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query(attribute.address, value|trim) }}'})()">
                        <label class="form-check-label" for="{{ attr.uuid }}">
                            {{ value }} ({{ count }})
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <!-- End Widget -->
    {% endfor %}
{% endif %}
