{% set uuids = catalog_product_view() %}

{% if uuids and uuids|count > 4 %}
    {% set viewed = catalog_product(uuids) %}
    {% set files = files({'item': 'catalog_product', 'item_uuid': uuids}) %}

    <!-- VIEWED PRODUCTS section -->
    <section class="related-product-section">
        <div class="container">
            <div class="section-title">
                <h2>Просмотренные товары</h2>
            </div>

            <div class="product-slider owl-carousel">
                {% for product in viewed %}
                    <div class="product-item" data-catalog-product>
                        <div class="pi-pic">
                            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ product.address }}">
                                <img src="{{ files.firstWhere('item_uuid', product.uuid).getPublicPath('middle') }}" style="max-height: 300px; width: 100%; object-fit: contain; object-position: center center;" alt="{{ product.title }}">
                            </a>
                            <div class="pi-links">
                                <a href="#" class="add-card" data-catalog-product-add><i class="flaticon-bag"></i><span>В корзину</span></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ product.address }}">
                                <h6>{{ product.price }}</h6>
                                <p>{{ product.title }}</p>
                            </a>
                        </div>

                        {# include product options #}
                        {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product, 'files': files} only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- VIEWED PRODUCTS section end -->
{% endif %}

{% if product is not empty %}
    {# save viewed product #}
    {{ catalog_product_view(product.uuid) }}
{% endif %}
