<div class="product-sorting">
    <label for="sorting">Sort by:</label>
    <select class="form-control" id="sorting">
        <option value="order_asc" data-order="order" data-direction="asc" {{ ((_request['order'] == 'order' and _request['direction'] == 'asc' or products.params.order.order == 'asc') ? 'selected') }}>By order</option>
        <option value="price_asc" data-order="price" data-direction="asc" {{ ((_request['order'] == 'price' and _request['direction'] == 'asc' or products.params.order.price == 'asc') ? 'selected') }}>Low - High Price</option>
        <option value="price_desc" data-order="price" data-direction="desc" {{ ((_request['order'] == 'price' and _request['direction'] == 'desc' or products.params.order.price == 'desc') ? 'selected') }}>High - Low Price</option>
        <option value="title_asc" data-order="title" data-direction="asc" {{ ((_request['order'] == 'title' and _request['direction'] == 'asc' or products.params.order.title == 'asc') ? 'selected') }}>A - Z Order</option>
        <option value="title_desc" data-order="title" data-direction="desc" {{ ((_request['order'] == 'title' and _request['direction'] == 'desc' or products.params.order.title == 'desc') ? 'selected') }}>Z - A Order</option>
    </select>
    <h3 class="total-show-product">
        Showing:
        <span>
            {{ pagination.offset * pagination.page }}
            -
            {{ pagination.offset * pagination.page + pagination.count }}
        </span>
    </h3>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // change sort
        $('#sorting').on('change', (e) => {
            let $val = $(e.currentTarget).find(':selected'),
                order = $val.data('order'),
                direction = $val.data('direction');

            let queryParams = new URLSearchParams(window.location.search);
                queryParams.set('order', order);
                queryParams.set('direction', direction);

            location = location.pathname + '/?' + queryParams.toString();
        });
    });
</script>
