{% extends 'main.twig' %}

{% block title %}Заказ {{ order.serial }} {{ order.external_id ? '(' ~ order.external_id ~ ')' : '' }} | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'catalog': 'Catalog',
        'parents': ['Cart'],
        'title': 'Order'
    } %}

    <section class="">
        <div class="container pt-5">
            <div class="row pt-5 pb-5">
                <div class="col-md-12 text-center">
                    <h3 class="pb-3">
                        Order Information {{ order.serial }} {{ order.external_id ? '(' ~ order.external_id ~ ')' : '' }}
                    </h3>
                    <p>Thank you for your order</p>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-6">
                    <h4>Customer</h4>

                    <table class="table table-striped mt-3 mb-5">
                        <tr>
                            <th style="width: 50%">Customer Name</th>
                            <td style="width: 50%">{{ order.delivery.client }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ order.phone }}</td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td>{{ order.email }}</td>
                        </tr>
                        <tr>
                            <th>Delivery address</th>
                            <td>{{ order.delivery.address }}</td>
                        </tr>
                        <tr>
                            <th>Shipping date</th>
                            <td>{{ order.shipping|df }}</td>
                        </tr>
                        <tr>
                            <th>Comment</th>
                            <td>{{ order.comment }}</td>
                        </tr>
                        {% if order.status_uuid %}
                            <tr>
                                <th>Status</th>
                                <td>{{ order.status.title }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                <div class="col-md-6">
                    <h4>Order list</h4>

                    <table class="table table-striped mt-3 mb-5" style="width: 100%;">
                        <tr>
                            <th>Product Name</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Subtotal</th>
                        </tr>

                        {% for item in order.products %}
                            <tr>
                                <td>{{ item.title }}</td>
                                <td class="text-right">{{ item.getPrice()|number_format(2, '.', ' ') }}</td>
                                <td class="text-right">{{ item.getCount() }}</td>
                                <td class="text-right">{{ item.getSum()|number_format(2, '.', ' ') }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <th colspan="3">Total</th>
                            <td class="text-right">{{ order.getTotalPrice()|number_format(2, '.', ' ') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
