{% extends 'main.twig' %}

{% block title %}{{ product.meta.title ? product.meta.title : (product.title ?? 'Product') }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ product.meta.description }}">
    <meta name="keywords" content="{{ product.meta.keywords }}">
{% endblock %}

{% block page %}
    <script>
        window.catalog = {
            events: {
                'on:cart:add': (new_item) => {
                    Swal.fire({
                        title: 'Product added to cart',
                        text: new_item.title + ' (x' + new_item.quantity + ') now in cart.',
                        icon: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Continue shopping',
                        cancelButtonColor: '#0167F3',
                        confirmButtonText: 'Checkout',
                        confirmButtonColor: '#081828'
                    }).then((result) => {
                        if (result.value) {
                            location.href = '/cart';
                        }
                    });
                },
                'on:cart:update': (updated_item) => {
                    Swal.fire({
                        title: 'Cart updated',
                        text: updated_item.title + ' (x' + updated_item.quantity + ')',
                        icon: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Continue shopping',
                        cancelButtonColor: '#0167F3',
                        confirmButtonText: 'Checkout',
                        confirmButtonColor: '#081828'
                    }).then((result) => {
                        if (result.value) {
                            location.href = '/cart';
                        }
                    });
                }
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('a.img').fancybox();
        })
    </script>

    {% include 'common/breadcrumbs.twig' with {
        'catalog': 'Catalog',
        'parents': catalog_category_parents(category),
        'title': product.meta.title ? product.meta.title : (product.title ?? 'Product')
    } %}

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container" data-catalog-item>
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    {% include 'mixin/img.twig' with {
                                        'src': product.hasFiles() ? product.getFiles().first().getPublicPath('middle') : 'https://via.placeholder.com/1000x670',
                                        'placeholder': product.hasFiles() ? product.getFiles().first().getPublicPath('small') : '',
                                        'id': 'current',
                                        'title': product.title,
                                        'alt': product.title,
                                    } only %}
                                </div>
                                <div class="images">
                                    {% for index, file in product.getFiles().sortBy('date') %}
                                        <a href="{{ file.getPublicPath('full') }}" data-fancybox="group" class="img">
                                            {% include 'mixin/img.twig' with {
                                                'src': file.getPublicPath('full'),
                                                'title': product.title,
                                                'alt': product.title ~ ' ' ~ index
                                            } only %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">{{ product.title }} {% if product.special %}[Акция]{% endif %}</h2>
                            <p class="category">
                                {% for tag in product.tags %}
                                    <i class="lni lni-tag"></i>
                                    {{ tag }}
                                {% endfor %}

                                <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ category.address }}">{{ category.title }}</a>
                            </p>

                            <h3 class="price">
                                {% if product.discount %}
                                    ${{ product.price - product.discount }}
                                    <span>${{ product.price }}</span>
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                            </h3>

                            {% if product.extra is not empty %}
                                <p class="info-text">{{ product.extra|raw }}</p>
                            {% endif %}

                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group quantity">
                                            <label for="quantity">Quantity</label>
                                            {# add attr data-catalog-item-attr="quantity" to quantity input #}
                                            <select class="form-control" id="quantity" data-catalog-item-attr="quantity">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            {# add attr data-catalog-item-add to btn #}
                                            <button class="btn" style="width: 100%;" data-catalog-item-add>Add to Cart</button>
                                        </div>
                                    </div>
                                </div>

                                {# include product options #}
                                {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product} only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Details</h4>
                                <p>{{ product.description|raw }}</p>

                                <h4>Features</h4>
                                <ul class="normal-list">
                                    {% if product.field1 %}<li><span>{{ category.product.field_1 }}</span>: {{ product.field1 }}</li>{% endif %}
                                    {% if product.field2 %}<li><span>{{ category.product.field_2 }}</span>: {{ product.field2 }}</li>{% endif %}
                                    {% if product.field3 %}<li><span>{{ category.product.field_3 }}</span>: {{ product.field3 }}</li>{% endif %}
                                    {% if product.field4 %}<li><span>{{ category.product.field_4 }}</span>: {{ product.field4 }}</li>{% endif %}
                                    {% if product.field5 %}<li><span>{{ category.product.field_5 }}</span>: {{ product.field5 }}</li>{% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                <h4>Specifications</h4>
                                <ul class="normal-list">
                                    {% if product.country %}<li><span>Country:</span> {{ product.country }}</li>{% endif %}
                                    {% if product.manufacturer %}<li><span>Manufacturer:</span> {{ product.manufacturer }}</li>{% endif %}
                                    {% if product.vendorcode %}<li><span>Vendorcode:</span> {{ product.vendorcode }}</li>{% endif %}
                                    {% if product.barcode %}<li><span>Barcode:</span> {{ product.barcode }}</li>{% endif %}
                                    {% if product.volume %}<li><span>Volume:</span> {{ product.getVolumeWithUnit() }}</li>{% endif %}
                                    {% if product.tax %}<li><span>Stock</span>: {{ product.stock > 0 ? '<span>На складе</span>' : '<span>Отсутствует</span>' }}</li>{% endif %}
                                    {% if product.stock %}<li><span>Tax</span>: {{ product.tax }}</li>{% endif %}
                                    {% if product.dimension %}<li><span>Dimension</span>: {{ product.dimension|join('&times;')|raw }} cm</li>{% endif %}
                                </ul>
                                <h4>Attributes:</h4>
                                <ul class="normal-list">
                                    {% for attribute in product.getAttributes() %}
                                        <li><span>{{ attribute.title }}</span>: {{ attribute.value }}</li>
                                    {% endfor %}
                                </ul>
                                {% if product.hasRelations() %}
                                    <h4>Related products:</h4>
                                    <ul class="normal-list">
                                        {% for relative in product.getRelations() %}
                                            <li>
                                                <span>
                                                    <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ relative.related.address }}">
                                                        {{ relative.related.title }}
                                                    </a>
                                                </span>: ${{ relative.related.price }} &times; {{ relative.count }} &equals; ${{ relative.related.price * relative.count }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->
{% endblock %}
