{% if product is not empty %}
    <!-- auto generated product options: (uuid:{{ product.uuid }}, external_id:{{ product.external_id }}) -->
    <div style="display: none;">
        {% if categories is not empty %}
            <span data-catalog-product-attr="url">/{{ parameter('catalog_address', 'catalog') }}/{{ categories.firstWhere('uuid', product.category).address }}/{{ product.address }}</span>
        {% endif %}

        <span data-catalog-product-attr="title">{{ product.title }}</span>
        <span data-catalog-product-attr="uuid">{{ product.uuid }}</span>
        <span data-catalog-product-attr="price">{{ product.price }}</span>
        <span data-catalog-product-attr="vendorcode">{{ product.vendorcode }}</span>

        {% if files is not empty %}
            <span data-catalog-product-attr="thumb">{{ files.firstWhere('item_uuid', product.uuid).getPublicPath('small') }}</span>
        {% endif %}
    </div>
    <!-- auto generated product options: end -->
{% endif %}
