{% if category is not empty and categories.where('parent', category.uuid).count() == 0 %}
    {% set buf = products.all %}
    {% for index, value in products.params.field %}{% set buf = buf.where('field' ~ index, value) %}{% endfor %}

    {% for name in category.product %}
        {% set variants = collect() %}
        {% set field = loop.index %}

        {% for product in buf %}
            {% set variants = variants.push(product.get('field' ~ field)|trim) %}
        {% endfor %}

        {% set variants = variants.unique() %}

        {% if variants.count() %}
            <div class="col-4 filter-widget">
                <h2 class="fw-title">{{ name }}</h2>
                <ul class="category-menu">
                    {% for variant in variants.unique() %}
                        <li>
                            <a href="{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query('field' ~ field, variant|trim) }}">
                                {{ variant }} <span>({{ buf.where('field' ~ field, variant).count() }})</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
