<div class="col-lg-4 col-sm-6">
    <div class="product-item" data-catalog-item>
        <div class="pi-pic">
            {% if product.special %}
                <div class="tag-sale">Акция</div>
            {% endif %}
            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ product.address }}">
                {% include 'mixin/img.twig' with {
                    'src': product.hasFiles() ? product.getFiles().first().getPublicPath('middle') : '/assets/img/no_image.png',
                    'title': product.title,
                    'alt': product.title,
                    'style': 'display:block; height: 300px; width: 100%; object-fit: contain; object-position: center center;'
                } only %}
            </a>
            <div class="pi-links">
                {# add class item_add to btn #}
                <a href="javascript:;" class="add-card" data-catalog-item-add><i class="flaticon-bag"></i><span>В корзину</span></a>
            </div>
        </div>
        <div class="pi-text">
            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ product.address }}">
                <h6>{{ product.price }}</h6>
                <p>{{ product.title }}</p>
            </a>
        </div>

        {# include product options #}
        {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product} only %}
    </div>
</div>
