{% if products.filtered.count() and category is not empty and category.hasAttributes() %}
    {% set attributes = category.getAttributes() %}
    {% set keys = attributes.pluck('uuid') %}

    {% for attribute in attributes %}
        <!-- Start Widget -->
        <div class="single-widget condition">
            <h3>{{ attribute.title }}</h3>

            <ul class="list">
                {% for attr in attribute.getProductAttributes().unique('value') %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ attribute.uuid }}" value="{{ attr.value }}" id="{{ attr.uuid }}" {{ _request[attribute.address] == attr.value ? 'checked' : '' }} onchange="(() => {location = '{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query(attribute.address, attr.value|trim) }}'})()">
                        <label class="form-check-label" for="{{ attr.uuid }}">
                            {{ attr.value }} ({{ attr.getCount() }})
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <!-- End Widget -->
    {% endfor %}
{% endif %}
