{% if products.filtered.count() and category is not empty and category.hasAttributes() %}
    <hr class="mt-5 mb-5">

    <div class="row">
        {% set attributes = category.getAttributes() %}
        {% set keys = attributes.pluck('uuid') %}

        {% for attribute in attributes %}
            <div class="col-6 col-md-4 col-lg-3 filter-widget">
                <h2 class="fw-title">{{ attribute.title }}</h2>
                <ul class="category-menu">
                    {% set variants = collect() %}

                    {% for product in products.all %}
                        {% for attr in product.getAttributes().whereIn('attribute_uuid', attribute.uuid) %}
                            <li>
                                <a href="{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query(attribute.address, attr.value|trim) }}">
                                    {{ attr.value }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endif %}
