{% extends 'main.twig' %}

{% block title %}{{ product.meta.title ? product.meta.title : (product.title ?? 'Товар') }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ product.meta.description }}">
    <meta name="keywords" content="{{ product.meta.keywords }}">
{% endblock %}

{% block page %}
    <script>
        window.catalog = {
            events: {
                'on:cart:add': (data) => {
                    Swal.fire('Товар добавлен', data.title + ' (x' + data.quantity + ') теперь в корзине.', 'success');
                },
                'on:cart:update': (data) => {
                    Swal.fire('Товар обновлен', data.title + ' (x' + data.quantity + ')', 'success');
                }
            }
        }
    </script>

    <div class="page-top-info">
        <div class="container">
            <h4>{{ category.meta.title ? category.meta.title : (category.title ?? 'Каталог') }}</h4>
            <div class="site-pagination">
                <a href="/">Главная</a> /
                <a href="/{{ parameter('catalog_address', 'catalog') }}">Каталог</a>
                {% for breadcrumb in catalog_category_parents(category) %}
                    / <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ breadcrumb.address }}">{{ breadcrumb.meta.title ? breadcrumb.meta.title : breadcrumb.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <section class="product-section" data-catalog-item>
        <div class="container">
            <div class="back-link">
                <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ category.address }}">&lt;&lt; В категорию "{{ category.title }}"</a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-pic-zoom">
                        {% include 'mixin/img.twig' with {
                            'src': product.hasFiles() ? product.getFiles().first().getPublicPath('middle') : '/assets/img/no_image.png',
                            'class': 'product-big-img',
                            'title': product.title,
                            'alt': product.title,
                            'style': 'display:block; height: 300px; width: 100%; object-fit: contain; object-position: center center;'
                        } only %}
                    </div>
                    <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                        <div class="product-thumbs-track">
                            {% for index, file in product.getFiles().sortBy('date') %}
                                <div class="pt {{ index == 0 ? 'active' : '' }}" data-imgbigurl="{{ file.getPublicPath() }}">
                                    {% include 'mixin/img.twig' with {
                                        'src': file.getPublicPath('small'),
                                        'title': product.title,
                                        'alt': product.title ~ ' ' ~ index
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 product-details">
                    <h2 class="p-title">{{ product.title }}</h2>
                    <h3 class="p-price">{{ product.price }}</h3>
                    <h4 class="p-stock">Наличие: {{ product.stock > 0 ? '<span>На складе</span>' : '<span>Отсутствует</span>' }}</h4>

                    {# add class item_quantity to quantity input #}
                    <div class="quantity">
                        <p>Количество</p>
                        <div class="pro-qty">
                            <input type="text" class="item_quantity" data-catalog-item-attr="quantity" value="1">
                        </div>
                    </div>

                    {# add class item_add to btn #}
                    <a href="javascript:;" class="site-btn" data-catalog-item-add>В корзину</a>

                    <div id="accordion" class="accordion-area">
                        <div class="panel">
                            <div class="panel-header" id="headingOne">
                                <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Информация</button>
                            </div>
                            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="panel-body">{{ product.description|raw }}</div>
                            </div>
                        </div>
                        {% if product.extra is not empty %}
                            <div class="panel">
                                <div class="panel-header" id="headingTwo">
                                    <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Дополнительно</button>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="panel-body">{{ product.extra|raw }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="panel">
                            <div class="panel-header" id="headingTwo">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse2">Характеристики</button>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>
                                        {% if product.country %}<b>Страна</b>: {{ product.country|raw }}<br/>{% endif %}
                                        {% if product.manufacturer %}<b>Производитель</b>: {{ product.manufacturer|raw }}<br/>{% endif %}
                                        {% if product.field1 %}<b>{{ category.product.field_1 }}</b>: {{ product.field1|raw }}<br/>{% endif %}
                                        {% if product.field2 %}<b>{{ category.product.field_2 }}</b>: {{ product.field2|raw }}<br/>{% endif %}
                                        {% if product.field3 %}<b>{{ category.product.field_3 }}</b>: {{ product.field3|raw }}<br/>{% endif %}
                                        {% if product.field4 %}<b>{{ category.product.field_4 }}</b>: {{ product.field4|raw }}<br/>{% endif %}
                                        {% if product.field5 %}<b>{{ category.product.field_5 }}</b>: {{ product.field5|raw }}<br/>{% endif %}
                                        {% if product.volume and product.unit %}<b>Цена за</b>: {{ product.getVolumeWithUnit() }}<br/>{% endif %}

                                        {% for attribute in product.getAttributes() %}
                                            <b>{{ attribute.title }}</b>: {{ attribute.value }}<br/>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% if product.hasRelations() %}
                            <div class="panel">
                                <div class="panel-header" id="headingTwo">
                                    <button class="panel-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse2">Сопутствующие товары</button>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="panel-body">
                                        <div class="row">
                                            {% for relative in product.getRelations() %}
                                                <div class="col-4">
                                                    <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ relative.related.address }}">
                                                        {% include 'mixin/img.twig' with {
                                                            'src': relative.related.hasFiles() ? relative.related.getFiles().first().getPublicPath('middle') : '/assets/img/no_image.png',
                                                            'class': 'product-big-img',
                                                            'title': relative.related.title,
                                                            'alt': relative.related.title,
                                                            'style': 'display:block; height: auto; width: 100%; object-fit: contain; object-position: center center;'
                                                        } only %}
                                                    </a>

                                                    <h2 class="p-title">
                                                        <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ relative.related.address }}">{{ relative.related.title }}</a>
                                                    </h2>
                                                    <h4 class="p-price">{{ relative.related.price }} * {{ relative.count }} = {{ relative.related.price * relative.count }}</h4>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# include product options #}
            {% include 'catalog.product.options.twig' with {'categories': categories, 'product': product} only %}
        </div>
    </section>

    {% include 'catalog.product.viewed.twig' %}
{% endblock %}
