{% if parent != NIL %}
    {% set subnodes = categories.where('parent', parent) %}

    {% if subnodes.count() %}
        <!-- Start Widget -->
        <div class="single-widget">
            <h3>Sub Categories</h3>
            <ul class="list">
                {% for node in subnodes.sortBy('order') %}
                    <li>
                        <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- End Widget -->
    {% endif %}
{% endif %}

<!-- Start Widget -->
<div class="single-widget">
    <h3>Main Categories</h3>
    <ul class="list">
        {% for node in categories.where('parent', NIL).sortBy('order') %}
            <li>
                <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- End Widget -->

