{% if category is not empty and categories.where('parent', category.uuid).count() == 0 %}

        {% set buf = products.all %}
        {% for index, value in products.params.field %}{% set buf = buf.where('field' ~ index, value) %}{% endfor %}

        {% for name in category.product %}
            {% set variants = collect() %}
            {% set field = loop.index %}

            {% for product in buf %}
                {% if attribute(product, 'field' ~ field)|trim is not empty %}
                    {% set variants = variants.push(attribute(product, 'field' ~ field)|trim) %}
                {% endif %}
            {% endfor %}

            {% set variants = variants.unique() %}

            {% if variants.count() %}
                <!-- Start Widget -->
                <div class="single-widget condition">
                    <h3>{{ name }}</h3>

                    <ul class="list">
                        {% for variant in variants.unique() %}
                            <li>
                                <a href="{{ non_page_path() }}{{ page ? '/' ~ page : '' }}{{ current_query('field' ~ field, variant|trim) }}">
                                    {{ variant }} <span>({{ buf.where('field' ~ field, variant).count() }})</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Widget -->
            {% endif %}
        {% endfor %}
{% endif %}
