{% extends 'main.twig' %}

{% block title %}Guestbook | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Guestbook',
    } %}

    <section class="section">
        <di class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4 class="mb-2">Write to us</h4>
                    <p>
                        The opinion will be sent to the administration, and after verification by the moderator, it will appear on this page.<br/>
                        If you had a question, then the answer will also be given, we will make every effort to answer you as quickly as possible.
                    </p>

                    <form method="post" class="contact-form pt-4" data-grecaptcha>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form form-default">
                                    <label>Your name (*)</label>
                                    <div class="form-input form">
                                        {% include 'mixin/form.twig' with {
                                            'type': 'text',
                                            'name': 'name',
                                            'args': {
                                                'required': true,
                                                'placeholder': 'Your name'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-default">
                                    <label>Your E-Mail (*)</label>
                                    <div class="form-input form">
                                        {% include 'mixin/form.twig' with {
                                            'type': 'email',
                                            'name': 'email',
                                            'args': {
                                                'required': true,
                                                'placeholder': 'Your E-Mail (*)'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form form-default">
                                    <label>Your message (*)</label>
                                    {% include 'mixin/form.twig' with {
                                        'type': 'textarea',
                                        'name': 'message',
                                        'args': {
                                            'required': true,
                                            'placeholder': 'Your message or feedback or suggestion or wish.. *',
                                            'style': 'height: 105px; margin-bottom: 16px;',
                                        }
                                    } %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="steps-form-btn button">
                                    <button class="btn btn-alt" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 mt-5">
                    <div class="row">
                        {% if messages.count() %}
                            <h4 class="mt-5 mb-2">Other reviews</h4>
                            <p>New comments above</p>

                            <div class="col-lg-8 col-md-12 col-12 mt-3">
                                <div class="row">
                                    {% for item in messages.sortByDesc('date') %}
                                        <!-- Start -->
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h4 class="mt-0 mb-1">{{ item.name }}</h4>
                                            {{ item.date|df }} ({{ item.email }})

                                            <p>{{ item.message|raw|nl2br }}</p>

                                            {% if item.response %}
                                                <div class="alert alert-light">
                                                    <p style="margin: 0; padding: 0;">
                                                        <b>Response:</b> {{ item.response|raw|nl2br }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!-- End -->
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
