{% extends 'main.twig' %}

{% block page %}
    <section class="contact-section">
        <div class="container">
            <h4 class="mb-2">Напишите нам</h4>
            <p>
                Мнение будет отправлено администрации, а после проверки модератором появится на этой странице.<br/>
                Если у вас был вопрос, то так же будет дан и ответ, мы приложим все усилия для того, чтобы ответить вам максимально быстро.
            </p>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <form method="post" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Ваше имя">
                                <input type="email" name="email" placeholder="Ваш E-Mail">
                                <button class="site-btn">Отправить отзыв</button>
                            </div>
                            <div class="col-md-6">
                                <textarea name="message" placeholder="Ваше сообщение или отзыв или предложение или пожелание.."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% if messages.count() %}
                <h4 class="mt-5 mb-2">Другие отзывы</h4>
                <p>Новые комментарии сверху</p>

                <div id="accordion" class="accordion-area">
                    {% for item in messages.sortByDesc('date') %}
                        <div class="panel">
                            <div class="panel-header" id="headingOne">
                                <button class="panel-link {{ loop.index < 3 ? 'active' : '' }}" data-toggle="collapse" data-target="#comment{{ loop.index }}" aria-expanded="false" aria-controls="collapse">
                                    {{ item.name }} ({{ item.email }})
                                </button>
                            </div>
                            <div id="comment{{ loop.index }}" class="collapse {{ loop.index < 3 ? 'show' : 'collapsed' }}" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>{{ item.message|nl2br|raw }}</p>

                                    <div class="alert alert-light">

                                        <p style="margin: 0; padding: 0;">
                                            <b>Ответ:</b>
                                            {{ item.response }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
