{% extends 'layout.twig' %}

{% block head %}
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    {{ styles.append('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i') }}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block style %}
    {{ styles.append('/css/bootstrap.min.css') }}
    {{ styles.append('/css/font-awesome.min.css') }}
    {{ styles.append('/css/flaticon.css') }}
    {{ styles.append('/css/slicknav.min.css') }}
    {{ styles.append('/css/jquery-ui.min.css') }}
    {{ styles.append('/css/owl.carousel.min.css') }}
    {{ styles.append('/css/animate.css') }}
    {{ styles.append('/css/style.css') }}
{% endblock %}

{% block script %}
    {{ scripts.append('/js/jquery-3.2.1.min.js') }}
    {{ scripts.append('/js/bootstrap.min.js') }}
    {{ scripts.append('/js/jquery.slicknav.min.js') }}
    {{ scripts.append('/js/owl.carousel.min.js') }}
    {{ scripts.append('/js/jquery.nicescroll.min.js') }}
    {{ scripts.append('/js/jquery.zoom.min.js') }}
    {{ scripts.append('/js/jquery-ui.min.js') }}
    {{ scripts.append('/js/main.js') }}

    {{ scripts.append('/assets/js/public/script.js') }}
{% endblock %}

{% block body %}
    <body>
        {% block bodyinner %}
            <!-- Page Preloder -->
            <div id="preloder">
                <div class="loader"></div>
            </div>

            {% include 'common/header.twig' %}

            {% block page %}
                {% include 'parts/slider.twig' %}
                {% include 'parts/features.twig' %}
                {% include 'products/last-list.twig' %}
                {% include 'common/banner.twig' %}
                {% include 'products/filter.twig' %}
            {% endblock %}

            {% include 'common/footer.twig' %}
        {% endblock %}

        {% include 'mixin/adbd.twig' %}
        {% include 'mixin/recaptcha.twig' %}
    </body>
{% endblock %}

