{% extends 'main.twig' %}

{% block title %}{{ page.meta.title ? page.meta.title : page.title }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="keywords" content="{{ page.meta.keywords }}">
{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {'title': page.title} %}

    <!-- Start Page Area -->
    {% block content %}
        <section class="section">
            <div class="container">
                {{ page.content|raw }}
            </div>
        </section>
    {% endblock %}
    <!-- End Page Area -->
{% endblock %}
