{% set category = categories.firstWhere('uuid', item.category) %}
<div class="row">
    <article class="publication" data-uuid="{{ item.uuid }}">
        <h2><a href="/{{ category.address }}/{{ item.address }}">{{ item.title }}</a></h2>
        <div>
            <ul class="meta">
                <li>{{ item.date|date(date_format) }}</li>
                <li><a href="{{ category.address }}">{{ category.title }}</a></li>
            </ul>
        </div>
        <div>
            {{ item.content.short|raw }}
        </div>
    </article>
</div>
