{% extends 'main.twig' %}

{% block title %}User profile | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Profile'
    } %}

    <!-- Start Account Area -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordion">
                            <li>
                                <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapse-profile" aria-expanded="true" aria-controls="collapse-profile">Account Details </h6>
                                <section class="checkout-steps-form-content collapse show" id="collapse-profile" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                    <form method="post" class="contact-form" data-grecaptcha>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="single-form form-default">
                                                    <label>User Name</label>
                                                    <div class="row">
                                                        <div class="col-md-6 form-input form">
                                                            {% include 'mixin/form.twig' with {
                                                                'type': 'text',
                                                                'name': 'firstname',
                                                                'args': {
                                                                    'value': user.firstname,
                                                                    'placeholder': 'First Name'
                                                                }
                                                            } %}
                                                        </div>
                                                        <div class="col-md-6 form-input form">
                                                            {% include 'mixin/form.twig' with {
                                                                'type': 'text',
                                                                'name': 'lastname',
                                                                'args': {
                                                                    'value': user.lastname,
                                                                    'placeholder': 'Last Name'
                                                                }
                                                            } %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Email Address</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'email',
                                                            'name': 'email',
                                                            'args': {
                                                                'value': user.email,
                                                                'placeholder': 'Email Address'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Phone Number</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'tel',
                                                            'name': 'phone',
                                                            'args': {
                                                                'value': user.phone,
                                                                'placeholder': 'Phone Number',
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Country</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'country',
                                                            'args': {
                                                                'value': user.country,
                                                                'placeholder': 'Country'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>City</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'city',
                                                            'args': {
                                                                'value': user.city,
                                                                'placeholder': 'City'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Post Code</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'postcode',
                                                            'args': {
                                                                'value': user.postcode,
                                                                'placeholder': 'Post Code'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Address</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'textarea',
                                                            'name': 'address',
                                                            'args': {
                                                                'value': user.address,
                                                                'placeholder': 'Address'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Additional</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'additional',
                                                            'args': {
                                                                'value': user.additional,
                                                                'placeholder': 'Additional'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Allow mail</label>
                                                    <div class="form-input form">
                                                        {% include 'cup/form.twig' with {
                                                            'type': 'select',
                                                            'name': 'allow_mail',
                                                            'args': {
                                                                'option': _(['yes', 'no']),
                                                                'selected': user.getAllowMail() ? 'yes' : 'no'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>Language</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'language',
                                                            'args': {
                                                                'value': user.language ?? _language,
                                                                'placeholder': 'Language',
                                                                'readonly': true
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-form form-default">
                                                    <label>New Password</label>
                                                    <div class="form-input form">
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'password',
                                                            'args': {
                                                                'placeholder': 'Leave blank if you don\'t want to change'
                                                            }
                                                        } %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-form button">
                                                    <button class="btn" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </li>

                            {% if user.tokens %}
                                <li>
                                    <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-tokens" aria-expanded="false" aria-controls="collapse-tokens">Active sessions</h6>
                                    <section class="checkout-steps-form-content collapse" id="collapse-tokens" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        {% for token in user.tokens %}
                                            <div class="row pt-4">
                                                <div class="col-8"><b>{{ token.comment }}</b></div>
                                                <div class="col-4 text-end">{{ token.ip }}</div>
                                                <div class="col-12">{{ token.agent }}</div>
                                                <div class="col-12">{{ token.date|df }}</div>
                                            </div>
                                        {% endfor %}

                                        <div class="row pt-4">
                                            <a class="btn btn-primary" href="/user/revoke">Close other sessions</a>
                                        </div>
                                    </section>
                                </li>
                            {% endif %}

                            {% if oauth %}
                                <li>
                                    <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-social" aria-expanded="false" aria-controls="collapse-social">Social networks</h6>
                                    <section class="checkout-steps-form-content collapse" id="collapse-social" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        <div class="row pt-4">
                                            {% for type in oauth %}
                                                <div class="col-md-6 mb-2">
                                                    <a class="btn btn-primary w-100" href="/user/oauth/{{ type }}">
                                                        <span class="d-block">{{ type }}</span>
                                                        <small class="d-block">{{ user.getIntegrations().firstWhere('provider', type) ? 'Connected' : 'Disconnected' }}</small>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </section>
                                </li>
                            {% endif %}

                            {% if user.orders.count() %}
                                <li>
                                    <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">Orders</h6>
                                    <section class="checkout-steps-form-content collapse p-0" id="collapsefive" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <table class="table table-striped">
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Order date</th>
                                                <th class="text-center">Shipping date</th>
                                                <th class="text-center">Count products</th>
                                                <th class="text-center">Total</th>
                                            </tr>
                                            {% for order in user.orders %}
                                                <tr>
                                                    <td class="text-center">{{ order.serial }}</td>
                                                    <td class="text-center">{{ order.status ? order.status.title : '&mdash;'|raw }}</td>
                                                    <td class="text-center">{{ order.date|df }}</td>
                                                    <td class="text-center">{{ order.shipping|df }}</td>
                                                    <td class="text-center">{{ order.hasProducts() }}</td>
                                                    <td class="text-center text-nowrap">{{ order.getTotalPrice()|number_format(2, '.', ' ') }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </section>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Area -->

    {#{% include 'user.profile.orders.twig' %}#}
{% endblock %}
