{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Каталог</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category{{ category.parent ? '/' ~ category.parent : (parent ? '/' ~ parent : '') }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>
                            <div class="card-title">{{ category.uuid ? 'Редактирование категории ' ~ category.title : 'Создание новой категории' }}</div>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#category" role="tab">
                                        Категория
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        Дополнительно
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {# Tab: Категория #}
                            <div class="tab-pane fade show active" id="category" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Наименование',
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Краткое описание категории"></i>',
                                            'args': {
                                                'value': category.title,
                                                'required': true,
                                                'placeholder': 'Еда',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Основная категория',
                                            'type': 'select',
                                            'name': 'parent',
                                            'args': {
                                                'option': {(NIL): '---'}|merge(categories.whereNotIn('uuid', [category.uuid]).pluck('title', 'uuid').all()),
                                                'selected': category.parent ?? parent
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Описание категории',
                                            'name': 'description',
                                            'args': {
                                                'value': category.description
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Показывать вложенные категории',
                                            'type': 'select',
                                            'name': 'children',
                                            'args': {
                                                'option': {'yes':'Да', 'no':'Нет'},
                                                'selected': category.children ? 'yes' : 'no'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Количество товаров на страницу',
                                            'type': 'text',
                                            'name': 'pagination',
                                            'args': {
                                                'value': category.pagination is not empty ? category.pagination : (params.catalog_category_pagination ?? '10'),
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название дополнительного поля 1',
                                                    'type': 'text',
                                                    'name': 'product[field_1]',
                                                    'message': 'Индивидуальное поле продукта категории',
                                                    'args': {
                                                        'value': category.product.field_1 is not empty ? category.product.field_1 : '',
                                                        'placeholder': 'Поле 1',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название дополнительного поля 2',
                                                    'type': 'text',
                                                    'name': 'product[field_2]',
                                                    'message': 'Индивидуальное поле продукта категории',
                                                    'args': {
                                                        'value': category.product.field_2 is not empty ? category.product.field_2 : '',
                                                        'placeholder': 'Поле 2',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название дополнительного поля 3',
                                                    'type': 'text',
                                                    'name': 'product[field_3]',
                                                    'message': 'Индивидуальное поле продукта категории',
                                                    'args': {
                                                        'value': category.product.field_3 is not empty ? category.product.field_3 : '',
                                                        'placeholder': 'Поле 3',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название дополнительного поля 4',
                                                    'type': 'text',
                                                    'name': 'product[field_4]',
                                                    'message': 'Индивидуальное поле продукта категории',
                                                    'args': {
                                                        'value': category.product.field_4 is not empty ? category.product.field_4 : '',
                                                        'placeholder': 'Поле 4',
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Название дополнительного поля 5',
                                                    'type': 'text',
                                                    'name': 'product[field_5]',
                                                    'message': 'Индивидуальное поле продукта категории',
                                                    'args': {
                                                        'value': category.product.field_5 is not empty ? category.product.field_5 : '',
                                                        'placeholder': 'Поле 5',
                                                    }
                                                } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Изображения',
                                            'type': 'file',
                                            'name': 'files[]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Здесь можно выбрать несколько изображений"></i>',
                                            'args': {
                                                'class': ['d-block', 'btn', 'btn-sm', 'bg-grey2'],
                                                'multiple': true,
                                                'accept': 'image/*'
                                            }
                                        } %}

                                        {% for file in category.getFiles() %}
                                            <div class="p-2 d-inline-block m-2 bg-grey2 text-center rounded">
                                                <a href="{{ file.getPublicPath() }}" target="_blank">
                                                    <img class="rounded" height="100" src="{{ file.getPublicPath('small') }}" alt="preview" data-toggle="tooltip" data-placement="top" title="{{ file.getName() }}" />
                                                </a>
                                                <div class="pt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <span class="text-small">{{ file.getFileSize() }}</span>
                                                        </div>
                                                        <div class="col-6 text-right float-right">
                                                            {% include 'cup/form.twig' with {
                                                                'label': '<i class="fa fa-trash"></i>',
                                                                'type': 'checkbox',
                                                                'name': 'delete-file[]',
                                                                'args': {
                                                                    'value': file.uuid.toString()
                                                                }
                                                            } %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес',
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/' ~ parameter('catalog_address', 'catalog') ~ '/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Название категории. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i>',
                                            'args': {
                                                'value': category.address,
                                                'placeholder': 'food',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Порядок',
                                            'type': 'number',
                                            'name': 'order',
                                            'args': {
                                                'value': category.order is not empty ? category.order : '1',
                                                'placeholder': '1',
                                                'min': '0'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Внешний ID',
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                            'args': {
                                                'value': category.external_id,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_1 ?? 'Поле 1',
                                            'type': 'text',
                                            'name': 'field1',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field1,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_2 ?? 'Поле 2',
                                            'type': 'text',
                                            'name': 'field2',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field2,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_3 ?? 'Поле 3',
                                            'type': 'text',
                                            'name': 'field3',
                                            'message': 'Индивидуальное поле',
                                            'args': {
                                                'value': category.field3,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Шаблон категории',
                                            'type': 'text',
                                            'name': 'template[category]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для данной категории или оставьте <b>catalog.category.twig</b>"></i>',
                                            'args': {
                                                'value': category.template.category is not empty ? category.template.category : (params.catalog_category_template ?? 'catalog.category.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Шаблон товара',
                                            'type': 'text',
                                            'name': 'template[product]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Укажите название шаблона, который хотите использовать для товаров в данной категории или оставьте <b>catalog.product.twig</b>"></i>',
                                            'args': {
                                                'value': category.template.product is not empty ? category.template.product : (params.catalog_product_template ?? 'catalog.product.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Title',
                                            'type': 'text',
                                            'name': 'meta[title]',
                                            'args': {
                                                'value': category.meta.title,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Description',
                                            'type': 'text',
                                            'name': 'meta[description]',
                                            'args': {
                                                'value': category.meta.description,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Метатег Keywords',
                                            'type': 'text',
                                            'name': 'meta[keywords]',
                                            'args': {
                                                'value': category.meta.keywords,
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
