{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': category,
                'create': 'Create a new category',
                'update': 'Category editing'
            } only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category{{ category.parent ? '/' ~ category.parent : (parent ? '/' ~ parent : '') }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#category" role="tab">
                                        {{ 'Category'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#attributes" role="tab">
                                        {{ 'Attributes'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#fields" role="tab">
                                        {{ 'Fields'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        {{ 'Additionally'|locale }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {# Tab: Категория #}
                            <div class="tab-pane fade show active" id="category" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Title'|locale,
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Brief description of the category'|locale) ~ '"></i>',
                                            'args': {
                                                'value': category.title,
                                                'required': true,
                                                'placeholder': 'Food',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Primary category'|locale,
                                            'type': 'select',
                                            'name': 'parent',
                                            'args': {
                                                'option': {(NIL): '---'}|merge(categories.whereNotIn('uuid', [category.uuid]).pluck('title', 'uuid').all()),
                                                'selected': category.parent ?? parent
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Category description'|locale,
                                            'name': 'description',
                                            'args': {
                                                'value': category.description
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Show nested categories'|locale,
                                            'type': 'select',
                                            'name': 'children',
                                            'args': {
                                                'option': _(['yes', 'no']),
                                                'selected': category.children ? 'yes' : 'no'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Number of products per page'|locale,
                                            'type': 'text',
                                            'name': 'pagination',
                                            'args': {
                                                'value': category.pagination is not empty ? category.pagination : (params.catalog_category_pagination ?? '10'),
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Sorting criteria'|locale,
                                            'type': 'select',
                                            'name': 'sort[by]',
                                            'args': {
                                                'option': _(reference('/App/Domain/References/Catalog::ORDER_BY')),
                                                'selected': category.sort['by'] ?? parameter('catalog_sort_by', 'title')
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Sorting order'|locale,
                                            'type': 'select',
                                            'name': 'sort[direction]',
                                            'args': {
                                                'option': _(reference('/App/Domain/References/Catalog::ORDER_DIRECTION')),
                                                'selected': category.sort['direction'] ?? parameter('catalog_sort_direction', 'ASC')
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-image.twig' with { 'entity': category } %}
                            </div>

                            {# Tab: Атрибуты #}
                            <div class="tab-pane fade" id="attributes" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Attributes'|locale,
                                            'type': 'select',
                                            'name': 'attributes[]',
                                            'message': 'Specify individual attributes for the category'|locale ~
                                                       '<a href="/cup/catalog/attribute/add" class="btn btn-xs btn-info mr-1 float-right" onclick="return confirm(\'' ~ ('Are you sure you want to go to another page?'|locale) ~ '\');"><i class="fa fa-plus"></i> ' ~ ('Create attribute'|locale) ~ '</a>',
                                            'args': {
                                                'multiple': true,
                                                'option': attributes.pluck('title', 'uuid').all(),
                                                'selected': category.hasAttributes() ? category.getAttributes().pluck('uuid').all() : ''
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Поля #}
                            <div class="tab-pane fade" id="fields" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_1 ?? ('Field'|locale ~ ' 1'),
                                            'type': 'text',
                                            'name': 'field1',
                                            'message': 'Individual field'|locale,
                                            'args': {
                                                'value': category.field1,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_2 ?? ('Field'|locale ~ ' 2'),
                                            'type': 'text',
                                            'name': 'field2',
                                            'message': 'Individual field'|locale,
                                            'args': {
                                                'value': category.field2,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-4">
                                        {% include 'cup/form.twig' with {
                                            'label': fields.catalog_category_field_3 ?? ('Field'|locale ~ ' 3'),
                                            'type': 'text',
                                            'name': 'field3',
                                            'message': 'Individual field'|locale,
                                            'args': {
                                                'value': category.field3,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': ('Field name'|locale ~ ' 1'),
                                                    'type': 'text',
                                                    'name': 'product[field_1]',
                                                    'message': 'Customized product field'|locale,
                                                    'args': {
                                                        'value': category.product.field_1 is not empty ? category.product.field_1 : '',
                                                        'placeholder': ('Field'|locale ~ ' 1'),
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': ('Field name'|locale ~ ' 2'),
                                                    'type': 'text',
                                                    'name': 'product[field_2]',
                                                    'message': 'Customized product field'|locale,
                                                    'args': {
                                                        'value': category.product.field_2 is not empty ? category.product.field_2 : '',
                                                        'placeholder': ('Field'|locale ~ ' 2'),
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': ('Field name'|locale ~ ' 3'),
                                                    'type': 'text',
                                                    'name': 'product[field_3]',
                                                    'message': 'Customized product field'|locale,
                                                    'args': {
                                                        'value': category.product.field_3 is not empty ? category.product.field_3 : '',
                                                        'placeholder': ('Field'|locale ~ ' 3'),
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': ('Field name'|locale ~ ' 4'),
                                                    'type': 'text',
                                                    'name': 'product[field_4]',
                                                    'message': 'Customized product field'|locale,
                                                    'args': {
                                                        'value': category.product.field_4 is not empty ? category.product.field_4 : '',
                                                        'placeholder': ('Field'|locale ~ ' 4'),
                                                    }
                                                } %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': ('Field name'|locale ~ ' 5'),
                                                    'type': 'text',
                                                    'name': 'product[field_5]',
                                                    'message': 'Customized product field'|locale,
                                                    'args': {
                                                        'value': category.product.field_5 is not empty ? category.product.field_5 : '',
                                                        'placeholder': ('Field'|locale ~ ' 5'),
                                                    }
                                                } %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Address'|locale,
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/' ~ parameter('catalog_address', 'catalog') ~ '/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Name of category. You can leave it blank, then the value will be generated automatically. It is allowed to use only Latin characters and numbers without spaces'|locale) ~ '"></i>',
                                            'args': {
                                                'value': category.address,
                                                'placeholder': 'food',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Order'|locale,
                                            'type': 'number',
                                            'name': 'order',
                                            'args': {
                                                'value': category.order is not empty ? category.order : '1',
                                                'placeholder': '1',
                                                'min': '0'
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'External ID'|locale,
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': category.external_id,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Category template'|locale,
                                            'type': 'text',
                                            'name': 'template[category]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="' ~ ('Specify the name of the template you want to use for this category or leave <b>catalog.category.twig</b>'|locale) ~ '"></i>',
                                            'args': {
                                                'value': category.template.category is not empty ? category.template.category : (params.catalog_category_template ?? 'catalog.category.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Category product'|locale,
                                            'type': 'text',
                                            'name': 'template[product]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="' ~ ('Specify the name of the template you want to use for products in this category or leave <b>catalog.product.twig</b>'|locale) ~ '"></i>',
                                            'args': {
                                                'value': category.template.product is not empty ? category.template.product : (params.catalog_product_template ?? 'catalog.product.twig'),
                                                'required': true,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                {% include "cup/form-meta.twig" with { 'entity': category } %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
