{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Каталог</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/category/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}
                        <h4 class="card-title">Список категорий {{ category ? 'вложенный в ' ~ category.title : '' }} ({{ categories.where('parent', category ? category.uuid : '00000000-0000-0000-0000-000000000000').count() }})</h4>
                        <a href="/cup/catalog/category/add{{ category ? '?parent=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Добавить категорию
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th class="d-none">#</th>
                                    <th width="20%">Наименование</th>
                                    <th width="15%">Родительская категория</th>
                                    <th>{{ fields.catalog_category_field_1 ?? 'Поле 1' }}</th>
                                    <th>{{ fields.catalog_category_field_2 ?? 'Поле 2' }}</th>
                                    <th>{{ fields.catalog_category_field_3 ?? 'Поле 3' }}</th>
                                    <th width="10%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories.where('parent', category ? category.uuid : '00000000-0000-0000-0000-000000000000') %}
                                    <tr>
                                        <td class="text-center d-none">{{ category.order }}</td>
                                        <td>
                                            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ category.address }}" target="_blank">
                                                {{ category.title }}
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </td>
                                        <td>{{ categories.where('uuid', category.parent).first().title ?? '&mdash;' }}</td>
                                        <td>{{ category.field1 }}</td>
                                        <td>{{ category.field2 }}</td>
                                        <td>{{ category.field3 }}</td>
                                        <td class="text-center">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="/cup/catalog/category/{{ category.uuid }}" class="btn btn-link"><i class="fas fa-sitemap"></i> Вложенные категории</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cup/catalog/product/{{ category.uuid }}" class="btn btn-link"><i class="fas fa-eye"></i> Номенклатура</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cup/catalog/data/export?category={{ category.uuid }}" class="btn btn-link"><i class="fas fa-file-export"></i> Экспорт продуктов</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cup/catalog/category/{{ category.uuid }}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Изменить</a>
                                                    </li>
                                                    <li><div class="dropdown-divider"></div></li>
                                                    <li>
                                                        <form action="/cup/catalog/category/{{ category.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить категорию?');">
                                                            <button type="submit" class="btn btn-link text-danger">
                                                                <i class="fas fa-trash-alt"></i> Удалить
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
