{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Список категорий'|locale }} {{ category ? 'вложенный в'|locale ~ ' ' ~ category.title : '' }} ({{ categories.where('parent', category ? category.uuid : NIL).count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/category/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}

                        <a href="/cup/catalog/category/add{{ category ? '?parent=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Создать категорию'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>{{ 'Наименование'|locale }}</th>
                                <th width="15%">{{ 'Категория'|locale }}</th>
                                <th width="45%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for category in categories.where('parent', category ? category.uuid : NIL).sortBy('order') %}
                                <tr>
                                    <td>{{ category.title|u.truncate(50, '...') }}</td>
                                    <td width="15%">{{ categories.where('uuid', category.parent).first().title ?? '<code>&mdash;</code>'|raw }}</td>
                                    <td width="45%" class="text-right">
                                        <form action="/cup/catalog/category/{{ category.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Вы действительно хотите удалить категорию?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/category/{{ category.uuid }}" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-fw fa-sitemap"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Подкатегории'|locale }}</span>
                                                </a>
                                                <a href="/cup/catalog/product/{{ category.uuid }}" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-fw fa-eye"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Номенклатура'|locale }}</span>
                                                </a>
                                                <a href="/cup/catalog/category/{{ category.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Изменить'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Удалить'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
