{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Каталог</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список категорий ({{ category.count() }})</h4>
                        <a href="/cup/catalog/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Добавить категорию
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th width="5%"><i class="fas fa-sort" data-toggle="tooltip" data-placement="top" title="Название категории. Можно оставить пустым, тогда значение будет сгенерировано автоматически. Допустимо использование только латинских символов и цифер без пробелов"></i></th>
                                    <th>Наименование</th>
                                    <th>Основная категория</th>
                                    <th>{{ fields.catalog_category_field_1 ?? 'Поле 1' }}</th>
                                    <th>{{ fields.catalog_category_field_2 ?? 'Поле 2' }}</th>
                                    <th>{{ fields.catalog_category_field_3 ?? 'Поле 3' }}</th>
                                    <th width="10%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in category %}
                                    <tr>
                                        <td class="text-center">{{ item.order }}</td>
                                        <td>
                                            <a href="/catalog/{{ item.address }}" target="_blank">
                                                {{ item.title }}
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </td>
                                        <td>{{ category.where('uuid', item.parent).first().title ?? '&mdash;' }}</td>
                                        <td>{{ item.field1 }}</td>
                                        <td>{{ item.field2 }}</td>
                                        <td>{{ item.field3 }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/{{ item.uuid }}/product" class="btn btn-outline-info btn-sm">
                                                    <i class="fas fa-eye fa-lg"></i>
                                                </a>
                                                <div class="btn-group dropdown">
                                                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <i class="fas fa-bars"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <a href="/cup/catalog/{{ item.uuid }}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Изменить</a>
                                                        </li>
                                                        <li><div class="dropdown-divider"></div></li>
                                                        <li>
                                                            <form action="/cup/catalog/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить публикацию?');">
                                                                <button type="submit" class="btn btn-link text-danger">
                                                                    <i class="fas fa-trash-alt"></i> Удалить
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
