{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of categories'|locale }} {{ category ? 'embedded in'|locale ~ ' ' ~ category.title : '' }} ({{ categories.where('parent', category ? category.uuid : NIL).count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/category/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}

                        <a href="/cup/catalog/category/add{{ category ? '?parent=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create category'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-6 col-sm">{{ 'Title'|locale }}</div>
                            <div class="col-6 col-sm-3">{{ 'Category'|locale }}</div>
                            <div class="col-12 col-sm-5 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in categories %}
                                <div class="row">
                                    <div class="col-6 col-sm">{{ item.title|u.truncate(50, '...') }}</div>
                                    <div class="col-6 col-sm-3">{{ categories.firstWhere('uuid', item.parent).title ?? '<code>&mdash;</code>'|raw }}</div>
                                    <div class="col-12 col-sm-5 text-right">
                                        <form action="/cup/catalog/category/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete a category?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/product/{{ item.uuid }}" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-fw fa-eye"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Nomenclature'|locale }}</span>
                                                </a>
                                                <a href="/cup/catalog/category/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
