{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Гостевая книга</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список записей ({{ list.count() }})</h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th width="15%">Имя</th>
                                    <th width="5%">Статус</th>
                                    <th width="55%">Сообщение</th>
                                    <th width="15%">Дата создания</th>
                                    <th width="10%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td>
                                            {{ item.name }}

                                            {% if item.email %}
                                                <a href="mailto:{{ item.email }}" class="text-black-50 float-right">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if item.status == 'work' %}
                                                <span class="badge badge-default">Активный</span>
                                            {% endif %}
                                            {% if item.status == 'moderate' %}
                                                <span class="badge badge-secondary">Новый</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <pre class="mt-2">{{ item.message|truncate(100) }}</pre>
                                            <pre class="mb-2 text-primary">{{ item.response|truncate(100) }}</pre>
                                        </td>
                                        <td>{{ item.date|date('d.m.Y H:i:s') }}</td>
                                        <td class="text-center">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="/cup/guestbook/{{ item.uuid }}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Изменить</a>
                                                    </li>
                                                    <li><div class="dropdown-divider"></div></li>
                                                    <li>
                                                        <form action="/cup/guestbook/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
                                                            <button type="submit" class="btn btn-link text-danger">
                                                                <i class="fas fa-trash-alt"></i> Удалить
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
