{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Гостевая книга</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Список записей ({{ list.count() }})</h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="table table-striped table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th width="10%">Статус</th>
                                    <th>Имя</th>
                                    <th width="15%">Дата создания</th>
                                    <th width="15%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td class="text-center">
                                            {% if item.status == 'work' %}
                                                <span class="badge badge-default">Активный</span>
                                            {% endif %}
                                            {% if item.status == 'moderate' %}
                                                <span class="badge badge-secondary">Новый</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ item.name }}

                                            {% if item.email %}
                                                <a href="mailto:{{ item.email }}" class="text-black-50 float-right">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td data-order="{{ item.date.getTimestamp() }}">{{ item.date|df('d.m.Y H:i:s') }}</td>
                                        <td class="text-center">
                                            <form action="/cup/guestbook/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
                                                <div class="btn-group">
                                                    <a href="/cup/guestbook/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                        <i class="fas fa-fw fa-edit"></i>
                                                        <span class="d-none d-md-inline-block">Изменить</span>
                                                    </a>
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>
                                                        <span class="d-none d-md-inline-block">Удалить</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
