<!DOCTYPE html>
<html lang="{{ _language }}">
    <!-- Copyright © 2011-{{ 'now'|df('Y') }} Aleksey Ilyin (getwebspace.org) — OpenSource WebSpace Engine CMS -->
    <!-- Website: https://getwebspace.org -->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="WebSpace Engine CMS" />

        {% block head '' %}
        {% block style '' %}

        <title>{% block title deferred %}{{ title ? title ~ ' | ' : '' }}{{ parameter('common_title') }}{% endblock %}</title>
        <script defer type="text/javascript" src="/assets/js/wse.js?v={{ SHA }}"></script>
    </head>

    {% block body %}
        <body>
            {% block bodyinner '' %}
            {% block script '' %}
        </body>
    {% endblock %}
</html>
