{% for item in list.where('type', 'dir').sortBy('name') %}
    {% if item.list is not empty %}
        <tr>
            <td style="height: 25px;">
                <div class="d-inline" style="padding-left: {{ padding }}px;">
                    <i class="fas fa-folder fa-fw"></i>
                    <span class="pl-2">{{ item.name }}</span>
                    {% include 'cup/editor/file.twig' with {'list': item.list, 'prefix': prefix ~ item.name ~ '/', 'padding': padding + 10} only %}
                </div>
            </td>
        </tr>
    {% endif %}
{% endfor %}

{% for item in list.where('type', 'file').sortBy('name') %}
    <tr>
        <td style="height: 25px;">
            <div class="d-inline" style="padding-left: {{ padding }}px;">
                <i class="fas fa-file fa-fw"></i>
                <a href="/cup/editor/{{ prefix }}{{ item.name }}" class="pl-2">{{ item.name }}</a>
            </div>
        </td>
    </tr>
{% endfor %}
