{% for item in list.where('type', 'dir').sortBy('name') %}
    {% if item.list is not empty %}
        <span class="label">
            <i class="fas fa-folder fa-fw"></i>
            {{ item.name }}
        </span>
        {% include 'cup/editor/index-aside-file.twig' with {'list': item.list, 'prefix': prefix ~ item.name ~ '/', 'padding': padding + 10} only %}
    {% endif %}
{% endfor %}

<ul class="nav">
    {% for item in list.where('type', 'file').sortBy('name') %}
        <li class="{{ current_path() ends with prefix ~ item.name ? 'active' }}" style="{{ padding ? 'padding-left: ' ~ padding ~ 'px;'}}">
            <a href="/cup/editor/{{ prefix }}{{ item.name }}">
                <i class="fas fa-file fa-fw"></i> {{ item.name }}
            </a>
        </li>
    {% endfor %}
</ul>
