{#
    multiple - few files (default: true)
#}
{% if multiple is null %}
    {% set multiple = true %}
{% endif %}

{% block fileimage %}
    {% if parameter('file_is_enabled', 'yes') == 'yes' %}
        <div data-filedocument class="row">
            <div class="col-md-12">
                {% include 'cup/form.twig' with {
                    'label': multiple ? 'Files'|locale : 'File'|locale,
                    'type': 'file',
                    'name': 'files[]',
                    'postfix': multiple ? '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Multiple files can be selected here')|locale ~ '"></i>' : '',
                    'args': {
                        'class': ['d-block', 'btn', 'btn-sm', 'bg-grey2'],
                        'multiple': multiple,
                        'accept': 'application/*, text/*'
                    }
                } %}

                {% if entity.documents %}
                    <div class="row font-weight-bold">
                        <div class="col-6">{{ 'File name'|locale }}</div>
                        <div class="col-4 text-right">{{ 'Size'|locale }}</div>
                        <div class="col-2 text-right"></div>
                    </div>

                    {% for file in entity.documents %}
                        <div class="row py-2">
                            <div class="col-6"><a href="{{ file.public_path() }}">{{ file.filename() }}</a></div>
                            <div class="col-4 text-right">{{ file.size() }}</div>
                            <div class="col-2 text-right">
                                {% include 'cup/form.twig' with {
                                    'label': '<i class="fa fa-trash"></i>',
                                    'type': 'checkbox',
                                    'name': 'files[' ~ file.uuid ~ '][delete]',
                                    'args': {
                                        'value': 1
                                    }
                                } %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
