{% extends 'layout.twig' %}

{% block title %}WebSpace Dashboard{% endblock %}

{% block head %}
    <meta name="google" content="notranslate">
    <meta name="theme-color" content="#1269db">
    <meta name="apple-mobile-web-app-title" content="WebSpace Engine">

    <link rel="icon" href="/assets/img/icon/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon/16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon/32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/icon/64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/assets/img/icon/128.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/assets/img/icon/192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/icon/256.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/icon/512.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css?v={{ SHA }}">
    <link rel="stylesheet" href="/assets/css/atlantis.css?v={{ SHA }}">
{% endblock %}

{% block body %}
    <body data-background-color="bg3">
        {% block bodyinner %}
            <div class="wrapper">
                <div class="main-header">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="blue2">
                        <a href="/cup" class="logo text-white">WebSpace Engine</a>

                        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
                        <button class="topbar-toggler more"><i class="fas fa-bars"></i></button>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                        </div>
                    </div>
                    <!-- End Logo Header -->

                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
                        <div class="container-fluid">
                            {% include 'cup/toolbar.twig' %}
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>

                <!-- Sidebar -->
                <div class="sidebar sidebar-style-2" data-background-color="white">
                    <div class="sidebar-wrapper scrollbar scrollbar-inner">
                        <div class="sidebar-content">
                            {% include 'cup/navigation.twig' %}
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <div class="main-panel">
                    {% block panelinner %}
                        <div class="content">
                            <div class="panel-header bg-primary-gradient">
                                {% block breadcrumb %}
                                    <div class="page-inner py-5">
                                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                                            <div>
                                                <h2 class="text-white pb-2 fw-bold">{{ 'Control Panel'|locale }}</h2>
                                                <h5 class="text-white op-7 mb-2">{{ 'Welcome to the site control panel'|locale }}</h5>
                                            </div>
                                            <div class="ml-md-auto py-2 py-md-0">
                                                {#<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
                                                <a href="#" class="btn btn-secondary btn-round">Add Customer</a>#}
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>

                            <div class="page-inner container-xl float-left mt--5">
                                {% if _error is not empty %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card bg-danger">
                                                <div class="card-header text-center">
                                                    <h4 class="card-title text-white">{{ 'Errors found'|locale }} ({{ _error|count }})</h4>
                                                    <p class="text-white my-0">
                                                        {% locale %}
                                                            Errors were found in the form, please check the fields
                                                            highlighted in red, correct the errors and try again.
                                                        {% endlocale %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% block content %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card full-height">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6 col-lg-4">
                                                            <a href="/cup/user" class="card card-stats card-primary card-round">
                                                                <div class="card-body">
                                                                    <p class="card-category">
                                                                        <b>{{ 'Editing Users'|locale }}</b><br>
                                                                        {% locale %}
                                                                            Managing registered users,
                                                                            editing their profiles and blocking
                                                                        {% endlocale %}
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        {% if parameter('publication_is_enabled', 'yes') != 'no' %}
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/publication" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Publication management'|locale }}</b><br>
                                                                            {% locale %}
                                                                                Section for managing articles, news,
                                                                                personal blog entries
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                        {% if parameter('page_is_enabled', 'yes') != 'no' %}
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/page" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Site pages'|locale }}</b><br>
                                                                            {% locale %}
                                                                                Creation and editing of pages that, as a
                                                                                rule, rarely change and have a permanent
                                                                                address
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                        {% if parameter('catalog_is_enabled', 'yes') != 'no' %}
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/catalog/product" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Product nomenclature'|locale }}</b><br>
                                                                            {% locale %}
                                                                                Management of goods and services of the
                                                                                site, adding new positions and changing
                                                                                existing ones
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/catalog/product" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Store categories'|locale }}</b><br>
                                                                            {% locale %}
                                                                                Create and edit product categories,
                                                                                change descriptions and attached
                                                                                photos
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                        {% if parameter('guestbook_is_enabled', 'yes') != 'no' %}
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/guestbook" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Guestbook and reviews'|locale }}</b><br>
                                                                            {% locale %}
                                                                                View visitor reviews of the site,
                                                                                change and manage responses
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                        {% if parameter('form_is_enabled', 'yes') != 'no' %}
                                                            <div class="col-12 col-sm-6 col-lg-4">
                                                                <a href="/cup/form" class="card card-stats card-primary card-round">
                                                                    <div class="card-body">
                                                                        <p class="card-category">
                                                                            <b>{{ 'Communication forms'|locale }}</b><br>
                                                                            {% locale %}
                                                                                Create and edit feedback forms,
                                                                                customize the email format
                                                                            {% endlocale %}
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                        <div class="col-12 col-sm-6 col-lg-4">
                                                            <a href="/cup/parameters" class="card card-stats card-primary card-round">
                                                                <div class="card-body">
                                                                    <p class="card-category">
                                                                        <b>{{ 'System settings'|locale }}</b><br>
                                                                        {% locale %}
                                                                            Configuring general script parameters,
                                                                            as well as configuring news output,
                                                                            catalog, plugins
                                                                        {% endlocale %}
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card full-height">
                                                <div class="card-header">
                                                    <div class="d-flex align-items-center">
                                                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active show" data-toggle="pill" href="#stats" role="tab">
                                                                    {{ 'Site summary'|locale }}
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="pill" href="#notepad" role="tab">
                                                                    {{ 'Notebook'|locale }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-content">

                                                        {# Tab: Сводка #}
                                                        <div class="tab-pane fade show active" id="stats" role="tabpanel">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <p class="text-muted text-center">{{ 'Below is the statistics of engine usage by sections'|locale }}</p>

                                                                    <table class="table table-stats">
                                                                        {% if stats.pages %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of pages'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.pages }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.publications %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of publications'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.publications }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.guestbook %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of reviews'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.guestbook }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.users %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of users'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.users }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.catalog.category or stats.catalog.product %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of categories and products'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.catalog.category }} | {{ stats.catalog.product }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.catalog.order %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'The number of orders'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.catalog.order }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.forms %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of forms'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.forms }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if stats.files %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of files'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ stats.files }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if plugins.count() %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Number of plugins'|locale }}:</th>
                                                                                <td width="50%" class="text-center">
                                                                                    {{ plugins.count() }}
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    </table>
                                                                </div>
                                                                <div class="col-12 col-md-6 border-left">
                                                                    <p class="text-muted text-center">{{ 'Here is a collection of technical information about the engine and server'|locale }}</p>

                                                                    <table class="table table-properties">
                                                                        <tr>
                                                                            <th width="50%">{{ 'Build'|locale }}:</th>
                                                                            <td width="50%" class="text-center">
                                                                                {{ properties.version.branch }}

                                                                                {% if properties.version.commit %}
                                                                                    (<a href="https://github.com/getwebspace/platform/tree/{{ properties.version.commit }}" target="_blank">{{ SHA }}</a>)
                                                                                {% endif %}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="50%">{{ 'Operating system'|locale }}:</th>
                                                                            <td width="50%" class="text-center">{{ properties.os }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="50%">{{ 'PHP version'|locale }}:</th>
                                                                            <td width="50%" class="text-center">{{ properties.php }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="50%">{{ 'Dedicated RAM'|locale }}:</th>
                                                                            <td width="50%" class="text-center">{{ properties.memory_limit }}</td>
                                                                        </tr>
                                                                        {% if properties.disable_functions %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Disabled features'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ properties.disable_functions }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% if properties.disable_classes %}
                                                                            <tr>
                                                                                <th width="50%">{{ 'Disabled classes'|locale }}:</th>
                                                                                <td width="50%" class="text-center">{{ properties.disable_classes }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        <tr>
                                                                            <th width="50%">{{ 'Maximum upload file size'|locale }}:</th>
                                                                            <td width="50%" class="text-center">{{ properties.upload_max_filesize }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="50%">{{ 'Maximum downloadable files'|locale }}:</th>
                                                                            <td width="50%" class="text-center">{{ properties.max_file_uploads }}</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {# Tab: Блокнот #}
                                                        <div class="tab-pane fade" id="notepad" role="tabpanel">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <form action="/cup/parameters?return=/cup" method="post">
                                                                        <p class="text-muted text-center mb-0">{{ 'Here you can save your own notes and memos'|locale }}</p>

                                                                        {% include 'cup/editor.twig' with {
                                                                            'name': 'notepad[' ~ user.username ~ ']',
                                                                            'args': {
                                                                                'value': notepad,
                                                                                'required': true,
                                                                            }
                                                                        } %}
                                                                        <button type="submit" class="btn btn-success ml-2">{{ 'Save'|locale }}</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="copyright mr-auto">
                                Copyright: &copy; 2011-{{ 'now'|df('Y') }} Aleksey Ilyin<br>
                                {{ 'Build'|locale }}: <span class="text-muted">{{ SHA }}</span>
                            </div>
                            <nav class="pull-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://getwebspace.org" target="_blank">
                                            WebSpace Engine
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://github.com/getwebspace/platform" target="_blank">
                                            GitHub
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://github.com/getwebspace/platform/wiki" target="_blank">
                                            {{ 'Documentation'|locale }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://github.com/getwebspace/platform/issues" target="_blank">
                                            {{ 'Support'|locale }}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </footer>
                </div>

                {% include 'cup/sidebar.twig' %}
            </div>
        {% endblock %}
    </body>

    <link rel="stylesheet" href="/assets/js/plugin/jquery.modal/jquery.modal.min.css?v={{ SHA }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">

    <script src="/assets/js/core/jquery.3.7.1.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/popper.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/tooltip.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/bootstrap.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/bootstrap-tagsinput.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/moment.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/moment-with-locales.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/core/moment-timezone-with-data.js?v={{ SHA }}"></script>

    <script>moment.locale('{{ _language }}')</script>

    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/jquery.modal/jquery.modal.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/sweetalert/sweetalert2.all.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/select2/select2.full.min.js?v={{ SHA }}"></script>
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js?v={{ SHA }}"></script>

    <script src="/assets/js/cup/script.js?v={{ SHA }}"></script>

    {# plugin scripts #}
    {% for plugin in plugins.where('script', true) %}
        {% for item in plugin.getScripts() %}
            <!-- {{ plugin.getCredentials('name') }} -->
            {% include item %}
        {% endfor %}
    {% endfor %}

    {% block script '' %}
{% endblock %}
