<ul class="nav nav-primary">
    <li class="nav-item">
        <a href="/cup">
            <i class="fas fa-home"></i>
            <p>{{ 'Control Panel'|locale }}</p>
        </a>
    </li>

    {% if user and ('cup:main' in user.group.access) %}
        <li class="nav-section">
            <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">{{ 'Sections'|locale }}</h4>
        </li>

        {% if parameter('publication_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a data-toggle="collapse" href="#nav-publication">
                    <i class="fas fa-newspaper"></i>
                    <p>{{ 'Publications'|locale }}</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="nav-publication">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="/cup/publication">
                                <span class="sub-item">{{ 'Edit'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/publication/category">
                                <span class="sub-item">{{ 'Categories'|locale }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if parameter('page_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a href="/cup/page">
                    <i class="fas fa-book-open"></i>
                    <p>{{ 'Pages'|locale }}</p>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a data-toggle="collapse" href="#nav-user">
                <i class="fas fa-users"></i>
                <p>{{ 'Members'|locale }}</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="nav-user">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/cup/user">
                            <span class="sub-item">{{ 'List'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/user/group">
                            <span class="sub-item">{{ 'Groups'|locale }}</span>
                        </a>
                    </li>
                    {% if parameter('user_is_enabled', 'yes') != 'no' %}
                        <li>
                            <a href="/cup/user/subscriber">
                                <span class="sub-item">{{ 'Subscribers'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/user/newsletter">
                                <span class="sub-item">{{ 'Newsletter'|locale }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>

        {% if parameter('form_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a href="/cup/form">
                    <i class="fas fa-question-circle"></i>
                    <p>{{ 'Forms'|locale }}</p>
                </a>
            </li>
        {% endif %}

        {% if parameter('catalog_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a data-toggle="collapse" href="#nav-catalog">
                    <i class="fas fa-store"></i>
                    <p>{{ 'Catalog'|locale }}</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="nav-catalog">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="/cup/catalog/product">
                                <span class="sub-item">{{ 'Nomenclature'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/category">
                                <span class="sub-item">{{ 'Categories'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/order">
                                <span class="sub-item">{{ 'Orders'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/attribute">
                                <span class="sub-item">{{ 'Attributes'|locale }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cup/catalog/statistic">
                                <span class="sub-item">{{ 'Statistic'|locale }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endif %}

        {% if parameter('guestbook_is_enabled', 'yes') != 'no' %}
            <li class="nav-item">
                <a href="/cup/guestbook">
                    <i class="fas fa-book-reader"></i>
                    <p>{{ 'Guestbook'|locale }}</p>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a href="/cup/file">
                <i class="fas fa-file"></i>
                <p>{{ 'Files'|locale }}</p>
            </a>
        </li>

        <li class="nav-item submenu">
            <a data-toggle="collapse" href="#nav-reference">
                <i class="fas fa-book"></i>
                <p>{{ 'Reference'|locale }}</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="nav-reference">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/cup/reference/social-networks">
                            <span class="sub-item">{{ 'Social networks'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/countries">
                            <span class="sub-item">{{ 'Countries'|locale }}</span>
                        </a>
                    </li>
                    {#<li>
                        <a href="/cup/reference/currencies">
                            <span class="sub-item">{{ 'Currencies'|locale }}</span>
                        </a>
                    </li>#}
                    <li>
                        <a href="/cup/reference/payments">
                            <span class="sub-item">{{ 'Payment methods'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/deliveries">
                            <span class="sub-item">{{ 'Deliveries'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/address-format">
                            <span class="sub-item">{{ 'Address format'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/store-locations">
                            <span class="sub-item">{{ 'Store locations'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/manufacturer">
                            <span class="sub-item">{{ 'Manufacturers'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/order-status">
                            <span class="sub-item">{{ 'Order statuses'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/stock-status">
                            <span class="sub-item">{{ 'Stock statuses'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/length-classes">
                            <span class="sub-item">{{ 'Length classes'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/weight-classes">
                            <span class="sub-item">{{ 'Weight classes'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/tax-rates">
                            <span class="sub-item">{{ 'Tax rates'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/order-invoice">
                            <span class="sub-item">{{ 'Invoice template'|locale }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cup/reference/order-dispatch">
                            <span class="sub-item">{{ 'Dispatch template'|locale }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="/cup/parameters">
                <i class="fas fa-cog"></i>
                <p>{{ 'Settings'|locale }}</p>
            </a>
        </li>

        {% if plugins.where('navigation', true).count() %}
            <li class="nav-section">
                <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">{{ 'Plugins'|locale }}</h4>
            </li>

            {% for plugin in plugins.where('navigation', true) %}
                <li class="nav-item">
                    <a href="/cup/plugin/{{ plugin.getCredentials('name') }}">
                        <i class="fas fa-puzzle-piece"></i>
                        <p>{{ plugin.getCredentials('title') }}</p>
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        <li class="nav-section">
            <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">{{ 'Other'|locale }}</h4>
        </li>

        <li class="nav-item">
            <a href="/cup/editor">
                <i class="fas fa-edit"></i>
                <p>{{ 'File editor'|locale }}</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/cup/logs">
                <i class="fas fa-terminal"></i>
                <p>{{ 'System log'|locale }}</p>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="/auth/logout?redirect=/cup">
                <i class="fas fa-sign-out-alt"></i>
                <p>{{ 'Exit'|locale }}</p>
            </a>
        </li>
    {% endif %}
</ul>
