{% set tasks = task() %}

<li data-task-list class="nav-item dropdown hidden-caret" {{ tasks.count() ? '' : 'style="display: none"' }}>
    <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-tasks"></i>
        <span class="notification">{{ tasks.count() }}</span>
    </a>
    <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
        <li>
            <div class="dropdown-title">
                Фоновые задачи
            </div>
        </li>
        <li>
            <div class="notif-scroll scrollbar-outer" style="overflow-y: scroll">
                <div class="notif-center">
                    {% for task in tasks %}
                        <a href="#">
                            <div class="notif-content pl-4 pr-3">
                                <span class="block">{{ task.action }} ({{ task.status }})</span>
                                <span class="time">{{ task.date|df('d.m.Y H:i:s') }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </li>
    </ul>
</li>
