{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of categories'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/publication/category/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create category'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>{{ 'Title'|locale }}</th>
                                <th width="25%">{{ 'Category'|locale }}</th>
                                <th width="8%" class="d-none d-md-table-cell">{{ 'Is public'|locale }}</th>
                                <th width="8%" class="d-none d-md-table-cell">{{ 'With nested'|locale }}</th>
                                <th width="25%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list.sortBy('title') %}
                                <tr>
                                    <td>{{ item.title|u.truncate(50, '...') }}</td>
                                    <td width="25%">{{ list.where('uuid', item.parent).first().title ?? '<code>&mdash;</code>'|raw }}</td>
                                    <td width="8%" class="d-none d-md-table-cell text-center" data-order="{{ item.public }}">
                                        {{ item.public ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}
                                    </td>
                                    <td width="8%" class="d-none d-md-table-cell text-center" data-order="{{ item.children }}">
                                        {{ item.children ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}
                                    </td>
                                    <td width="25%" class="text-right">
                                        <form action="/cup/publication/category/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete a post category?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/publication/category/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
