{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': order,
                'create': 'Create a new order',
                'update': 'Edit order'
            } only %}
            {% if order %}
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="/cup/catalog/order/{{ order.uuid }}/invoice" class="btn btn-secondary">
                        <i class="fas fa-file-invoice"></i>
                        {{ 'Invoice'|locale }}
                    </a>
                    <a href="/cup/catalog/order/{{ order.uuid }}/dispatch" class="btn btn-secondary">
                        <i class="fas fa-dolly"></i>
                        {{ 'Shipping'|locale }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Client'|locale,
                                    'type': 'text',
                                    'name': 'delivery[client]',
                                    'postfix_btn': '<button type="button" data-btn-order-modal-user class="btn btn-outline-secondary btn-icon h-100"><i class="fas fa-cog" style="padding-top: 2px;"></i></button>',
                                    'args': {
                                        'value': order.delivery.client,
                                        'required': true,
                                    }
                                } %}

                                <div style="display: none">
                                    {% include 'cup/form.twig' with {
                                        'type': 'hidden',
                                        'name': 'user_uuid',
                                        'args': {
                                            'value': order.user ? order.user.uuid : ''
                                        }
                                    } %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Phone'|locale,
                                    'type': 'tel',
                                    'name': 'phone',
                                    'args': {
                                        'value': order.phone,
                                    }
                                } %}
                            </div>

                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'value': order.email,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Delivery address'|locale,
                                    'type': 'textarea',
                                    'name': 'delivery[address]',
                                    'args': {
                                        'value': order.delivery.address,
                                        'style': 'min-height: 133px;'
                                    }
                                } %}
                            </div>

                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Delivery date'|locale,
                                    'type': 'datetime',
                                    'name': 'shipping',
                                    'args': {
                                        'value': order.shipping|df('Y-m-d\\TH:i'),
                                        'placeholder': '20.01.2019 12:34',
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Status'|locale,
                                    'type': 'select',
                                    'name': 'status_uuid',
                                    'message': '<a href="/cup/reference/order-status/add" class="btn btn-xs btn-info float-right" onclick="return confirm(\'' ~ ('Are you sure you want to go to another page?'|locale) ~ '\');"><i class="fa fa-plus"></i> ' ~ ('Create status'|locale) ~ '</a>',
                                    'args': {
                                        'option': status_list.sortBy('order').pluck('title', 'uuid').all(),
                                        'selected': order.status_uuid ? order.status_uuid : status_list.sortBy('order').first.uuid
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                {% include 'cup/form.twig' with {
                                    'label': 'Comment'|locale,
                                    'type': 'textarea',
                                    'name': 'comment',
                                    'args': {
                                        'value': order.comment,
                                        'style': 'min-height: 60px;'
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="accordion mt-3">
                            <button class="btn btn-outline-white btn-block text-center" type="button" data-toggle="collapse" data-target="#order-more">
                                {{ 'More'|locale }} <i class="fas fa-arrow-down"></i>
                            </button>

                            <div id="order-more" class="collapse" data-parent=".accordion">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Order date'|locale,
                                            'type': 'datetime',
                                            'args': {
                                                'value': order.date|df('Y-m-d\\TH:i'),
                                                'placeholder': '20-01-2019',
                                                'readonly': true
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'External ID'|locale,
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': order.external_id,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Technical information'|locale,
                                            'type': 'textarea',
                                            'name': 'system',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': order.system,
                                                'style': 'min-height: 133px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">{{ 'Order list'|locale }}</div>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <button type="button" data-btn-order-modal-product class="btn btn-outline-secondary ml-auto">
                                        <i class="fa fa-plus"></i>
                                        {{ 'Add product'|locale }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <table data-table="order" class="table table-striped table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="no-sorting">{{ 'Item'|locale }}</th>
                                        <th width="15%" class="no-sorting">{{ 'Price'|locale }}</th>
                                        <th width="15%" class="no-sorting">{{ 'Subtotal'|locale }}</th>
                                        <th width="15%" class="no-sorting">{{ 'Count'|locale }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.getProducts() %}
                                        <tr data-product="{{ item.product.uuid }}">
                                            <td>{{ item.title }}</td>
                                            <td data-price>{{ item.price|number_format(2, '.', ' ') }}</td>
                                            <td data-subtotal>{{ (item.price * item.count)|number_format(2, '.', ' ') }}</td>
                                            <td>
                                                {% include 'cup/form.twig' with {
                                                    'type': 'number',
                                                    'name': 'products['~ item.product.uuid ~'][count]',
                                                    'args': {
                                                        'value': item.count,
                                                        'placeholder': '1',
                                                        'step': 'any',
                                                        'min': '0',
                                                    }
                                                } %}

                                                <div style="display: none">
                                                    {% include 'cup/form.twig' with {
                                                        'type': 'hidden',
                                                        'name': 'products['~ item.product.uuid ~'][price_type]',
                                                        'args': {
                                                            'value': item.price_type,
                                                        }
                                                    } %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% include 'cup/catalog/order/form-modal-user.twig' %}
    {% include 'cup/catalog/order/form-modal-product.twig' %}

{% endblock %}
