{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Заказы</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ order.uuid ? 'Редактирование заказа ' ~ order.serial : 'Создание нового заказа' }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Получатель',
                                            'type': 'text',
                                            'name': 'delivery[client]',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="ФИО клиента"></i>',
                                            'args': {
                                                'value': order.user ? order.user.getName() : order.delivery.client,
                                                'required': true,
                                                'readonly': order.user ? true : false
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Адрес доставки',
                                            'type': 'textarea',
                                            'name': 'delivery[address]',
                                            'args': {
                                                'value': order.delivery.address,
                                                'style': 'min-height: 131px;'
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Комментарий',
                                            'type': 'textarea',
                                            'name': 'comment',
                                            'args': {
                                                'value': order.comment,
                                                'style': 'min-height: 131px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Дата создания',
                                            'type': 'datetime',
                                            'args': {
                                                'value': order.date|df('Y-m-d\\TH:i'),
                                                'placeholder': '20-01-2019',
                                                'readonly': true
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Телефон',
                                            'type': 'tel',
                                            'name': 'phone',
                                            'args': {
                                                'value': order.user and order.user.phone ? order.user.phone : order.phone,
                                                'readonly': order.user and order.user.phone ? true : false
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'E-Mail',
                                            'type': 'email',
                                            'name': 'email',
                                            'args': {
                                                'value': order.user and order.user.email ? order.user.email : order.email,
                                                'readonly': order.user and order.user.email ? true : false
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Статус',
                                            'type': 'select',
                                            'name': 'status',
                                            'args': {
                                                'option': reference('/App/Domain/Types/Catalog/OrderStatusType::LIST'),
                                                'selected': order.status ? order.status : reference('/App/Domain/Types/Catalog/OrderStatusType::STATUS_PROCESS')
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Доставка',
                                            'type': 'datetime',
                                            'name': 'shipping',
                                            'args': {
                                                'value': order.shipping|df('Y-m-d\\TH:i'),
                                                'placeholder': '20.01.2019 12:34',
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">Состав заказа</div>

                            <a href="#btn-modal-scan" rel="modal:open" class="btn btn-icon btn-info ml-auto">
                                <i class="fas fa-barcode"></i>
                            </a>
                            {% include "cup/catalog/barcode-modal.twig" %}

                            <button type="button" data-btn-modal-products class="btn btn-primary btn-round ml-1">
                                <i class="fa fa-plus"></i>
                                Добавить товар
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th class="no-sorting">Позиция</th>
                                    <th width="15%" class="no-sorting">Цена</th>
                                    <th width="15%" class="no-sorting">Количество</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set sum = 0 %}
                                {% for product in products %}
                                    {% set count = order.list[product.uuid.toString()] %}
                                    {% set sum = sum + (product.price * count) %}
                                    <tr>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.price|format_number({fraction_digit: 2}) }}</td>
                                        <td>
                                            {% include 'cup/form.twig' with {
                                                'type': 'number',
                                                'name': 'list['~ product.uuid ~']',
                                                'args': {
                                                    'value': count,
                                                    'placeholder': '1',
                                                    'step': 'any',
                                                    'min': '0',
                                                }
                                            } %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Идентификатор пользователя',
                                    'type': 'text',
                                    'name': 'user_uuid',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                    'args': {
                                        'value': order.user ? order.user.uuid : ''
                                    }
                                } %}
                            </div>

                            <div class="col-md-3">
                                {% include 'cup/form.twig' with {
                                    'label': 'Внешний ID',
                                    'type': 'text',
                                    'name': 'external_id',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                    'args': {
                                        'value': order.external_id,
                                    }
                                } %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div data-modal-products class="modal">
        <div class="row">
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Категория',
                    'name': 'category',
                    'type': 'select',
                    'args': {
                        'data': {'search': 5, 'placeholder': 'Выберете категорию', 'allow-clear': true},
                    }
                } %}
            </div>
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Товар',
                    'name': 'product',
                    'type': 'select',
                    'args': {
                        'data': {'search': 5, 'placeholder': 'Выберете товар'}
                    }
                } %}
            </div>
            <div class="col-6">
                {% include 'cup/form.twig' with {
                    'label': 'Количество',
                    'type': 'number',
                    'args': {
                        'value': '1',
                        'placeholder': '1',
                        'step': 'any',
                        'min': '0',
                    }
                } %}
            </div>
            <div class="col-6">
                <div class="text-right" style="margin-top: 37px;">
                    <button type="button" class="btn btn-success">Добавить товар</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}

    <script>
        $(() => {
            let
                $table = $('[data-table]'),
                table = $table.DataTable(),
                $modal = $('[data-modal-products].modal'),
                $category = $modal.find('[type="select"][name="category"]'),
                $product = $modal.find('[type="select"][name="product"]'),
                $option = $('<option>'),
                $optionGroup = $('<optgroup label="">'),
                $quantity = $modal.find('[type="number"]'),
                $btnSuccess = $modal.find('button')
            ;

            $table.find('tr [type="number"]').on('change', (e) => {
                let $el = $(e.currentTarget);

                if ($el.val() <= 0) {
                    $el.parents('tr').remove();
                }
            });

            $('[data-btn-modal-products]').click((e) => {
                e.preventDefault();
                this.blur();

                let handler = (e) => {
                    $product
                        .html('')
                        .prop('disabled', true);

                    $.get('/api/catalog/product', {category: $(e.currentTarget).val()}, (res) => {
                        if (res.data.length) {
                            for (let item of res.data) {
                                $product.append(
                                    $option
                                        .clone()
                                        .text(item.title)
                                        .val(item.uuid)
                                        .data('price', item.price)
                                );
                            }
                        }

                        $product
                            .trigger('change.select2')
                            .prop('disabled', false);
                    });
                };
                $category.off('change', handler).on('change', handler);

                $.get('/api/catalog/category', (res) => {
                    if (res.data.length) {
                        (function renderTree(list, parent = '{{ NIL }}', title = '') {
                            let buf = 0;

                            for (let item of list) {
                                if (item.parent === parent) {
                                    let $el = $option.clone()
                                                .text((title + ' ' + item.title).trim())
                                                .val(item.uuid)
                                    ;

                                    $category.append($el);

                                    if (renderTree(list, item.uuid, (title + ' ' + item.title).trim()) !== 0) {
                                        $el.remove();
                                    }

                                    buf++;
                                }
                            }

                            return buf;
                        })(res.data);

                        $category.trigger('change').trigger('change.select2');
                        $modal.modal();
                    }
                });
            });

            $btnSuccess.on('click', () => {
                if ($product.val() && $quantity.val() >= 1) {
                    let
                        $selected = $product.find(':selected'),
                        $input = $('<input class="form-control" type="number" placeholder="1" min="0" step="any">')
                            .attr('name', 'list[' + $selected.attr('value') + ']')
                            .val($quantity.val())
                    ;

                    table.row.add([$selected.text(), $selected.data('price'), $quantity.val()])
                        .draw(true)
                        .nodes().to$()
                        .find('td:last-child').html($('<div class="form-group">').append($input));

                    $.modal.close();
                }
            });

            $(window).on('event:barcode_scan:result', (e, data) => {
                if (data.barcode) {
                    $.get('/api/catalog/product', {'barcode': data.barcode}, (res) => {
                        if (res && res.statusCode === 200) {
                            if (res.data.length) {
                                let product = res.data[0],
                                    $input = $('<input class="form-control" type="number" placeholder="1" min="0" step="any">')
                                        .attr('name', 'list[' + product.uuid + ']').val(1)
                                ;

                                table.row.add([product.title, product.price, 1])
                                    .draw(true)
                                    .nodes().to$()
                                    .find('td:last-child').html($('<div class="form-group">').append($input));

                                $.notify({
                                    title: 'Отсканирован код',
                                    message: 'В перечень товаров был добавлен товар: ' + product.title
                                }, {
                                    type: 'info',
                                    animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                    }
                                });
                            } else {
                                $.notify({
                                    title: 'Отсканирован код',
                                    message: 'Товар с кодом: ' + data.barcode + ' не найден'
                                }, {
                                    type: 'warning',
                                    animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                    }
                                });
                            }
                        }
                    });
                }
            });
        })
    </script>
{% endblock %}
