{% set price_self = constant('/App/Domain/References/Catalog::PRODUCT_PRICE_TYPE_PRICE_SELF') %}
{% set is_price_self = product.pivot.price_type == price_self %}

<div class="row py-2" data-product="{{ product.uuid }}" data-price="{{ product.price('price') }}" data-price_wholesale="{{ product.price('price_wholesale') }}" data-discount="{{ product.discount }}">
    <div class="col-12">
        <a href="/cup/catalog/product/{{ product.uuid }}/edit" target="_blank">{{ product.title }}</a>
    </div>
    <div class="col-6 col-sm-6">
        <div class="form-group">
            <label><b>{{ 'Price'|locale }}</b></label>
            <div class="input-group" data-input>
                <select class="form-control" name="products[{{ product.uuid }}][price_type]" data-width="50%">
                    {% for type, title in _(constant('/App/Domain/References/Catalog::PRODUCT_PRICE_TYPE')) %}
                        <option value="{{ type }}" {{ product.pivot.price_type == type ? 'selected' : '' }}>{{ title }}</option>
                    {% endfor %}
                </select>
                <input type="number" class="form-control" name="products[{{ product.uuid }}][price]" value="{{ product.pivot.price }}" min="0" step="any" placeholder="{{ product.price }}" {{ not is_price_self ? 'readonly' : '' }}>
            </div>
        </div>
    </div>

    <div class="col-3">
        {% include 'cup/form.twig' with {
            'label': 'Discount'|locale,
            'type': 'number',
            'name': 'products['~ product.uuid ~'][discount]',
            'args': {
                'value': (product.pivot.discount ?? 0)|abs,
                'placeholder': product.discount,
                'step': 'any',
                'readonly': not is_price_self,
            }
        } %}
        <div style="display: none">
            {% include 'cup/form.twig' with {
                'type': 'hidden',
                'name': 'products['~ product.uuid ~'][tax]',
                'args': {
                    'value': 0,
                }
            } %}
        </div>
    </div>
    <div class="col-3">
        {% include 'cup/form.twig' with {
            'label': 'Quantity'|locale,
            'type': 'number',
            'name': 'products['~ product.uuid ~'][count]',
            'args': {
                'value': product.totalCount(),
                'placeholder': '1',
                'step': 'any',
                'min': '0',
            }
        } %}
    </div>
    <div class="col-12 text-center">
        <span class="badge badge-dark mt-1 mb-2 w-100">
            <b data-subtotal>{{ (product.totalSum())|number_format(2, '.', '') }}</b>
        </span>
    </div>
</div>
