{% set price_self = constant('/App/Domain/References/Catalog::PRODUCT_PRICE_TYPE_PRICE_SELF') %}
{% set is_price_self = product.pivot.price_type == price_self %}

<div class="card mb-2" data-product="{{ product.uuid }}" data-price="{{ product.price }}" data-price_wholesale="{{ product.price_wholesale }}">
    <div class="card-header">
        <a href="/cup/catalog/product/{{ product.uuid }}/edit" target="_blank">{{ product.title }}</a>
    </div>

    <div class="card-body my-0 py-0">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label><b>{{ 'Price'|locale }}</b></label>
                    <div class="input-group" data-input>
                        <select class="form-control" name="products[{{ product.uuid }}][price_type]" data-width="50%">
                            {% for type, title in _(constant('/App/Domain/References/Catalog::PRODUCT_PRICE_TYPE')) %}
                                <option value="{{ type }}" {{ product.pivot.price_type == type ? 'selected' : '' }}>{{ title }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" class="form-control" name="products[{{ product.uuid }}][price]" value="{{ product.pivot.price }}" placeholder="{{ product.pivot.price }}" step="any" {{ not is_price_self ? 'readonly' : '' }}>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% include 'cup/form.twig' with {
                    'label': 'Discount'|locale,
                    'type': 'number',
                    'name': 'products['~ product.uuid ~'][discount]',
                    'args': {
                        'value': (product.pivot.discount ?? 0)|abs,
                        'placeholder': (product.pivot.discount ?? 0)|abs,
                        'step': 'any',
                        'min': '0',
                    }
                } %}
            </div>
            <div class="col-3">
                {% include 'cup/form.twig' with {
                    'label': 'Quantity'|locale,
                    'type': 'number',
                    'name': 'products['~ product.uuid ~'][count]',
                    'args': {
                        'value': product.totalCount(),
                        'placeholder': '1',
                        'step': 'any',
                        'min': '0',
                    }
                } %}
            </div>
        </div>
    </div>
    <div class="card-footer bg-light text-right">
        <b data-subtotal>{{ product.totalSum()|number_format(2, '.', '') }}</b>
    </div>
</div>
