{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of orders'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                            <li class="nav-item">
                                <a href="/cup/catalog/order/add" class="nav-link bg-primary text-white">
                                    <i class="fa fa-plus"></i>
                                    {{ 'Create order'|locale }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-4 col-sm-2">#</div>
                            <div class="col-5 col-sm">{{ 'Client'|locale }}</div>
                            <div class="col-3 col-sm-2">{{ 'Status'|locale }}</div>
                            <div class="col-6 col-sm-2">{{ 'Added date'|locale }}</div>
                            <div class="col-6 col-sm-4 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list.sortByDesc('Date') %}
                                <div class="row">
                                    <div class="col-4 col-sm-2">
                                        {{ item.serial }}
                                        {% if item.external_id %}
                                            <br/>{{ item.external_id }}
                                        {% endif %}
                                    </div>
                                    <div class="col-5 col-sm">
                                        {% if item.user %}
                                            <a href="/cup/user/{{ item.user_uuid }}/view">{{ item.user.getName() ? item.user.getName() : item.delivery.client }}</a>
                                        {% else %}
                                            {{ item.delivery.client }}
                                        {% endif %}
                                    </div>
                                    <div class="col-3 col-sm-2">
                                        {% if item.status_uuid %}
                                            <span class="badge badge-secondary">{{ item.status.title }}</span>
                                        {% else %}
                                            <code>&mdash;</code>
                                        {% endif %}
                                    </div>
                                    <div class="col-6 col-sm-2">
                                        <span class="d-none d-md-inline">{{ item.date|df('d.m.Y H:i') }}</span>
                                        <span class="d-inline d-md-none">{{ item.date|df('d.m.y') }}</span>
                                    </div>
                                    <div class="col-6 col-sm-4 text-right">
                                        <form action="/cup/catalog/order/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the order?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/order/{{ item.uuid }}/invoice" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-file-invoice"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Invoice'|locale }}</span>
                                                </a>
                                                <a href="/cup/catalog/order/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
