{% for node in categories.where('parent', '=', parent ?? NIL).sortBy('order') %}
    {% if categories.where('parent', '=', node.uuid).sortBy('order').count() %}
        <li>
            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }} <i class="lni lni-chevron-right"></i></a>
            <ul class="inner-sub-category">
                {% include 'common/header-navigation-item.twig' with {'categories':categories,'parent':node.uuid,'NIL':NIL} only %}
            </ul>
        </li>
    {% else %}
        <li>
            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
        </li>
    {% endif %}
{% endfor %}
