<form action="/cup/system/3" method="post" onsubmit="return confirm('{{ 'Вы уверены?'|locale }}');">
    {% if user == null %}
        <div class="card-body">
            <h5 class="text-center">{{ 'Account'|locale }}</h5>

            <div class="row justify-content-center my-3">
                <div class="col-12">
                    <p class="text-center">
                        {{ 'Setting up a new user'|locale }}<br>
                        {{ 'with administrator rights'|locale }}
                    </p>

                    {% include 'cup/form.twig' with {
                        'label': 'Login'|locale,
                        'type': 'text',
                        'name': 'user[username]',
                        'args': {
                            'required': true,
                            'placeholder': 'administrator',
                            'value': user.username ?? 'administrator'
                        }
                    } %}
                    {% include 'cup/form.twig' with {
                        'label': 'E-Mail',
                        'type': 'email',
                        'name': 'user[email]',
                        'args': {
                            'required': true,
                            'placeholder': 'administrator@example.com',
                            'value': user.email
                        }
                    } %}
                    {% include 'cup/form.twig' with {
                        'label': 'Пароль'|locale,
                        'type': 'password',
                        'name': 'user[password]',
                        'args': {
                            'required': true,
                        }
                    } %}
                </div>

                <div class="col-12">
                    {% include 'cup/form.twig' with {
                        'label': 'Filling the base'|locale,
                        'type': 'select',
                        'name': 'fill',
                        'args': {
                            'option': _(['no', 'system_default']),
                            'selected': 'no'
                        }
                    } %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card-footer text-center">
        <p>{{ 'Database Actions'|locale }}</p>

        <div class="d-flex justify-content-center">
            <button type="submit" name="database" value="create" class="btn {{ user == null ? 'btn-primary' : 'btn-secondary' }} mx-1">
                {{ 'Create'|locale }}
            </button>
            <button type="submit" name="database" value="update" class="btn {{ user == null ? 'btn-secondary' : 'btn-primary' }} mx-1">
                {{ 'Update'|locale }}
            </button>
            <button type="submit" name="database" value="delete" class="btn btn-danger mx-1">
                {{ 'Delete'|locale }}
            </button>
        </div>
    </div>
</form>
