<div class="card-body">
    <h5 class="text-center">{{ 'Self system check'|locale }}</h5>

    <div class="row my-3">
        <div class="col-12">
            <div class="row">
                <div class="col-7">
                    <table class="w-100">
                        {% for folder, status in health.folders %}
                            <tr>
                                <td>{{ folder }}</td>
                                <td>
                                    <span class="badge {{ status == 1 ? 'badge-success' : 'badge-danger' }} badge-pill">{{ status == 1 ? 'Ok' : status }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-5">
                    <table class="w-100">
                        <tr>
                            <td>{{ 'PHP version'|locale }}</td>
                            <td>
                                <span class="badge {{ health.php ? 'badge-success' : 'badge-danger' }} badge-pill">{{ health.php ? 'Ok' : 'Fail' }}</span>
                            </td>
                        </tr>
                        {% for ext, status in health.extensions %}
                            <tr>
                                <td>Ext. {{ ext }}</td>
                                <td>
                                    <span class="badge {{ status ? 'badge-success' : 'badge-danger' }} badge-pill">{{ status ? 'Ok' : 'Fail' }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center text-muted">
        {{ 'If any of these items fail the test'|locale }},<br>
        {{ 'then please follow the steps to fix it'|locale }}.
    </p>
</div>

<div class="card-footer d-flex justify-content-center">
    <a href="/cup/system/1" class="btn btn-secondary">{{ 'Back'|locale }}</a>
    <a href="/cup/system/3" class="btn btn-primary ml-1">{{ 'Next'|locale }}</a>
</div>
