<form action="/cup/system/3" method="post" onsubmit="return confirm('{{ 'Are you sure?'|locale }}');">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="text-center">{{ 'Administrator'|locale }}</h4>

                <p class="text-center m-0">
                    {{ 'Setting up user with administrator rights'|locale }}
                </p>
            </div>
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Login'|locale,
                    'type': 'text',
                    'name': 'user[username]',
                    'args': {
                        'required': user == false,
                        'placeholder': 'administrator',
                        'value': user.username ?? 'administrator'
                    }
                } %}
            </div>
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'E-Mail',
                    'type': 'email',
                    'name': 'user[email]',
                    'args': {
                        'required': user == false,
                        'placeholder': 'administrator@example.com',
                        'value': user.email
                    }
                } %}
            </div>
            <div class="col-12">
                {% include 'cup/form.twig' with {
                    'label': 'Password'|locale,
                    'type': 'password',
                    'name': 'user[password]',
                    'args': {
                        'required': user == false,
                    }
                } %}
            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-center">
        <a href="/cup/system/2" class="btn btn-secondary mx-1 w-25">{{ 'Back'|locale }}</a>
        <button type="submit" class="btn btn-primary mx-1 w-75">{{ 'Apply'|locale }}</button>
    </div>
</form>
