{% extends 'cup/layout.twig' %}

{% block body %}
    <body class="d-flex align-items-center justify-content-center">
        <div class="card card-block" style="width: 630px;">
            <div class="card-header text-center">
                <h4 class="card-title">
                    {{ (user == null ? 'Установка' : 'Обновление')|locale }}
                    {{ 'платформы WebSpace Engine'|locale }}
                </h4>
            </div>

            {% include 'cup/system/index-step-' ~ step ~ '.twig' %}

            <div class="card-footer">
                <div>
                    Copyright &copy; 2011-{{ 'now'|df('Y') }} <a href="https://getwebspace.org" target="_blank">WebSpace Engine</a> &mdash; {{ 'платформа для управления контентом на сайте'|locale }}.<br>
                    {{ 'Сборка'|locale }}: <span class="text-muted">{{ SHA }}</span>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
