<div class="col-lg-4 col-sm-6">
    <div class="product-item">
        <div class="pi-pic">
            {#<div class="tag-sale">ON SALE</div>#}
            <a href="/catalog/{{ categories.firstWhere('uuid', product.category).address }}/{{ product.address }}">
                <img src="{{ files.firstWhere('item_uuid', product.uuid).getPublicPath() }}" alt="">
            </a>
            <div class="pi-links">
                <a href="#" class="add-card"><i class="flaticon-bag"></i><span>В корзину</span></a>
            </div>
        </div>
        <div class="pi-text">
            <a href="/catalog/{{ categories.firstWhere('uuid', product.category).address }}/{{ product.address }}">
                <h6>{{ product.price }}</h6>
                <p>{{ product.title }}</p>
            </a>
        </div>
    </div>
</div>
