{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of files'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if parameter('file_is_enabled', 'yes') == 'yes' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="dropzone dz-clickable">
                            <div class="dz-message">
                                <h4 class="message">{{ 'Drag and Drop files here'|locale }}</h4>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-6 col-sm">{{ 'File name'|locale }}</div>
                            <div class="col-3 col-sm-2">{{ 'Size'|locale }}</div>
                            <div class="col-sm-2 d-none d-sm-block">{{ 'Creation date'|locale }}</div>
                            <div class="col-3 col-sm-2 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list %}
                                <div class="row">
                                    <div class="col-6 col-sm">
                                        <a href="{{ item.getPublicPath() }}" target="_blank">
                                            {{ item.getFileName()|u.truncate(50, '...') }}
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </div>
                                    <div class="col-3 col-sm-2">{{ item.getFileSize() }}</div>
                                    <div class="col-sm-2 d-none d-sm-block">{{ item.date|df }}</div>
                                    <div class="col-3 col-sm-2 text-right">
                                        <form action="/cup/file/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the file?'|locale }}');">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async () => {
            await window.loader(['/assets/js/plugin/dropzone/dropzone.min.js']);

            new Dropzone('form.dropzone', {
                url: '/file/upload',
                paramName: 'file',
                maxFilesize: 10 * 1024 * 1024,
                parallelUploads: 1,
                uploadMultiple: true,
                createImageThumbnails: false,
            });
        });
    </script>
{% endblock %}
