{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Список файлов ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>Имя</th>
                                <th width="15%">Размер</th>
                                <th width="15%" class="d-none d-md-table-cell">Дата создания</th>
                                <th width="20%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list.sortByDesc('date') %}
                                <tr>
                                    <td>
                                        <a href="{{ item.getPublicPath() }}" target="_blank">
                                            {{ item.getFileName() }}
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </td>
                                    <td width="15%">{{ item.getFileSize() }}</td>
                                    <td width="15%" class="d-none d-md-table-cell">{{ item.date|df('d.m.Y H:i:s') }}</td>
                                    <td width="20%" class="text-right">
                                        <form action="/cup/file/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить файл?');">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">Удалить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
