{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Полученные данные'|locale }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/form/{{ item.form_uuid }}/view" class="btn btn-secondary btn-icon mr-1">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <iframe src="/cup/form/{{ item.form_uuid }}/view/{{ item.uuid }}/preview" frameborder="0" style="width: 100%; min-height: 350px; overflow-y: scroll"></iframe>

                    <div class="row">
                        {% for file in item.getFiles() %}
                            <div class="col-sm-6 col-md-3">
                                <a href="{{ file.getPublicPath() }}" class="d-block card card-stats card-round" target="_blank">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-icon">
                                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                                    {% if 'image/' in file.getType() %}
                                                        <i class="far fa-file-image"></i>
                                                    {% elseif 'text/' in file.getType() %}
                                                        <i class="far fa-file-image"></i>
                                                    {% elseif '/pdf' in file.getType() %}
                                                        <i class="far fa-file-pdf"></i>
                                                    {% elseif '/msword' in file.getType() or 'wordprocessingml' in file.getType() %}
                                                        <i class="far fa-file-word"></i>
                                                    {% elseif '/ms-excel' in file.getType() or 'spreadsheetml' in file.getType() %}
                                                        <i class="far fa-file-excel"></i>
                                                    {% else %}
                                                        <i class="far fa-file"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col col-8 col-stats ml-3 ml-sm-0">
                                                <div class="numbers">
                                                    <p class="card-category">{{ file.getFileName()|u.truncate(20) }}</p>
                                                    <p class="card-category">{{ file.getFileSize() }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <form action="/cup/form/{{ item.form_uuid }}/view/{{ item.uuid }}/delete" method="post" onsubmit="return confirm('{{ 'Вы действительно хотите удалить запись?'|locale }}');">
                        <button type="submit" class="btn btn-danger btn-round">
                            <i class="fas fa-fw fa-trash-alt"></i> {{ 'Удалить'|locale }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
