{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Data received'|locale }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/form/{{ item.form_uuid }}/view" class="btn btn-secondary btn-icon mr-1">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <iframe src="/cup/form/{{ item.form_uuid }}/view/{{ item.uuid }}/preview" frameborder="0" style="width: 100%; min-height: 350px; overflow-y: scroll"></iframe>

                    {% if item.files %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 80%;">{{ 'File name'|locale }}</th>
                                    <th scope="col" class="text-right">{{ 'Size'|locale }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for file in item.files %}
                                    <tr>
                                        <td>
                                            {% if 'image/' in file.type %}
                                                <i class="far fa-file-image"></i>
                                            {% elseif 'text/' in file.type %}
                                                <i class="far fa-file-image"></i>
                                            {% elseif '/pdf' in file.type %}
                                                <i class="far fa-file-pdf"></i>
                                            {% elseif '/msword' in file.type or 'wordprocessingml' in file.type %}
                                                <i class="far fa-file-word"></i>
                                            {% elseif '/ms-excel' in file.type or 'spreadsheetml' in file.type %}
                                                <i class="far fa-file-excel"></i>
                                            {% else %}
                                                <i class="far fa-file"></i>
                                            {% endif %}

                                            <a href="{{ file.public_path() }}" target="_blank">
                                                {{ file.filename() }}
                                            </a>
                                        </td>
                                        <td class="text-right">{{ file.size() }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <form action="/cup/form/{{ item.form_uuid }}/view/{{ item.uuid }}/delete" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the entry?'|locale }}');">
                        <button type="submit" class="btn btn-danger btn-round">
                            <i class="fas fa-fw fa-trash-alt"></i> {{ 'Delete'|locale }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
