{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of applications received'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/form" class="btn btn-secondary btn-icon mr-1">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-6 col-sm">{{ 'Date received'|locale }}</div>
                            <div class="col-6 col-sm-4 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list %}
                                <div class="row">
                                    <div class="col-6 col-sm">
                                        {{ item.date|df }}

                                        <div class="text-black-50 ml-2 d-none d-lg-inline">
                                            {% if item.files.count %}
                                                <i class="fas fa-file" data-toggle="tooltip" data-placement="right" title="{{ 'Has files'|locale }}"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 text-right">
                                        <form action="/cup/form/{{ form.uuid }}/view/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the entry?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/form/{{ form.uuid }}/view/{{ item.uuid }}" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-eye"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'View'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
