{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Список полученных заявок {{ form.title }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/form" class="btn btn-secondary btn-icon mr-1">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>Дата получения</th>
                                <th width="20%" class="text-center no-sorting"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in list %}
                                <tr>
                                    <td data-order="{{ item.date.getTimestamp() }}">
                                        {{ item.date|df('d.m.Y H:i:s') }}
                                    </td>
                                    <td width="20%" class="text-center">
                                        <form action="/cup/form/{{ form.uuid }}/view/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
                                            <div class="btn-group">
                                                <a href="/cup/form/{{ form.uuid }}/view/{{ item.uuid }}" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-eye"></i>
                                                    <span class="d-none d-md-inline-block">Посмотреть</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">Удалить</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
