{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of user groups'|locale }} ({{ groups.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/user/group/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create group'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-6 col-sm">{{ 'Title'|locale }}</div>
                            <div class="col-sm-2 text-center d-none d-sm-block">{{ 'Count users'|locale }}</div>
                            <div class="col-sm-2 d-none d-sm-block">{{ 'Permissions'|locale }}</div>
                            <div class="col-6 col-sm-3 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for group in groups %}
                                {% set users_in_group = users.where('group', group)|count %}
                                <div class="row">
                                    <div class="col-6 col-sm">{{ group.title|u.truncate(25, '...') }}</div>
                                    <div class="col-sm-2 text-center d-none d-sm-block">{{ users_in_group }}</div>
                                    <div class="col-sm-2 d-none d-sm-block">
                                        <code>
                                            {% if group.access %}
                                                {{ 'Count'|locale }}: {{ group.access|count }}
                                            {% else %}
                                                {{ 'No permissions'|locale }}
                                            {% endif %}
                                        </code>
                                    </div>
                                    <div class="col-6 col-sm-3 text-right">
                                        <form action="/cup/user/group/{{ group.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the group?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/user/group/{{ group.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="{{ users_in_group ? 'button' : 'submit' }}" class="btn btn-sm btn-danger" {{ users_in_group ? ('data-toggle="tooltip" data-placement="left" title="' ~ ('You can\'t delete a group while it has users'|locale) ~ '"')|raw : '' }}>
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
