{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': item,
                'create': 'Creation of a new product',
                'update': 'Product editing'
            } only %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/product/{{ category.uuid }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>

                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="pill" href="#product" role="tab">
                                        {{ 'Product'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#price" role="tab">
                                        {{ 'Price'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#related" role="tab">
                                        {{ 'Related'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#attributes" role="tab">
                                        {{ 'Attributes'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#other" role="tab">
                                        {{ 'Additionally'|locale }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            {# Tab: Товар #}
                            <div class="tab-pane fade show active" id="product" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Title'|locale,
                                            'type': 'text',
                                            'name': 'title',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Brief product description'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.title,
                                                'required': true,
                                                'placeholder': 'Food'|locale,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-6 col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Category'|locale,
                                            'type': 'select',
                                            'name': 'category',
                                            'message': '<a href="/cup/catalog/category/add" class="btn btn-xs btn-info float-right" onclick="return confirm(\'' ~ ('Are you sure you want to go to another page?'|locale) ~ '\');"><i class="fa fa-plus"></i> ' ~ ('Create category'|locale) ~ '</a>',
                                            'args': {
                                                'option': categories.sortBy('title').pluck('title', 'uuid').all(),
                                                'selected': item.category_uuid ?? category.uuid
                                            }
                                        } %}
                                    </div>
                                    <div class="col-6 col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Type'|locale,
                                            'type': 'select',
                                            'name': 'type',
                                            'args': {
                                                'option': _(constant('/App/Domain/Types/Catalog/ProductTypeType::LIST')),
                                                'selected': item.type ?? constant('/App/Domain/Types/Catalog/ProductTypeType::TYPE_PRODUCT'),
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Description'|locale,
                                            'name': 'description',
                                            'args': {
                                                'value': item.description
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Country'|locale,
                                            'type': 'text',
                                            'name': 'country',
                                            'args': {
                                                'value': item.country,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Manufacturer'|locale,
                                            'type': 'text',
                                            'name': 'manufacturer',
                                            'args': {
                                                'value': item.manufacturer,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Vendor code'|locale,
                                            'type': 'text',
                                            'name': 'vendorcode',
                                            'args': {
                                                'value': item.vendorcode,
                                                'placeholder': 'KB162309',
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Barcode'|locale,
                                            'type': 'number',
                                            'name': 'barcode',
                                            'args': {
                                                'value': item.barcode,
                                                'placeholder': '4820038494130',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Length'|locale,
                                                    'type': 'number',
                                                    'name': 'dimension[length]',
                                                    'args': {
                                                        'value': item.dimension.length ? item.dimension.length|number_format(2, '.', '') : '',
                                                        'placeholder': '0.00',
                                                        'min': '0',
                                                        'step': 'any',
                                                    }
                                                } %}
                                            </div>

                                            <div class="col-12 col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Width'|locale,
                                                    'type': 'number',
                                                    'name': 'dimension[width]',
                                                    'args': {
                                                        'value': item.dimension.width ? item.dimension.width|number_format(2, '.', '') : '',
                                                        'placeholder': '0.00',
                                                        'min': '0',
                                                        'step': 'any',
                                                    }
                                                } %}
                                            </div>

                                            <div class="col-12 col-md-4">
                                                {% include 'cup/form.twig' with {
                                                    'label': 'Height'|locale,
                                                    'type': 'number',
                                                    'name': 'dimension[height]',
                                                    'args': {
                                                        'value': item.dimension.height ? item.dimension.height|number_format(2, '.', '') : '',
                                                        'placeholder': '0.00',
                                                        'min': '0',
                                                        'step': 'any',
                                                    }
                                                } %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Length class'|locale,
                                            'type': 'select',
                                            'name': 'dimension[length_class]',
                                            'args': {
                                                'option': {'': '---'}|merge(length_class.pluck('title', 'value.unit').all()),
                                                'selected': item.dimension.length_class,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Weight'|locale,
                                            'type': 'number',
                                            'name': 'dimension[weight]',
                                            'args': {
                                                'value': item.dimension.weight ? item.dimension.weight|number_format(2, '.', '') : '',
                                                'placeholder': '1.000',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Weight Class'|locale,
                                            'type': 'select',
                                            'name': 'dimension[weight_class]',
                                            'args': {
                                                'option': {'': '---'}|merge(weight_class.pluck('title', 'value.unit').all()),
                                                'selected': item.dimension.weight_class,
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-image.twig' with { 'entity': item } %}
                            </div>

                            {# Tab: Цены #}
                            <div class="tab-pane fade" id="price" role="tabpanel">
                                <div class="row">
                                    <div class="col-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Selling price'|locale,
                                            'type': 'number',
                                            'name': 'price',
                                            'args': {
                                                'value': item.price ? item.price|number_format(2, '.', '') : '',
                                                'placeholder': '1.0',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Price wholesale'|locale,
                                            'type': 'number',
                                            'name': 'priceWholesale',
                                            'args': {
                                                'value': item.priceWholesale ? item.priceWholesale|number_format(2, '.', '') : '',
                                                'placeholder': '1.0',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'First price'|locale,
                                            'type': 'number',
                                            'name': 'priceFirst',
                                            'args': {
                                                'value': item.priceFirst ? item.priceFirst|number_format(2, '.', '') : '',
                                                'placeholder': '1.0',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>

                                    <div class="col-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Price wholesale from'|locale,
                                            'type': 'number',
                                            'name': 'priceWholesaleFrom',
                                            'args': {
                                                'value': item.priceWholesaleFrom ? item.priceWholesaleFrom|number_format(0, '.', '') : '',
                                                'placeholder': '0',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Tax'|locale,
                                            'type': 'select',
                                            'name': 'tax',
                                            'args': {
                                                'option': collect({0: '---'}).union(tax_rates.pluck('title', 'value.rate')),
                                                'selected': item.tax,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Discount'|locale,
                                            'type': 'number',
                                            'name': 'discount',
                                            'args': {
                                                'value': item.discount ? item.discount|number_format(2, '.', '') : '',
                                                'placeholder': '0.00',
                                                'step': 'any',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Quantity'|locale,
                                            'type': 'number',
                                            'name': 'quantity',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Default step for adding to the cart'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.quantity ? item.quantity|number_format(2, '.', '') : '',
                                                'placeholder': '1.00',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Minimum Quantity'|locale,
                                            'type': 'number',
                                            'name': 'quantityMin',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Force a minimum ordered amount'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.quantityMin ? item.quantityMin|number_format(2, '.', '') : '',
                                                'placeholder': '1.00',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Special'|locale,
                                            'type': 'select',
                                            'name': 'special',
                                            'args': {
                                                'option': _(['no', 'yes']),
                                                'selected': item.special ? 'yes' : 'no'
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'In stock'|locale,
                                            'type': 'number',
                                            'name': 'stock',
                                            'args': {
                                                'value': item.stock ? item.stock|number_format(2, '.', '') : '',
                                                'placeholder': '1.00',
                                                'step': 'any',
                                                'min': '0',
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Сопутствующие #}
                            <div class="tab-pane fade" id="related" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <small class="form-text text-muted">
                                            <p>
                                                {% locale %}
                                                    <b>Related products</b> are those products that the buyer uses
                                                    together with already purchased goods that help them use,
                                                    complement it, eliminate the consequences of using goods, are its
                                                    replaceable parts, consumables, etc.
                                                {% endlocale %}
                                            </p>
                                        </small>

                                        <button type="button" data-btn-product-modal-related class="btn btn-secondary">
                                            <i class="fa fa-plus"></i>
                                            {{ 'Add product'|locale }}
                                        </button>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <ul class="list-group list-group-bordered">
                                            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="display: none!important;">
                                                <a href="#" target="_blank">{{ related.title }}</a>
                                                {% include 'cup/form.twig' with {
                                                    'type': 'number',
                                                    'name': 'relation[]',
                                                    'postfix_btn': '<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>',
                                                    'args': {'value': 1, 'min': 0, 'placeholder': '1.00'}
                                                } %}
                                            </li>

                                            {% for relation in item.getRelations() %}
                                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                    <a href="/cup/catalog/product/{{ relation.related.uuid }}/edit" target="_blank">{{ relation.related.title }}</a>
                                                    {% include 'cup/form.twig' with {
                                                        'type': 'number',
                                                        'name': 'relation['~ relation.related.uuid ~']',
                                                        'postfix_btn': '<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>',
                                                        'args': {
                                                            'value': relation.count,
                                                            'min': 1,
                                                            'placeholder': 1,
                                                        }
                                                    } %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            {# Tab: Атрибуты #}
                            <div class="tab-pane fade" id="attributes" role="tabpanel">
                                {% if category.hasAttributes() %}
                                    <div class="row">
                                        {% for attribute in category.getAttributes().where('type', '!=', 'boolean').sortBy('title') %}
                                            <div class="col-12 col-sm-6 col-xl-3">
                                                {% include 'cup/form.twig' with {
                                                    'label': attribute.title,
                                                    'type': attribute.type == 'string' ? 'text' : 'number',
                                                    'name': 'attributes[' ~ attribute.uuid ~ ']',
                                                    'args': {
                                                        'value': item.hasAttributes() ? item.getAttributes().firstWhere('attribute_uuid', attribute.uuid).value : '',
                                                    }
                                                } %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="row">
                                        {% for attribute in category.getAttributes().where('type', '==', 'boolean') %}
                                            <div class="col-12 col-sm-6 col-xl-3">
                                                <div data-input="" class="form-group ">
                                                    <label class="placeholder">
                                                        <b>{{ attribute.title }}</b>
                                                    </label>
                                                    <div class="input-group">
                                                        <label class="selectgroup-item">
                                                            <input type="checkbox" name="attributes[{{ attribute.uuid }}]" value="1" class="selectgroup-input" {{ item.getAttributes().firstWhere('attribute_uuid', attribute.uuid).value ? 'checked' }} >
                                                            <span class="selectgroup-button" style="height: 42px;">{{ 'Да'|locale }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <hr>
                                {% endif %}

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Attributes'|locale,
                                            'type': 'select',
                                            'message': '<p class="float-left">' ~ ('Specify individual attributes of the product'|locale) ~ '</p>'~
                                                       '<button class="btn btn-xs btn-secondary float-right" type="button">' ~ ('Add attribute'|locale) ~ '</button>' ~
                                                       '<a href="/cup/catalog/attribute/add" class="btn btn-xs btn-info float-right" onclick="return confirm(\'Are you sure you want to go to another page?\');"><i class="fa fa-plus"></i> ' ~ ('Create attribute'|locale) ~ '</a>' ,
                                            'args': {
                                                'option': attributes.where('type', '!=', 'boolean').sortBy('title').pluck('title', 'uuid').all(),
                                                'data': {'select': 'attributes'}
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6" data-place="attribute">
                                        {% include 'cup/form.twig' with { 'label': 'attribute-template' } %}

                                        {% for attribute in item.getAttributes().whereNotIn('attribute_uuid', category.getAttributes().pluck('uuid')) %}
                                            {% if attribute.value %}
                                                {% if attribute.type != 'boolean' %}
                                                    {% include 'cup/form.twig' with {
                                                        'label': attribute.title,
                                                        'type': attribute.type == 'string' ? 'text' : 'number',
                                                        'name': 'attributes[' ~ attribute.attribute_uuid ~ ']',
                                                        'args': {
                                                            'value': attribute.value,
                                                        }
                                                    } %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {# Tab: Дополнительно #}
                            <div class="tab-pane fade" id="other" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Address'|locale,
                                            'type': 'text',
                                            'name': 'address',
                                            'prefix': base_url() ~ '/catalog/',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Product Name. You can leave it blank, then the value will be generated automatically. It is allowed to use only Latin characters and numbers without spaces'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.address,
                                                'placeholder': 'food',
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Sort order'|locale,
                                            'type': 'number',
                                            'name': 'order',
                                            'args': {
                                                'value': item.order is not empty ? item.order : '1',
                                                'placeholder': '1',
                                                'min': '0'
                                            }
                                        } %}
                                    </div>

                                    <div class="col-md-3">
                                        {% include 'cup/form.twig' with {
                                            'label': 'External ID'|locale,
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.external_id,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'cup/editor.twig' with {
                                            'label': 'Additional description'|locale,
                                            'name': 'extra',
                                            'args': {
                                                'value': item.extra
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-file.twig' with { 'entity': item } %}

                                <hr>

                                {% include 'cup/form-tags.twig' with {
                                    'args': {
                                        'value': item.tags|join(',')
                                    }
                                } %}

                                <hr>

                                {% include "cup/form-meta.twig" with { 'entity': item } %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'cup/catalog/product/form-modal-related.twig' %}
{% endblock %}
