{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Nomenclature'|locale }} {{ category ? 'in category'|locale ~ ' ' ~ category.title : '' }} ({{ products.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/product/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}

                        <a href="#btn-modal-import" rel="modal:open" class="btn btn-secondary btn-icon ml-auto text-white" data-toggle="tooltip" data-placement="top" title="{{ 'Import products'|locale }}">
                            <i class="fas fa-file-import"></i>
                        </a>
                        {% include "cup/catalog/import-modal.twig" %}
                        <a href="/cup/catalog/data/export{{ category.uuid ? '?category=' ~ category.uuid : '' }}" class="btn btn-secondary btn-icon ml-1 text-white" data-toggle="tooltip" data-placement="top" title="{{ 'Export current product list'|locale }}">
                            <i class="fas fa-file-export"></i>
                        </a>

                        <a href="/cup/catalog/product/add{{ category ? '?category=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-1">
                            <i class="fa fa-plus"></i>
                            {{ 'Create product'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th>{{ 'Title'|locale }}</th>
                                <th width="10%" class="text-right">{{ 'Price'|locale }}</th>
                                <th width="7%" class="text-center"><i class="fas fa-boxes" data-toggle="tooltip" data-placement="top" title="{{ 'Packing volume'|locale }}"></i></th>
                                <th width="10%">{{ 'Vendor code'|locale }}</th>
                                <th width="25%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in products.sortBy('order') %}
                                <tr>
                                    <td>
                                        {{ item.title|u.truncate(50, '...') }}

                                        <div class="text-black-50 float-right">
                                            {% if item.special %}
                                                <i class="fas fa-tag" data-toggle="tooltip" data-placement="right" title="Акция"></i>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td width="10%" class="text-right" data-order="{{ item.price }}">
                                        {{ item.price|number_format(2, '.', ' ') }} {{ item.tax ? '[+'~ item.tax ~'%]'}}
                                    </td>
                                    <td width="7%" class="text-center" data-order="{{ item.volume }}">{{ item.getVolumeWithUnit() }}</td>
                                    <td width="10%">
                                        {% if item.vendorcode %}
                                            <div>{{ item.vendorcode }}</div>
                                        {% endif %}
                                        {% if item.barcode %}
                                            <div class="text-nowrap">
                                                <i class="fas fa-barcode d-inline pr-1" data-toggle="tooltip" data-placement="right" title="{{ 'Barcode'|locale }}"></i>
                                                {{ item.barcode }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td width="25%" class="text-right">
                                        <form action="/cup/catalog/product/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to uninstall the product?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/product/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>

                {% if category.uuid %}
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category/{{ category.uuid }}/edit" class="btn btn-info btn-round ml-1">
                                <i class="fa fa-edit"></i>
                                {{ 'Change category'|locale }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

