{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Номенклатура</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/product/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}
                        <h4 class="card-title">Номенклатура {{ category ? 'в категории ' ~ category.title : '' }} ({{ products.count() }})</h4>

                        <a href="#btn-modal-scan" rel="modal:open" class="btn btn-icon btn-info ml-auto" data-toggle="tooltip" data-placement="top" title="Сканер штрих и QR кодов">
                            <i class="fas fa-barcode"></i>
                        </a>
                        {% include "cup/catalog/barcode-modal.twig" %}

                        <a href="#btn-modal-import" rel="modal:open" class="btn btn-secondary btn-icon ml-1 text-white" data-toggle="tooltip" data-placement="top" title="Импорт продуктов">
                            <i class="fas fa-file-import"></i>
                        </a>
                        {% include "cup/catalog/import-modal.twig" %}
                        <a href="/cup/catalog/data/export{{ category.uuid ? '?category=' ~ category.uuid : '' }}" class="btn btn-secondary btn-icon ml-1 text-white" data-toggle="tooltip" data-placement="top" title="Экспорт текущего списка продуктов">
                            <i class="fas fa-file-export"></i>
                        </a>

                        <a href="/cup/catalog/product/add{{ category ? '?category=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-1">
                            <i class="fa fa-plus"></i>
                            Добавить товар
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th class="d-none">#</th>
                                    <th width="20%">Наименование</th>
                                    <th width="15%">Категория</th>
                                    <th>Артикул</th>
                                    <th>Цена</th>
                                    <th width="10%">{{ category.product.field_1 ?? 'Поле 1' }}</th>
                                    <th width="10%">{{ category.product.field_2 ?? 'Поле 2' }}</th>
                                    <th width="10%">{{ category.product.field_3 ?? 'Поле 3' }}</th>
                                    {#<th width="8%" class="text-center"><i class="fas fa-boxes" data-toggle="tooltip" data-placement="top" title="Объем упаковки"></i></th>
                                    <th width="8%" class="text-center"><i class="fas fa-warehouse" data-toggle="tooltip" data-placement="top" title="Количество на складе"></i></th>#}
                                    <th width="10%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in products %}
                                    {% set buf = categories.firstWhere('uuid', item.category) %}
                                    <tr>
                                        <td class="text-center d-none">{{ item.order }}</td>
                                        <td>
                                            <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ item.address }}" target="_blank">
                                                {{ item.title }}
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/cup/catalog/product/{{ buf.uuid }}">
                                                {{ buf.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if item.vendorcode %}
                                                <div>{{ item.vendorcode }}</div>
                                            {% endif %}
                                            {% if item.barcode %}
                                                <div><i class="fas fa-barcode d-inline pr-1"></i>{{ item.barcode }}</div>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.price|number_format(2, '.', ' ') }}</td>
                                        <td>{{ item.field1 }}</td>
                                        <td>{{ item.field2 }}</td>
                                        <td>{{ item.field3 }}</td>
                                        {#<td class="text-center">{{ item.getVolume() }}</td>
                                        <td class="text-center">{{ item.stock|format_number({fraction_digit: 2}) }}</td>#}
                                        <td class="text-center">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="/cup/catalog/product/{{ item.uuid }}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Изменить</a>
                                                    </li>
                                                    <li><div class="dropdown-divider"></div></li>
                                                    <li>
                                                        <form action="/cup/catalog/product/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить публикацию?');">
                                                            <button type="submit" class="btn btn-link text-danger">
                                                                <i class="fas fa-trash-alt"></i> Удалить
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if category.uuid %}
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category/{{ category.uuid }}/edit" class="btn btn-info btn-round ml-1">
                                <i class="fa fa-edit"></i>
                                Изменить категорию
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}

    <script>
        $(() => {
            let
                $table = $('[data-table]'),
                table = $table.DataTable();

            $(window).on('event:barcode_scan:result', (e, data) => {
                if (data.barcode) {
                    table.search(data.barcode).draw();

                    $.notify({
                        title: 'Отсканирован код',
                        message: data.barcode
                    }, {
                        type: 'info',
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                        }
                    });
                }
            });
        })
    </script>
{% endblock %}
