{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Номенклатура</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/product/{{ category.parent }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}
                        <h4 class="card-title">Номенклатура {{ category ? 'в категории ' ~ category.title : '' }} ({{ products.count() }})</h4>

                        <a href="#btn-modal-import" rel="modal:open" class="btn btn-secondary btn-icon ml-auto text-white" data-toggle="tooltip" data-placement="top" title="Импорт продуктов">
                            <i class="fas fa-file-import"></i>
                        </a>
                        {% include "cup/catalog/import-modal.twig" %}
                        <a href="/cup/catalog/data/export{{ category.uuid ? '?category=' ~ category.uuid : '' }}" class="btn btn-secondary btn-icon ml-1 text-white" data-toggle="tooltip" data-placement="top" title="Экспорт текущего списка продуктов">
                            <i class="fas fa-file-export"></i>
                        </a>

                        <a href="/cup/catalog/product/add{{ category ? '?category=' ~ category.uuid : '' }}" class="btn btn-primary btn-round ml-1">
                            <i class="fa fa-plus"></i>
                            Добавить товар
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table data-table class="table table-striped table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="d-none">#</th>
                                    <th>Наименование</th>
                                    <th width="10%">Цена</th>
                                    <th width="7%" class="text-center"><i class="fas fa-boxes" data-toggle="tooltip" data-placement="top" title="Объем упаковки"></i></th>
                                    <th width="7%" class="text-center"><i class="fas fa-warehouse" data-toggle="tooltip" data-placement="top" title="Количество на складе"></i></th>
                                    <th width="10%">Артикул</th>
                                    <th width="15%" class="text-center no-sorting"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in products %}
                                    <tr>
                                        <td class="text-center d-none">{{ item.order }}</td>
                                        <td>{{ item.title }}</td>
                                        <td class="text-right" data-order="{{ item.price }}">{{ item.price|number_format(2, '.', ' ') }}</td>
                                        <td class="text-center" data-order="{{ item.volume }}">{{ item.getVolumeWithUnit() }}</td>
                                        <td class="text-center" data-order="{{ item.stock }}">{{ item.stock|format_number({fraction_digit: 2}) }}</td>
                                        <td>
                                            {% if item.vendorcode %}
                                                <div>{{ item.vendorcode }}</div>
                                            {% endif %}
                                            {% if item.barcode %}
                                                <div class="text-nowrap">
                                                    <i class="fas fa-barcode d-inline pr-1" data-toggle="tooltip" data-placement="right" title="Штрих код"></i>
                                                    {{ item.barcode }}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <form action="/cup/catalog/product/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить продукт?');">
                                                <div class="btn-group">
                                                    <a href="/cup/catalog/product/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                        <i class="fas fa-fw fa-edit"></i>
                                                        <span class="d-none d-md-inline-block">Изменить</span>
                                                    </a>
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>
                                                        <span class="d-none d-md-inline-block">Удалить</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if category.uuid %}
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <a href="/cup/catalog/category/{{ category.uuid }}/edit" class="btn btn-info btn-round ml-1">
                                <i class="fa fa-edit"></i>
                                Изменить категорию
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

