{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Nomenclature'|locale }} {{ category ? 'in category'|locale ~ ' ' ~ category.title : '' }} ({{ products.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        {% if category %}
                            <a href="/cup/catalog/product/{{ category.parent_uuid }}" class="btn btn-secondary btn-icon mr-1">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        {% endif %}

                        <a href="#btn-modal-import" rel="modal:open" class="btn btn-secondary btn-icon ml-auto text-white" data-toggle="tooltip" data-placement="top" title="{{ 'Import products'|locale }}">
                            <i class="fas fa-file-import"></i>
                        </a>
                        {% include "cup/catalog/product/index-modal-import.twig" %}

                        <a href="{{ path_for('cup:catalog:product:export', [], {'category': category.uuid.toString()}) }}" class="btn btn-secondary btn-icon ml-1 text-white" data-toggle="tooltip" data-placement="top" title="{{ 'Export current product list'|locale }}">
                            <i class="fas fa-file-export"></i>
                        </a>

                        <a href="{{ path_for('cup:catalog:product:add', [], {'category': category.uuid.toString()}) }}" class="btn btn-primary btn-round ml-1">
                            <i class="fa fa-plus"></i>
                            {{ 'Create product'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-12 col-sm">{{ 'Title'|locale }}</div>
                            <div class="col-4 col-sm-2 text-md-right">{{ 'Price'|locale }}</div>
                            <div class="col-4 col-sm-2">{{ 'Vendor code'|locale }}</div>
                            <div class="col-4 col-sm-3 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for item in products %}
                                <div class="row">
                                    <div class="col-12 col-sm">
                                        {{ item.title|u.truncate(42, '...') }}

                                        <div class="float-right d-none d-md-block">
                                            {% if item.special %}
                                                <i class="fas fa-fw fa-tag pl-1" title="{{ 'Special'|locale }}"></i>
                                            {% endif %}
                                            {% if item.discount %}
                                                <i class="fas fa-fw fa-minus pl-1" title="{{ 'Discount'|locale }}"></i>
                                            {% endif %}
                                            {% if item.tax %}
                                                <i class="fas fa-fw fa-percentage pl-1" title="{{ 'Tax'|locale }}"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-2 text-md-right">
                                        {{ item.getPriceCalculated()|number_format(2, '.', ' ') }}
                                    </div>
                                    <div class="col-4 col-sm-2">
                                        {% if item.vendorcode %}
                                            <div>{{ item.vendorcode }}</div>
                                        {% endif %}
                                        {% if item.barcode %}
                                            <div class="text-nowrap">
                                                <i class="fas fa-barcode d-inline pr-1" data-toggle="tooltip" data-placement="right" title="{{ 'Barcode'|locale }}"></i>
                                                {{ item.barcode }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-4 col-sm-3 text-right">
                                        <form action="/cup/catalog/product/{{ item.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to uninstall the product?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/catalog/product/{{ item.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-fw fa-trash-alt"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

