{% set randomId = random() %}

<div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3" style="padding-top: 11px">
        {% block tbutton '' %}
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 ml-sm-auto">
        {% include 'cup/form.twig' with {
            'type': 'search',
            'args': {
                'placeholder': 'Search'|locale,
                'data': {'table-search': randomId}
            }
        } %}
    </div>
</div>

<div class="row clusterize-header text-nowrap">
    {% block thead %}
        <div class="col clusterize-no-data">
            {{ 'No headers'|locale }}
        </div>
    {% endblock %}
</div>
<div data-table-scroll="{{ randomId }}" class="clusterize-scroll">
    <div class="clusterize-content text-nowrap" data-table-content="{{ randomId }}" style="display: none;">
        {% block tbody %}
            <div class="row clusterize-no-data">
                <div class="col">
                    {{ 'No data'|locale }}
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        let $rows = $('[data-table-content="{{ randomId }}"] div.row:not(.clusterize-no-data)').detach();

        (async () => {
            await window.loader([
                '/assets/js/plugin/clusterize/clusterize.min.css',
                '/assets/js/plugin/clusterize/clusterize.min.js',
            ]);

            let $scroll = $('[data-table-scroll="{{ randomId }}"]'),
                $content = $('[data-table-content="{{ randomId }}"]');

            // init table
            let clusterize = new Clusterize({
                rows: $rows.map((i, el) => el.outerHTML).toArray(),
                scrollElem: $scroll.get(0),
                contentElem: $content.show().get(0),
                rows_in_block: 10,
                blocks_in_cluster: 3,
                no_data_text: '{{ 'No data'|locale }}'
            });

            $('[data-table-search="{{ randomId }}"]').on('keyup', (e) => {
                let query = e.currentTarget.value.toLowerCase(),
                    result = [];

                for (let i = 0; i < $rows.length; i++) {
                    if ($rows[i].innerText.toLowerCase().includes(query)) {
                        result.push($rows[i].outerHTML);
                    }
                }

                clusterize.update(result);
            });
        })();
    });
</script>
