{% set tableId = random() %}

<div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 ml-sm-auto">
        {% include 'cup/form.twig' with {
            'type': 'search',
            'args': {
                'placeholder': 'Поиск'|locale,
                'data': {'table-search': tableId}
            }
        } %}
    </div>
</div>

<div data-table="{{ tableId }}" class="clusterize table-responsive">
    <table class="table table-striped table-hover w-100">
        <thead>
            {% block thead %}
                <tr class="clusterize-no-data">
                    <th>Empty headers</th>
                </tr>
            {% endblock %}
        </thead>
    </table>
    <div data-table-scroll="{{ tableId }}" class="clusterize-scroll" style="max-height: 70vh!important; overflow: auto;">
        <table class="table table-striped table-hover w-100">
            <tbody data-table-content="{{ tableId }}" class="clusterize-content">
                {% block tbody %}
                    <tr class="clusterize-no-data">
                        <td>{{ 'Нет данных'|locale }}</td>
                    </tr>
                {% endblock %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', async () => {
        await window.loader([
            'https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.18.0/clusterize.min.css',
            'https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.18.0/clusterize.min.js',
        ]);

        let $scroll = $('[data-table-scroll="{{ tableId }}"]'),
            $content = $('[data-table-content="{{ tableId }}"]'),
            $rows = $content.find('tr:not(.clusterize-no-data)').detach();

        // init table
        let clusterize = new Clusterize({
            rows: $rows.map((i, el) => el.outerHTML).toArray(),
            scrollElem: $scroll.get(0),
            contentElem: $content.show().get(0),
            rows_in_block: 10,
            blocks_in_cluster: 3,
        });

        $('[data-table-search="{{ tableId }}"]').on('keyup', (e) => {
            let query = e.currentTarget.value.toLowerCase(),
                result = [];

            for (let i = 0; i < rows.length; i++) {
                if (rows[i].innerText.toLowerCase().includes(query)) {
                    result.push(rows[i].outerHTML);
                }
            }

            clusterize.update(result);
        });
    });
</script>
