{#
    label - ярлык поля
    name - имя поля
    type - тип поля
    args - аргументы поля
    message - сообщение
    prefix - префикс перед полем
    postfix - постфикс после поля
#}
{% htmlcompress %}
    {% if name is empty %}
        {% set name = '' %}
    {% endif %}
    {% if type is empty %}
        {% set type = 'text' %}
    {% endif %}
    {% if args is empty %}
        {% set args = {} %}
    {% endif %}
    {% set error = '' %}
    {% if _error[name] is same as(false) or _error[name] is not empty %}
        {% set error = 'has-error' %}
    {% endif %}

    <div data-input class="{{ type == 'checkbox' or type == 'radio' ? type : 'form-group' }} {{ error }}">
        {# COMMON LABEL #}
        {% if label is not empty and type not in ['checkbox', 'radio'] %}
            <label class="placeholder">
                <b>{{ label }}</b>

                {% if args.required is not empty %}
                    <i class="text-danger">*</i>
                {% endif %}
            </label>
        {% endif %}

        {% if prefix is not empty or postfix is not empty %}
            <div class="input-group">
            {% if prefix is not empty %}<span class="input-group-addon">{{ prefix }}</span>{% endif %}
        {% endif %}

        {{ form( type, name, { 'class': ['form-control'] } | merge(args) ) }}

        {# LABEL FOR CHECKBOX OR RADIO #}
        {% if label is not empty and type in ['checkbox', 'radio'] %}
            <label for="{{ type }}-{{ name }}" class="placeholder">
                <b>{{ label }}</b>

                {% if args.required is not empty %}
                    <i class="text-danger">*</i>
                {% endif %}
            </label>
        {% endif %}

        {% if prefix is not empty or postfix is not empty %}
            {% if postfix is not empty %}<span class="input-group-addon">{{ postfix }}</span>{% endif %}
            </div>
        {% endif %}

        {% if error %}
            <label class="error" for="{{ label }}">{{ _error[name] }}</label>
        {% endif %}

        {% if message is not empty %}
            <small class="form-text text-muted">{{ message }}</small>
        {% endif %}
    </div>
{% endhtmlcompress %}
