{#
    label - field label
    name - field name
    type - field type
    args - field other args
    message - additional bottom message
    prefix - bootstrap prefix
    postfix - bootstrap postfix
    postfix_btn - bootstrap postfix btn
#}
{% htmlcompress %}
    {% if name is null %}
        {% set name = '' %}
    {% endif %}
    {% if type is null %}
        {% set type = 'text' %}
    {% endif %}
    {% if args is null %}
        {% set args = {} %}
    {% endif %}
    {% set error = '' %}
    {% if name in _error|keys %}
        {% set error = 'has-error' %}
    {% endif %}

    <div data-input class="{{ type == 'checkbox' or type == 'radio' ? type : (postfix_btn is not empty ? '' : 'form-group') }} {{ error }}">
        {# COMMON LABEL #}
        {% if label is not empty and type not in ['checkbox', 'radio'] %}
            <label>
                <b>{{ label }}</b>

                {% if args.required is not empty %}
                    <i class="text-danger">*</i>
                {% endif %}
            </label>
        {% endif %}

        {% if prefix is not empty or postfix is not empty or postfix_btn is not empty %}
            <div class="input-group">
            {% if prefix is not empty %}<span class="input-group-addon">{{ prefix }}</span>{% endif %}
        {% endif %}

        {{ form( type, name, { 'id': type ~ '-' ~ name, 'class': ['form-control'] }|merge(args) ) }}

        {# LABEL FOR CHECKBOX OR RADIO #}
        {% if label is not empty and type in ['checkbox', 'radio'] %}
            <label for="{{ type }}-{{ name }}" class="placeholder">
                <b>{{ label }}</b>

                {% if args.required is not empty %}
                    <i class="text-danger">*</i>
                {% endif %}
            </label>
        {% endif %}

        {% if prefix is not empty or postfix is not empty or postfix_btn is not empty %}
            {% if postfix is not empty %}<span class="input-group-addon">{{ postfix }}</span>{% endif %}
            {% if postfix_btn is not empty %}<span class="input-group-append">{{ postfix_btn|raw }}</span>{% endif %}
            </div>
        {% endif %}

        {% if error %}
            <label class="error" for="{{ label }}">{{ _(_error[name]) }}</label>
        {% endif %}

        {% if message is not empty %}
            <small class="form-text text-muted">{{ message }}</small>
        {% endif %}
    </div>
{% endhtmlcompress %}
