{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Пользователи</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ user ? 'Редактирование пользователя ' ~ user.username : 'Добавление пользователя' }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Логин',
                                    'type': 'text',
                                    'name': 'username',
                                    'args': {
                                        'value': user.username,
                                        'required': true,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Новый пароль',
                                    'type': 'text',
                                    'name': 'password','postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Оставьте пустым, если не хотите менять"></i>',
                                    'args': {
                                        'required': user ? false : true,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Имя',
                                    'type': 'text',
                                    'name': 'firstname',
                                    'args': {
                                        'value': user.firstname,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Фамилия',
                                    'type': 'text',
                                    'name': 'lastname',
                                    'args': {
                                        'value': user.lastname,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'value': user.email,
                                        'required': true,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Подписан на рассылку',
                                    'type': 'select',
                                    'name': 'allow_mail',
                                    'args': {
                                        'option': {'yes':'Да', 'no':'Нет'},
                                        'selected': user.allow_mail ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Телефон',
                                    'type': 'tel',
                                    'name': 'phone',
                                    'args': {
                                        'value': user.phone,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Группа',
                                    'type': 'select',
                                    'name': 'level',
                                    'args': {
                                        'option': reference('/App/Domain/Types/UserLevelType::LIST'),
                                        'selected': user.level
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% if user.uuid %}
                                    {% include 'cup/form.twig' with {
                                        'label': 'Статус',
                                        'type': 'select',
                                        'name': 'status',
                                        'args': {
                                            'option': reference('/App/Domain/Types/UserStatusType::LIST'),
                                            'selected': user.status
                                        }
                                    } %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>

        {% if user.uuid %}
            <div class="col-md-4">
                <div class="card card-round">
                    <div class="card-body">
                        <div class="user-profile text-center">
                            <div class="avatar avatar-xl mb-3">
                                <img src="{{ user.avatar(80) }}" alt="{{ user.name('full') }}" class="avatar-img rounded-circle">
                            </div>
                            <div class="name">{{ user.username }}</div>
                            <div class="text-muted">{{ user.level }}</div>
                            <div class="text-muted">{{ user.uuid }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-bordered">
                            {% if user.firstname or user.lastname %}
                                <li class="list-group-item">Полное имя: {{ user.getName('full') }}</li>
                            {% endif %}

                            <li class="list-group-item">E-Mail: {{ user.email }}</li>
                            <li class="list-group-item">Зарегистрирован: {{ user.register|df('d.m.Y H:i:s') }}</li>
                            <li class="list-group-item">Последнее
                                редактирование: {{ user.change|df('d.m.Y H:i:s') }}</li>

                            {% if user.session.date.getTimestamp() %}
                                <li class="list-group-item">Последняя
                                    активность: {{ user.session.date|df('d.m.Y H:i:s') }}</li>
                            {% endif %}

                            {% if user.session.ip %}
                                <li class="list-group-item">IP: {{ user.session.ip }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
