{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            {% include 'cup/form-header.twig' with {
                'item': item,
                'create': 'Creating a user',
                'update': 'User editing'
            } only %}
            {% if item %}
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="/cup/user/{{ item.uuid }}/view" class="btn btn-secondary">
                        {{ 'View'|locale }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd ml-auto" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {{ item ? '' : 'active show' }}" data-toggle="pill" href="#user" role="tab">
                                        {{ 'Account'|locale }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ item ? 'active show' : '' }}" data-toggle="pill" href="#contact" role="tab">
                                        {{ 'Contact'|locale }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            {# Tab: Account #}
                            <div class="tab-pane fade {{ item ? '' : 'active show' }}" id="user" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Login'|locale,
                                            'type': 'text',
                                            'name': 'username',
                                            'args': {
                                                'value': item.username,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'New password'|locale,
                                            'type': 'text',
                                            'name': 'password',
                                            'postfix': item ? '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('Leave blank if you don\'t want to change'|locale) ~ '"></i>' : null,
                                            'args': {
                                                'required': user ? false : true,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Group'|locale,
                                            'type': 'select',
                                            'name': 'group_uuid',
                                            'args': {
                                                'option': _({(null): 'WITHOUT_GROUP'}|merge(groups.pluck('title', 'uuid').all())),
                                                'selected': item.group_uuid ?? parameter('user_group', null)
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.uuid %}
                                            {% include 'cup/form.twig' with {
                                                'label': 'Status'|locale,
                                                'type': 'select',
                                                'name': 'status',
                                                'args': {
                                                    'option': _(constant('/App/Domain/Casts/User/Status::LIST')),
                                                    'selected': item.status
                                                }
                                            } %}
                                        {% endif %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'External ID'|locale,
                                            'type': 'text',
                                            'name': 'external_id',
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('System field. If you don\'t know what this field is for, it\'s best not to touch it.'|locale) ~ '"></i>',
                                            'args': {
                                                'value': item.external_id,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Site language (code)'|locale,
                                            'message': 'For example: <code>en-US</code>'|locale,
                                            'type': 'text',
                                            'name': 'language',
                                            'args': {
                                                'placeholder': _language,
                                                'value': item.language ? item.language : '',
                                            }
                                        } %}
                                    </div>
                                </div>

                                {% include 'cup/form-image.twig' with { 'entity': item, 'multiple': false } %}
                            </div>

                            {# Tab: Contact #}
                            <div class="tab-pane fade {{ item ? 'active show' : '' }}" id="contact" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Firstname'|locale,
                                            'type': 'text',
                                            'name': 'firstname',
                                            'args': {
                                                'value': item.firstname,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Lastname'|locale,
                                            'type': 'text',
                                            'name': 'lastname',
                                            'args': {
                                                'value': item.lastname,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Patronymic'|locale,
                                            'type': 'text',
                                            'name': 'patronymic',
                                            'args': {
                                                'value': item.patronymic,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Gender'|locale,
                                            'type': 'text',
                                            'name': 'gender',
                                            'args': {
                                                'value': item.gender,
                                                'list': 'genders',
                                                'autocomplete': 'off',
                                            }
                                        } %}

                                        <datalist id="genders">
                                            <option value="{{ 'Male'|locale }}">{{ 'Male'|locale }}</option>
                                            <option value="{{ 'Female'|locale }}">{{ 'Female'|locale }}</option>
                                        </datalist>

                                        {% include 'cup/form.twig' with {
                                            'label': 'Birthdate'|locale,
                                            'type': 'date',
                                            'name': 'birthdate',
                                            'args': {
                                                'value': item.birthdate|df('Y-m-d'),
                                                'placeholder': '30.09.1991',
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Other/Note'|locale,
                                            'message': 'Allows to specify any information up to 250 characters'|locale,
                                            'type': 'textarea',
                                            'name': 'additional',
                                            'args': {
                                                'value': item.additional,
                                                'style': 'min-height: 75px;'
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Telephone'|locale,
                                            'type': 'tel',
                                            'name': 'phone',
                                            'args': {
                                                'value': item.phone,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'E-Mail',
                                            'type': 'email',
                                            'name': 'email',
                                            'args': {
                                                'value': item.email,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Subscribed to newsletter'|locale,
                                            'type': 'select',
                                            'name': 'is_allow_mail',
                                            'args': {
                                                'option': _(['yes', 'no']),
                                                'selected': item.is_allow_mail ? 'yes' : 'no'
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Country'|locale,
                                            'type': 'text',
                                            'name': 'country',
                                            'args': {
                                                'value': item.country,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'City'|locale,
                                            'type': 'text',
                                            'name': 'city',
                                            'args': {
                                                'value': item.city,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Postcode'|locale,
                                            'type': 'text',
                                            'name': 'postcode',
                                            'args': {
                                                'value': item.postcode,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Address'|locale,
                                            'type': 'textarea',
                                            'name': 'address',
                                            'args': {
                                                'value': item.address,
                                                'style': 'min-height: 133px;'
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Company'|locale,
                                            'type': 'text',
                                            'name': 'company[title]',
                                            'args': {
                                                'value': item.company.title,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Position'|locale,
                                            'type': 'text',
                                            'name': 'company[position]',
                                            'args': {
                                                'value': item.company.position,
                                            }
                                        } %}
                                    </div>

                                    <div class="col-12 col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Registration No'|locale,
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('ID'|locale) ~ '"></i>',
                                            'type': 'text',
                                            'name': 'legal[code]',
                                            'args': {
                                                'value': item.legal.code,
                                            }
                                        } %}

                                        {% include 'cup/form.twig' with {
                                            'label': 'Tax ID'|locale,
                                            'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="' ~ ('VAT ID'|locale) ~ '"></i>',
                                            'type': 'text',
                                            'name': 'legal[number]',
                                            'args': {
                                                'value': item.legal.number,
                                            }
                                        } %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Web-site'|locale,
                                            'type': 'text',
                                            'name': 'website',
                                            'args': {
                                                'value': item.website,
                                            }
                                        } %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'cup/form.twig' with {
                                            'label': 'Contact source'|locale,
                                            'type': 'textarea',
                                            'name': 'source',
                                            'args': {
                                                'value': item.source,
                                                'style': 'min-height: 75px;'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
