{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Пользователи</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <form method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ item ? 'Редактирование пользователя ' ~ item.username : 'Добавление пользователя' }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Логин',
                                    'type': 'text',
                                    'name': 'username',
                                    'args': {
                                        'value': item.username,
                                        'required': true,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Новый пароль',
                                    'type': 'text',
                                    'name': 'password','postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Оставьте пустым, если не хотите менять"></i>',
                                    'args': {
                                        'required': user ? false : true,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Имя',
                                    'type': 'text',
                                    'name': 'firstname',
                                    'args': {
                                        'value': item.firstname,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Фамилия',
                                    'type': 'text',
                                    'name': 'lastname',
                                    'args': {
                                        'value': item.lastname,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'value': item.email,
                                        'required': true,
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Подписан на рассылку',
                                    'type': 'select',
                                    'name': 'allow_mail',
                                    'args': {
                                        'option': _(['yes', 'no']),
                                        'selected': item.getAllowMail() ? 'yes' : 'no'
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Телефон',
                                    'type': 'tel',
                                    'name': 'phone',
                                    'args': {
                                        'value': item.phone,
                                    }
                                } %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Адрес',
                                    'type': 'textarea',
                                    'name': 'address',
                                    'args': {
                                        'value': item.address,
                                        'style': 'min-height: 133px;'
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Доп. инфо',
                                    'message': 'Можно указать любую информацию до 250 символов.',
                                    'type': 'textarea',
                                    'name': 'additional',
                                    'args': {
                                        'value': item.additional,
                                        'style': 'min-height: 133px;'
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Группа',
                                    'type': 'select',
                                    'name': 'group_uuid',
                                    'args': {
                                        'option': _({(NIL): 'WITHOUT_GROUP'}|merge(groups.pluck('title', 'uuid').all())),
                                        'selected': item.group_uuid ?? parameter('user_group')
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% if item.uuid %}
                                    {% include 'cup/form.twig' with {
                                        'label': 'Статус',
                                        'type': 'select',
                                        'name': 'status',
                                        'args': {
                                            'option': _(reference('/App/Domain/Types/UserStatusType::LIST')),
                                            'selected': item.status
                                        }
                                    } %}
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Внешний ID',
                                    'type': 'text',
                                    'name': 'external_id',
                                    'postfix': '<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Системное поле. Если вы не знаете, зачем это поле - лучше его не трогать."></i>',
                                    'args': {
                                        'value': item.external_id,
                                    }
                                } %}
                            </div>
                        </div>

                        <hr>

                        {% include 'cup/form-image.twig' with { 'entity': item, 'multiple': false } %}
                    </div>

                    <div class="card-action">
                        {% include "cup/form-save.twig" %}
                    </div>
                </form>
            </div>
        </div>

        {% if item.uuid %}
            <div class="col-md-4">
                <div class="card card-round">
                    <div class="card-body">
                        <div class="user-profile text-center">
                            <div class="avatar avatar-xl mb-3">
                                <img src="{{ item.avatar(80) }}" alt="{{ item.name('full') }}" class="avatar-img rounded-circle">
                            </div>
                            <div class="name">{{ item.username }}</div>
                            <div class="text-muted">{{ item.uuid }}</div>
                            <div class="text-muted">{{ item.external_id }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-bordered">
                            {% if item.firstname or item.lastname %}
                                <li class="list-group-item">Полное имя: {{ item.getName('full') }}</li>
                            {% endif %}

                            {% if item.publications|count > 0 %}
                                <li class="list-group-item">Публикаций: {{ item.publications|count }}</li>
                            {% endif %}
                            {% if item.orders|count > 0 %}
                                <li class="list-group-item">Заказов: {{ item.orders|count }}</li>
                            {% endif %}

                            <li class="list-group-item">E-Mail: {{ item.email }}</li>
                            <li class="list-group-item">Зарегистрирован: {{ item.register|df('d.m.Y H:i:s') }}</li>
                            <li class="list-group-item">Последнее редактирование: {{ item.change|df('d.m.Y H:i:s') }}</li>

                            {% for integration in item.getIntegrations() %}
                                <li class="list-group-item">Подключена социальная сеть: {{ integration.provider|capitalize }}</li>
                            {% endfor %}

                            {% if item.session.date.getTimestamp() %}
                                <li class="list-group-item">Последняя активность: {{ item.session.date|df('d.m.Y H:i:s') }}</li>
                            {% endif %}

                            {% if item.auth_code %}
                                <li class="list-group-item">Код авторизации: {{ item.auth_code }}</li>
                            {% endif %}

                            {% if item.session.ip %}
                                <li class="list-group-item">IP: {{ item.session.ip }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
