{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'List of users'|locale }} ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Login'|locale,
                                    'type': 'text',
                                    'name': 'username',
                                    'args': {
                                        'placeholder': 'Pushkin'
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Login exact match'|locale,
                                    'type': 'checkbox',
                                    'name': 'username_strong',
                                    'args': {
                                        'value': 1
                                    }
                                } %}
                            </div>
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'placeholder': 'pushkin@example.com'
                                    }
                                } %}
                            </div>
                            <div class="col-md-4">
                                {% include 'cup/form.twig' with {
                                    'label': 'Group'|locale,
                                    'type': 'select',
                                    'name': 'group_uuid',
                                    'args': {
                                        'option': _({'': '---', (NIL): 'WITHOUT_GROUP'}|merge(groups.pluck('title', 'uuid').all())),
                                        'selected': _request.group_uuid ?? ''
                                    }
                                } %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {% include 'cup/form.twig' with {
                                    'label': 'Banned'|locale,
                                    'type': 'checkbox',
                                    'name': 'status_block',
                                    'args': {
                                        'value': 1
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Deleted'|locale,
                                    'type': 'checkbox',
                                    'name': 'status_delete',
                                    'args': {
                                        'value': 1
                                    }
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary">{{ 'Search'|locale }}</button>
                        <button type="reset" class="btn btn-danger">{{ 'Reset'|locale }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/user/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            {{ 'Create user'|locale }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <div class="col-sm-2 d-none d-sm-block">{{ 'Login'|locale }}</div>
                            <div class="col-12 col-sm">{{ 'Full name'|locale }}</div>
                            <div class="col-6 col-sm">{{ 'Phone & E-Mail'|locale }}</div>
                            <div class="col-sm-1 d-none d-sm-block">{{ 'Group'|locale }}</div>
                            <div class="col-6 col-sm-4 text-right"></div>
                        {% endblock %}

                        {% block tbody %}
                            {% for user in list %}
                                <div class="row
                                    {{
                                        user.status == constant('/App/Domain/Casts/User/Status::DELETE')
                                        ? 'bg-danger'
                                        : (
                                            user.status == constant('/App/Domain/Casts/User/Status::BLOCK')
                                            ? 'bg-warning'
                                            : ''
                                        )
                                    }}
                                ">
                                    <div class="col-sm-2 d-none d-sm-block">{{ user.username ?: '<code>&mdash;</code>'|raw }}</div>
                                    <div class="col-12 col-sm">
                                        <span class="d-none d-xl-inline">{{ user.name('full')|u.truncate(25, '...') ?: '<code>&mdash;</code>'|raw }}</span>
                                        <span class="d-xl-none">{{ user.name('name') ?: '<code>&mdash;</code>'|raw }}</span>
                                    </div>
                                    <div class="col-6 col-sm">
                                        <div class="float-left">
                                            {{ user.getPhone() ? (user.getPhone() ~ '<br>')|raw : '' }}
                                            {{ user.getEmail() ? (user.getEmail() ~ '<br>')|raw : '' }}
                                        </div>

                                        <div class="text-black-50 float-right d-none d-lg-inline">
                                            {% if user.allow_mail %}
                                                <i class="fa fa-envelope" data-toggle="tooltip" data-placement="right" title="{{ 'Subscribed to newsletter'|locale }}"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-1 d-none d-sm-block">{{ user.group.title|u.truncate(10, '.') ?? ('<code>' ~ ('Without group'|locale) ~ '</code>')|raw }}</div>
                                    <div class="col-6 col-sm-4 text-right">
                                        <form action="/cup/user/{{ user.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete the user?'|locale }}');">
                                            <div class="btn-group">
                                                <a href="/cup/user/{{ user.uuid }}/view" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-address-card"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'View'|locale }}</span>
                                                </a>
                                                <a href="/cup/user/{{ user.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">{{ 'Change'|locale }}</span>
                                                </a>
                                                {% if user.status != constant('/App/Domain/Casts/User/Status::DELETE') %}
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>
                                                        <span class="d-none d-md-inline-block">{{ 'Delete'|locale }}</span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
