{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Список пользователей ({{ list.count() }})</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'Логин',
                                    'type': 'text',
                                    'name': 'username',
                                    'args': {
                                        'placeholder': 'Pushkin'
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Точное совпадение логина',
                                    'type': 'checkbox',
                                    'name': 'username_strong',
                                    'args': {
                                        'value': 1
                                    }
                                } %}
                            </div>
                            <div class="col-md-6">
                                {% include 'cup/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                    'args': {
                                        'placeholder': 'pushkin@example.com'
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Забанен',
                                    'type': 'checkbox',
                                    'name': 'status_block',
                                    'args': {
                                        'value': 1
                                    }
                                } %}

                                {% include 'cup/form.twig' with {
                                    'label': 'Удален',
                                    'type': 'checkbox',
                                    'name': 'status_delete',
                                    'args': {
                                        'value': 1
                                    }
                                } %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary">Найти</button>
                        <button type="reset" class="btn btn-danger">Сбросить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="/cup/user/add" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Добавить пользователя
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% embed 'mixin/datatable.twig' %}
                        {% block thead %}
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">Логин</th>
                                <th>Фамилия и имя</th>
                                <th>Телефон и Email</th>
                                <th width="15%" class="d-none d-md-table-cell">Группа</th>
                                <th width="30%" class="text-right"></th>
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for user in list.sortByDesc('session.date') %}
                                <tr class="
                                    {{
                                        user.status == reference('/App/Domain/Types/UserStatusType::STATUS_DELETE')
                                        ? 'bg-danger'
                                        : (
                                            user.status == reference('/App/Domain/Types/UserStatusType::STATUS_BLOCK')
                                            ? 'bg-warning'
                                            : ''
                                        )
                                    }}
                                ">
                                    <td width="15%" class="d-none d-md-table-cell">{{ user.username ?: '<code>&mdash;</code>'|raw }}</td>
                                    <td>
                                        <span class="d-none d-xl-inline">{{ user.getName('full') ?: '<code>&mdash;</code>'|raw }}</span>
                                        <span class="d-xl-none">{{ user.getName('name') ?: '<code>&mdash;</code>'|raw }}</span>
                                    </td>
                                    <td>
                                        <div class="float-left">
                                            {{ user.getPhone() ? (user.getPhone() ~ '<br>')|raw : '' }}
                                            {{ user.getEmail() ? (user.getEmail() ~ '<br>')|raw : '' }}
                                        </div>

                                        <div class="text-black-50 float-right d-none d-lg-inline">
                                            {% for integration in user.getIntegrations() %}
                                                <i class="fab fa-{{ integration.provider }}"></i>
                                            {% endfor %}
                                            {% if user.getAllowMail() %}
                                                <i class="fa fa-envelope" data-toggle="tooltip" data-placement="right" title="Подписан на рассылку"></i>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td width="15%" class="d-none d-md-table-cell">{{ user.group.title ?? '<code>Без группы</code>' }}</td>
                                    <td width="30%" class="text-right">
                                        <form action="/cup/user/{{ user.uuid }}/delete" style="display: inline-block" method="post" onsubmit="return confirm('Вы действительно хотите удалить пользователя?');">
                                            <div class="btn-group">
                                                <a href="/cup/user/{{ user.uuid }}/view" class="btn btn-sm btn-outline-info">
                                                    <i class="fas fa-address-card"></i>
                                                    <span class="d-none d-md-inline-block">Подробней</span>
                                                </a>
                                                <a href="/cup/user/{{ user.uuid }}/edit" class="btn btn-sm btn-info">
                                                    <i class="fas fa-fw fa-edit"></i>
                                                    <span class="d-none d-md-inline-block">Изменить</span>
                                                </a>
                                                {% if user.status != reference('/App/Domain/Types/UserStatusType::STATUS_DELETE') %}
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>
                                                        <span class="d-none d-md-inline-block">Удалить</span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
