{% extends 'cup/layout.twig' %}

{% block breadcrumb %}
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">{{ 'Contact'|locale }}</h2>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <a href="/cup/user/{{ item.uuid }}/edit" class="btn btn-secondary">
                    {{ 'Edit contact'|locale }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="user-profile text-center">
                        <div class="avatar avatar-xl mb-3">
                            <img src="{{ item.avatar(80) }}" alt="{{ item.name('full') }}" class="avatar-img rounded-circle">
                        </div>
                        <div class="font-weight-bold">{{ item.name('full') }}</div>
                        {% if item.company.title %}
                            <div class="text-muted">{{ item.company.title ?: '&mdash;' }}</div>
                            <div class="text-muted">{{ item.company.position ?: '&mdash;' }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-4">{{ 'Firstname'|locale }}</dt>
                        <dd class="col-8">{{ item.firstname ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Lastname'|locale }}</dt>
                        <dd class="col-8">{{ item.lastname ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Patronymic'|locale }}</dt>
                        <dd class="col-8">{{ item.patronymic ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Gender'|locale }}</dt>
                        <dd class="col-8">{{ item.gender ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Birthdate'|locale }}</dt>
                        <dd class="col-8">{{ item.birthdate|df('d.m.Y') }}</dd>

                        {% if item.company.title or item.company.position %}
                            <dt class="col-4">{{ 'Company'|locale }}</dt>
                            <dd class="col-8">{{ item.company.title ?: '&mdash;' }}</dd>
                            <dt class="col-4">{{ 'Position'|locale }}</dt>
                            <dd class="col-8">{{ item.company.position ?: '&mdash;' }}</dd>
                        {% endif %}

                        {% if item.source %}
                            <dt class="col-4">{{ 'Contact source'|locale }}</dt>
                            <dd class="col-8">{{ item.source ?: '&mdash;' }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row mb-0">
                        {% if item.phone %}
                            <dt class="col-4">{{ 'Telephone'|locale }}</dt>
                            <dd class="col-8">
                                <a href="tel:{{ item.phone }}">{{ item.phone }}</a>
                                <a href="sms:{{ item.phone }}" class="pl-1">SMS</a>
                            </dd>
                        {% endif %}
                        {% if item.email %}
                            <dt class="col-4">E-Mail</dt>
                            <dd class="col-8"><a href="mailto:{{ item.email }}">{{ item.email }}</a></dd>
                            <dt class="col-4">{{ 'Subscribed to newsletter'|locale }}</dt>
                            <dd class="col-8">{{ (item.allow_mail ? 'Yes' : 'No')|locale }}</dd>
                        {% endif %}
                        <dt class="col-4">{{ 'Country'|locale }}</dt>
                        <dd class="col-8">{{ item.country ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'City'|locale }}</dt>
                        <dd class="col-8">{{ item.city ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Address'|locale }}</dt>
                        <dd class="col-8">{{ item.address ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Postcode'|locale }}</dt>
                        <dd class="col-8">{{ item.postcode ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Other/Note'|locale }}</dt>
                        <dd class="col-8">{{ item.additional ?: '&mdash;' }}</dd>
                        {% if item.website %}
                            <dt class="col-4">{{ 'Web-site'|locale }}</dt>
                            <dd class="col-8"><a href="{{ item.website }}" target="_blank">{{ item.website }}</a></dd>
                        {% endif %}
                        {% if item.messengers %}
                            <dt class="col-4">{{ 'Messengers'|locale }}</dt>
                            <dd class="col-8">{{ item.messengers.implode(', ') }}</dd>
                        {% endif %}
                        {% if item.legal.code or item.legal.number %}
                            <dt class="col-4">{{ 'Registration No'|locale }}</dt>
                            <dd class="col-8">{{ item.legal.code ?: '&mdash;' }}</dd>

                            <dt class="col-4">{{ 'Tax ID'|locale }}</dt>
                            <dd class="col-8">{{ item.legal.number ?: '&mdash;' }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-4">UUID</dt>
                        <dd class="col-8">{{ item.uuid }}</dd>
                        <dt class="col-4">{{ 'Login'|locale }}</dt>
                        <dd class="col-8">{{ item.username ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Group'|locale }}</dt>
                        <dd class="col-8">{{ item.group ? item.group.title : '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'External ID'|locale }}</dt>
                        <dd class="col-8">{{ item.external_id ?: '&mdash;' }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-4">{{ 'Publications'|locale }}</dt>
                        <dd class="col-8">{{ item.publications|count ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Orders'|locale }}</dt>
                        <dd class="col-8">{{ item.orders|count ?: '&mdash;' }}</dd>
                        <dt class="col-4">{{ 'Social networks'|locale }}</dt>
                        <dd class="col-8">{{ item.getIntegrations()|count ? item.getIntegrations().pluck('provider').implode(', ') : '&mdash;' }}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <dl class="row mb-0">
                                <dt class="col-4">{{ 'Registered'|locale }}</dt>
                                <dd class="col-8">{{ item.register|df('d.m.Y H:i:s') }}</dd>
                                <dt class="col-4">{{ 'Last update'|locale }}</dt>
                                <dd class="col-8">{{ item.change|df('d.m.Y H:i:s') }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row mb-0">
                        {% for token in item.tokens %}
                            <dt class="col-4" data-unique="{{ token.unique }}">
                                {{ token.comment ?? '&mdash;' }} ({{ token.ip }})<br>
                                {{ token.date|df('d.m.Y H:i:s') }}
                            </dt>
                            <dd class="col-8">{{ token.agent }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
